<section class="contacts-toolbar">
  <% if (cs = subject.contact_subjects(:direction => :sent).first(6)).present? %>
    <h4>
      <%= t('contacts') %>
    </h4>
    <span class="line"></span>
    <ul>
      <% cs.each do |contact| %>
        <li>
          <%= link_to(image_tag(contact.logo.url(:small), :alt => contact.name, :title => contact.name, :size => "small"), contact) %>
        </li>
      <% end %>
    </ul>
    <nav class="contacts-more">
      <%= link_to t("contact.view_all"), [ profile_subject, Contact.new ] %>
    </nav>    
  <% end %>
</section>
