<section class="groups">
  <% if (gs = subject.contact_subjects(direction: :sent, type: :group) { |as| as.recent.first(6) }).present? %>
    <h4>
      <%= t('group.n', :count => subject.contact_subjects(:direction => :sent, type: :group).count) %>
    </h4>
    <span class="line"></span>
    <ul>
      <% gs.each do |g| %>
        <li>
          <%= link_to(image_tag(g.logo.url(:small), :alt => g.name, :title => g.name, :size => "small"), g) %>
        </li>
      <% end %>
    </ul>
    <nav class="groups-more">
      <%= link_to t("group.view_all"), polymorphic_path([ profile_subject, Contact.new ], type: :group) %>
    </nav>
  <% end %>
</section>
