<section id="toolbar" class="toolbar-home">
  <%= render partial: 'toolbar/subject' %>

  <% content_for :toolbar_menu do %>
    <div class="base_items"/>
  <% end %>

  <%= render partial: 'toolbar/menu' %>
</section>
