<div id="avatar_profile">
  <%= link_to image_tag(subject.logo.url(:medium), :alt => subject.name , :size => "150x150"), subject %>

  <% if subject == current_subject %>
    <div class="logo_menu logo_caption">    
      <%= link_to t('avatar.profile_change'), polymorphic_path([subject, :profile], section: :avatar)  %>
    </div>        
  <% end %>
</div>

<div class= "subject-name-phone">
  <%= subject.name %>
</div>
