<%= render :partial => 'toolbar/subject' %>

<div class="block space_center">
</div>

<div id="menu_lateral" class="toolbar_menu">
    <%= messages_toolbar_menu %>
</div>

<div class="block space_center">
</div>
