<div class="logo_home">
  <%= link_to (image_tag(current_subject.logo.url(:medium) , :size => "small", :alt => current_subject.name )), current_subject  %>
</div>
<h5>
  <%= link_to truncate_name(current_subject.name, :length => 80), current_subject %>
</h5>
