//= require jquery.tipsy

SocialStream.Calendar = (function(SS, $, undefined){
  var elementRegExp = new RegExp('sidebar_day_(..?)_(..?)_(..?.?.?)');
  var eventsPath;

  var elementMatch = function(el){
    return elementRegExp.exec(el.id);
  }

  var elementDate = function(el) {
    var m = elementMatch(el);

    if(m == null) return;

    return new Date(m[3], (m[2]-1), m[1], 23, 59, 59);
  }

  var eventElement = function(date) {
    return $('#sidebar_day_' + date.getDate() + '_' + (date.getMonth()+1) + '_' + date.getFullYear())
  }

  var init = function(options){
    eventsPath = options["eventsPath"]

    var now = new Date();

    eventElement(now).addClass('today');


    $('#sidebar_calendar td').each(function(index, domEl){
      var d = elementDate(domEl)

      if(d < now) $(domEl).addClass('past');
      if(d.getMonth() != now.getMonth() && d > now) $(domEl).addClass('next_month');
    });

    $.ajax({
      dataType: 'json',
      cache: false,
      url: eventsPath,
      data: {
        start: options["start"],
        end: options["end"]
      },

      success: initBusyEvents
    });
  }

  var initBusyEvents = function(events) {
    $.map(events, function(event) {
      var start = new Date(event.start); // This applies TZ
      var end = new Date(event.end);

      for(loopTime=start.getTime(); loopTime <= end.getTime(); loopTime+=86400000) {
        var d = new Date(loopTime);
        var domEl = eventElement(d);

        domEl.addClass("busy");
        domEl.tipsy({
          title: busyTipsy,
          html: true,
          fade: true,
          hoverable: true,
          gravity: 'ne',
          opacity: 0.95
        });
      }
    })
  }

  var busyTipsy = function(){
    var startDate = elementDate(this)
    startDate.setHours(0);
    startDate.setMinutes(0);
    startDate.setSeconds(0);
    var endDate   = elementDate(this)

    $.ajax({
      dataType: "script",
      url: eventsPath,
      data: {
        // use UNIX timestamps
        start: Math.round(startDate.getTime() / 1000),
        end:   Math.round(endDate.getTime() / 1000),
        tipsy: this.id
      }
    });

    return '<div id="tipsy-' + this.id + '" class="tipsy-sidebar_calendar"><img src="<%= asset_path('loading.gif') %>"></div>';
  }

  return {
    init: init
  }

})(SocialStream, jQuery);
