#content
  h2
    font-family: $serifFontFamily
    .open
      padding: 10px

    

#password_adjust,
.open
  padding: 5px
#email_adjust,
.open
  padding: 5px
#languaje_adjust,
.open
  padding: 5px
#notiffications_adjust,
.open
  padding: 5px
#apikey_adjust,
.open
  padding: 5px
#cancel_adjust,
.open
  padding: 5px

  