.content-full
  @include makeColumnoMargin(12, 0)
  .timeline
    .media
      .media-heading
        font-size: 20px


  .btn-group
    @include clearfix
    button
      @include makeColumn(2, 0)
      font-size: 18px
      color: $grayLighter
      width: 157px
      &:hover
        color: $grayLight
    .active
      color: $grayLight

  section
    @include clearfix
    .left
      @include makeColumnoMargin(6, 0)
      display: inline
    .center
      @include makeColumnoMargin(12, 0)
    .right
      @include makeColumn(5, 0)
      display: inline-block
    .left,
    .center,
    .right
      margin-top: 20px
      header
        font-size: 18px
        line-height: 15px
      article
        margin-bottom: 20px
        .content
          @include clearfix
          margin-top: 7px
          border-top: 1px solid #f3f3f3
          padding-top: 7px
          .case
            float: left
            width: 361px
            margin-left: 20px
            font-size: 12px
            word-wrap: break-word
            .first-line
              display: inline
              width: 241px
              float: left
              a
                font-size: 14px
                font-weight: bold
                display: block
            span
              color: $grayLighter
          .well-small
            width: 50px
            float: right
            margin-bottom: 0px
            text-align: right
         
    .right
      display: inline-block
      margin-left: 40px

#explore-header
  width: 100%
  display: table
  table-layout: fixed
  .section
    display: table-cell
    height: 26px
    