.content-full
  @include makeColumn(12, 0)
  margin-left: 0
  .btn-group
    margin-left: 40px
    margin-right: 40px
    clear: both
    button
      @include makeColumn(2, 0)
      font-size: 18px

#explore
  @include makeColumn(12, 0)
  .left,
  .right
    @include makeColumn(5, 0)
    h3
      border-bottom: 1px solid #999
      font-size: 18px

  .left
    display: inline
    margin-left: 30px
    .trending
      li
        .first-line
          a
            font-size: 14px
        .second-line
          font-size: 12px
  .right
    display: inline-block
    margin-left: 40px
