@import 'fcbkComplete'

     
ul.holder  
  width: 90%
  @include border-radius(5px) 

.facebook-auto
  .default 
    font-family: $sansFontFamily
    font-size: 12px

  ul
    background: black
    width: 200px !important
    
    li
      background: black
  
