@import 'fcbkComplete'

.fcbk
  ul.holder
    width: 90%
    padding-right: 7px
    @include border-radius(5px) 
    li.bit-box
      margin: 3px
      background: none repeat scroll 0 0 rgba(0, 232, 232, 0.1)
      font-size: 12px
      font-family: $sansFontFamily
      padding: 4px 15px 4px 6px
      .closebutton
        margin-top: -4px
        font-size: 10px
        color: #999
        background: none
        &:hover
          color: #444

    .deleted
      background-color: rgb(249,255,255) !important
      color: #CCCCCC !important

    .maininput
      font-size: 12px
      font-family: $sansFontFamily
  

  .facebook-auto
    margin-top: -10px
    .default 
      font-family: $sansFontFamily
      font-size: 12px
    ul
      width: auto !important
      li
        @include border-radius(5px) 
        background: none repeat scroll 0 0 #fff
        width: auto
        color: #888
        border: solid 1px #ccc
        font-family: $sansFontFamily
        font-size: 12px
        margin-bottom: 1px
        &:hover
          color: #444
          background: none repeat scroll 0 0 rgb(239,255,255)
          border: solid 1px rgb(239,255,255)
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)
          /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
          /*All filters must be placed together*/
          -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)
          -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)

  .send
    float: right
    margin: 10px 61px 0 0


  


      
    








  


