.wrapper
  @include grid-fluid(12, 0)
#wrapper_body
  @include grid-fluid(12, 0)

#frontpage,
#registration,
#forgot-pass
  .right
    @include makeColumn(5, 1)
    display:inline-block
      input
        @include clearfix
        &[type="password"]
          width: 96%
    .btn
      margin: 10px 25px 0 0
      float: right 
#welcome,
  .left,
  .forgot
    @include makeColumn(7, 4)
    @include clearfix
    h2
      margin-left: -20px

#presentation
  @include makeColumnoMargin(6, 0)
  display: inline
  margin: 40px 0 0 30px
  width: 430px

#remember
  width: 150px
  input
    display: inline
  label
    display: inline-block
    margin-top: 6px
#header_search_form
  margin-bottom: 0px

#search
  width: 100%
  input
    &[type="text"],
      width: 97%
  .thumbnail
    width: 100%

#registration,
#new_user,
#welcome
  .reg-labels,
  .forgot-pass,
  .sig-in
    @include clearfix
  .options
    a
      margin-right: 6px

  .sig-in
    .btn
      margin-top: -20px
#registration
  .welcome
    text-align: center
    .message
      @include opacity (60)
      font-size: 60px
      font-weight: bold
      margin: -219px 30px 0
      width: 288px
      margin-left: 80px

      .to
        font-size: 40px
        margin-top: 10px
        line-height: 94px
  .right
    margin-top: 160px
  .left
    margin-top: 4px
#login_data
  @include clearfix

.right
  @include makeColumn(5, 1)
  display:inline-block
  .div_login,
  .div_registration,
  .div_password,
  .div_sign_in
    @include makeColumn(4, 0)
    @include box-shadow(0px 0px 13px rgba(50, 50, 50, 0.15))
    @include border-radius(15px)
    padding: 15px
    margin-top: 50px
    color: #8c8c8c
    h3
      text-align: right
      font-size: 35px
      line-height: 24px
      margin-bottom: 20px
      margin-top: 5px
    .input_username
      width: 96%
    .btn
      margin-bottom: 20px !important
      margin-right: 0px !important
    .soften
      clear: both
  .div_registration
    margin-top: 30px

#sign_in
  @include makeColumn(4, 1)
  display:inline-block
  @include box-shadow(0px 0px 13px rgba(50, 50, 50, 0.15))
  @include border-radius(15px)
  padding: 15px
  margin-top: 50px
  color: #8c8c8c
  h3
    text-align: right
    font-size: 35px
    line-height: 24px
    margin-bottom: 20px
    margin-top: 5px
  .input_username
    width: 96%
  .btn
    margin-bottom: 20px !important
    margin-right: 0px !important
  .soften
    clear: both
  