@import "bootstrap"

h2
  display: inline
.read_all
  float: right
  margin-top: 28px
  display: inline-block
  a
    text-decoration: none
    &:hover
      color: white

.notification
  padding: 5px
  margin-bottom: 4px
  margin-top: 4px

.content_left
  float: left
  padding-left: 6px
  display: inline
  .sender_photo
    padding: 2px 5px
    a
      text-decoration: none
      &:hover
        opacity: 0.4
  .date
    color: #666666
    font-size: 11px

.content_right
  color: #666666
  .subjet
    font-weight: bold
    white-space: nowrap
  .briefing
    white-space: nowrap
    width: 92%
    overflow: hidden
    text-overflow: ellipsis
    color: #666666