#relation_customs
  .relation_list
    @include makeColumn(3, 0)
    padding-right: 5px
    border-right: 1px solid $grayLight
    input
      margin-right: 10px
    label
      display: inline-block

    .actions
      display: inline-block
      float: right
      margin-right: 10px

    .edit_name
      margin-top: -22px
      .edit_relation_custom
        margin-bottom: 0px
        .icon_tool16-ok
          margin-top: -6px

    .btn
      margin-left: 32px

#relation_custom_name
  @include size (auto, 150px) 
  margin: 0 10px 0 15px


#new_relation
  a 
    float: right
    margin-right: 10px
  .new_relation_custom
    .btn
      @include buttonBackground($blueDark, $blue, $textColor: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,.25)) 
      float: right
      margin: 10px 41px 0 0
    

#new_relation_input_block
  .btn
    margin-left: 32px


#permissions
  @include makeColumn(6, 0)
  h4
    text-align: left
  li
    margin-left: -17px
    input
      display: inline
    label
      display: inline-block

.postit
  @include gradient-directional(rgba(255,255,214,1), rgba(255,255,136,1), 94deg)
  @include border-radius (60px)
  @include size (154px, 225px) 
  @include box-shadow (19px 12px 16px 0px rgba(50, 50, 50, 0.1))
  text-align: center
  padding: 0 20px 0 20px
  position: relative
  border: 1px solid #E8E8E8
  border-top: 60px solid #fdfd86 !important
  font-family: $handwriteFontFamily
  font-size: 20px
  display: inline-block
  
  

.rotate
  @include rotate(-3deg)
  .rotate-int
    @include rotate(-9deg)


.privacity-rules
  border-top: 1px solid $grayLighter
  p
    word-wrap: break-word
    padding-left: 10px
  .btn
    float: right
