#profile-info
  .section
    padding: 6px
    .edit_icon
      display: inline
    h4
      display: inline-block

    .briefing
      color: $gray
      .empty
        @include border-radius (4px)
        background-color: #D9EDF7
        border: 1px solid #BCE8F1
        color: #3A87AD
        margin: 4px 0 10px 19px
        padding: 7px 15px 7px 14px
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
      h5
        margin: 16px
        color: $grayLighter
        font-size: 17px
        font-weight: bold
      p
        @include border-radius (15px)
        margin: -15px 11px 0 5px
        background-color: #F9F9F9
        border: 0 solid #F9F9F9
        padding: 12px 10px 11px 27px
        widht: 325px

    .update
      margin-left: 22px
      .facebook-auto
        margin-top: -10px
        .default 
          font-family: $sansFontFamily
          font-size: 12px
          ul
            width: auto !important
            li
              @include border-radius(5px)
              background: none repeat scroll 0 0 $white
              width: auto
              color: $grayLight
              border: solid 1px #ccc
              font-family: $sansFontFamily
              font-size: 12px
              margin-bottom: 1px
              &:hover
                @include box-shadow (0px 0px 4px rgba(0, 0, 0, 0.4)) 
                color: $gray
                background: none repeat scroll 0 0 rgb(239,255,255)
                border: solid 1px rgb(239,255,255)
             
        
        .maininput
          font-size: 12px
          font-family: $sansFontFamily

#profile_birthday_3i,
#profile_birthday_2i,
#profile_birthday_1i
  width: auto
  margin-right: 4px
.avatar
  padding: 4px
  .edit_icon
    display: inline
  h4
    display: inline-block

#profile-info
  .tags,
  .personal,
  .comunication-info,
  .experience,
  .avatar
    .btn
      @include buttonBackground($blueDark, $blue, $textColor: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,.25)) 
      float: right
      margin: 10px 33px 0 0
    .update
      background-color: whitesmoke
      padding: 2px 0px 40px 30px
      h6
        label
          display: inline
      textarea
        margin-top: 20px
  .personal
    .btn
      margin-top: -8px

