#sidebar
  @include makeColumn(3, 0)
  padding-top: 6px  

#suggestions
  h4
    color: $black
    font-family: $serifFontFamily
    margin-left: 10px

#pendings
  h4
    color: $black
    font-family: $serifFontFamily
    margin-left: 10px


.contact
  padding: 5px 4px
  width: 220px
  display: inline-block
  .avatar
    @include makeColumn(1, 0)
    display: inline
    margin-left: -5px
    img
      @include border-radius(5px)
      width: 45px 
   
  .data
    @include makeColumn(2, 0)
    display: inline-block
    margin: 0 0 16px -7px
    .name
      color: $black
      .x
        font-size: 12px
        color: $black
        a
          float: right
          text-decoration: none
          margin-top: -19px
    .info
      font-size: 12px
      color: $grayLight
  .add
    @include makeColumnoMargin(3, 0)
    font-size: 10px
    z-index: 1
    .edit_contact
      margin-bottom: 0px
    .dropdown-toggle
      margin-left: 0px !important 
      widht: 100%

  .see-more
    font-size: 12px
    line-height: 20px
    a
      text-decoration: none
      color: $grayLight