#toolbar 
  @include makeColumnoMargin(2, 0)
  display: table-cell

  #avatar_profile
    text-aling: center
    img
      @include border-radius(5px)
      max-width: 139px
      width: 139px
    h5 
      a
        text-decoration: none
        color: $black
        text-aling: center
    input, select
      @include makeColumnoMargin(2, 0)

  .contact
    width: 140px
    img
      padding: 14px 10px 0 0

        
.toolbar_menu
  @include border-radius(5px)

    

       

