#toolbar 
  @include makeColumn(2, 0)
  display: table-cell
  margin-left: 0px

  #avatar_profile
    text-aling: center
    img
      @include border-radius(5px)
      max-width: 139px
      width: 139px
    h5 
      a
        text-decoration: none
        color: #000000
        text-aling: center
    input, select
      @include makeColumn(2, 0)
      margin-left: 0px

  .contact
    width: 140px
    img
      padding: 14px 10px 0 0

        
.toolbar_menu
  @include border-radius(5px)

    

       

