@import 'chosen'

.activity_avatar
  @include border-radius(5px) 
  @include makeColumn(1, 0)
  display: inline
  margin-right: 13px -10px 0px 4px

.activity_content 
  @include makeColumn(7, 0)
  display: inline-block
  margin-left: 5px

  h5
    @include makeColumnoMargin(6, 0)
    font-size: 16px
    text-decoration: none
    &:hover
      text-decoration: none
  .x

    margin-left: 0px
    font-size: 12px
    color: black
    padding-top: 14px 5px 0px 0px
    a
      float: right
      text-decoration: none
      color: $grayLight
      &:hover
        color: $red
        
  textarea
      resize: none
      width: 100%

.activity_objects
  margin-left: 56px
  .attachment_thumb
    @include makeColumnoMargin(1, 0)
    background: black
    .attachment_text_link
      font-size: 14px
      .post p 
        margin: 0 0 4px

    
.activity_options
  @include makeColumn(6, 0)
  margin-left: 56px 
  .post_time_ago
    display: inline
    font-size: 12px
    color: $grayLight
  .to_comment
    display: inline-block
    font-size: 14px
  .to_like
    display: inline-block
    font-size: 14px
  .audience
    display: inline-block
    font-size: 14px
    .audience_logo
      a
        img
          display: inline
