#wrapper_activities
  margin-top: 30px

  .wall_input
    @include border-radius(7px) 
    background-color: $grayLighter
    padding: 5px 33px 5px 33px
    margin-bottom: 20px



    input
      @include makeColumnoMargin(6, 0)
      margin-top: 8px
      display: block
      &[type="submit"]
        @include size (auto, auto)
        @include buttonBackground($blueDark, $blue, $textColor: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,.25)) 
        padding: 3px 11px 4px 11px
        float: right


      &[type="checkbox"]
        width: 30px
        margin: 3px 0px 0px 0px
        

    .new_document
      display: inline
      padding: 1px 6px 4px 6px

    .btn-group,
    open
      display: inline-block
      .dropdown-menu
        li
          margin-left: 0px
          padding-left: 7px
          a
            padding: 0px !important
            label
              margin-left: 0px
              padding: 0px 16px 0px 0px!important
              &:hover
                background: rgba(0,232,232,0.3)
                color: $white
#flash
  @include makeColumn(10, 0)

