<% if (cs = subject.contact_subjects(:direction => :sent)).present? %>
  <div class="block">
    <div class="header">
      <%=image_tag("btn/btn_friend.png", :class => "header_icon")%>
      <div class="header_text">
         <%= tie.name %>
      </div>
    </div>
  </div>
  <div class ="content">
      <div class="contact space_center">
        <% cs.each do |contact| %>
            <% variable=subject.ties_to(contact).to_a %>
            <% temporal='' %>
            <% variable.each do |temp| %>
              <% temporal=temp.relation_id %>
            <% end %>
            <% if (temporal == tie.id)%>
            <%= link_to(image_tag(contact.logo.url(:contact), :alt => contact.name , :size => "28x28"), contact) %>
            <% end %>
        <% end %>
      </div>
  </div>
<% end %>

