<%= div_for document do %>

  <div class="thumb">
    <%= link_to icon(document, 70), document %>
  </div>

  <div class="text">
    <h6>
      <%= document.title %>
    </h6>

    <div class="description">
      <%= simple_format "#{ auto_link(document.description) } #{ link_to t('details.msg'), document_path(document), :class => 'view_more' }" %>
    </div>
    
  </div>

<% end %> 
