<%= div_for document, :class => 'content_size' do %>

  <div class="attachment_thumb">
    <%= link_to thumb_for(document, 16),
        document, 
        :class => "" %>
  </div>

  <div class="attachment_text">
  	<%= t('document.msg') %><%= link_to "\""+document.title+"\"", 
    document,  
    :class => "attachment_text_link" %>
  </div>

<% end %>
