<div class="model_with_details">
  <div class="logo">
    <%= link_to thumb_for(document, 48), document  %>
  </div>
  <div class="sub-block">
    <div class="name black" >
      <%= link_to truncate_name(document.file_file_name), document %>
    </div>
    <div class="brief">
      <%= t 'like.n',     :count => document.like_count %>
    </div>
   </div>
</div>