<<<<<<< HEAD
<button class="new_document"><%= image_tag 'icons/adjuntar.png', alt: t('document.new_activity.attach'), title: t('document.new_activity.attach') %></button>
=======
<button class="new_document" data-path="<%= documents_path %>"><%= image_tag 'icons/attach.png', alt: t('document.new_activity.attach'), title: t('document.new_activity.attach') %></button>
>>>>>>> d53c35adbab704933c98c74a5396a1afe6812331
