<%= f.file_field :file %>

<div id="new_document_title_wrapper">
<%= f.label :title %> <%= f.text_field :title %>
</div>

<%= javascript_tag do %>
  $(function() {
    $('#new_document_title_wrapper').hide();
    $('#document_file').change(function(){
      $('#new_document_title_wrapper').show();
      $("#document_title").val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
  });
<% end %>
