<% content_for :title do %>
  <%= "#{ current_subject.name }: #{ t('document.new.title') }" %>
<% end %>

<section id="new_document">
  <%= render partial: 'toolbar/profile', locals: { subject: current_subject } %>

  <h1><%= t 'document.new.title' %></h1>

  <%= render partial: 'common_documents/form', locals: { document: @document } %>
</section>
