<section id="explore">
  <div class="left">
    <article class="article">
      <header>
        <%= t 'explore.explore.most_popular' %>
      </header>

      <%= render partial: 'explore/trending',
                 collection: ActivityObject.not_actor.popular.first(6),
                 as: :object %>
    </article>
  </div>

  <div class="right">
    <article>
      <header>
        <%= t 'explore.explore.most_followed' %>
      </header>

      <%= render partial: 'explore/followed',
                 collection: Actor.followed.first(6),
                 as: :actor %>
    </article>
  </div>
</section>
