<div id="explore">
  <div class="left">
    <article class="trending">
      <h3>
        Trending files
      </h3>
      <ul>
        <li>
          <div class="first-line">
            <a href="·">nombre del archivo</a> / <a href="·">nombre del usuario</a>
          </div>
          <div class="second-line">
            descripcion del archivo
          </div>
          <div class="counters">
            <div class="visit_count">
            </div>
            <div class="like_count">
            </div>
          </div>
        </li>
      </ul>
    </article>
    <article class="featured-group">
    <h3>
      Last added file
    </h3>
    <ul>
        <li>
          <div class="title">
            nombre del archivo / autor
          </div>
          <div class="date">
            fecha de actualización del archivo
          </div>
          <div class="counters">
            <div class="visit_count">
            </div>
            <div class="like_count">
            </div>
          </div>
        </li>
      </ul>
    </article>
  </div>
  <div class="right">
    <h3>
      WTF HERE
    </h3>
  </div>
</div>
