<div class="tabnav">
  <ul class="tabnav-tabs">
      <li><a href="#files" class="selected tabnav-tab">Interesting</a></li>
    <li><a href="#activity" class="tabnav-tab">last</a></li>
    <li><a href="#tags" class="tabnav-tab">tags</a></li>
  </ul>
  <%= render partial: 'common_documents/filter' %>
</div>


<div id="files">
</div>
<div id="activity">
</div>
<div id="tags">
</div>