<section id="files">
  <ul id="myTab" class="nav nav-tabs">
    <li class="">
      <a href="#home" data-toggle="tab">
        Destacados
      </a>
    </li>
    <li class="active">
      <a href="#profile" data-toggle="tab">
        más descargados
      </a>
    </li>
    <li class="active">
      <a href="#profile" data-toggle="tab">
        últimos añadios
      </a>
    </li>
  </ul>
  <%= render partial: 'common_documents/filter' %>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="home">
      <article class="article">
        <div class="thumb">
          <%= link_to(raw("<i class='.icon_file_50-rar'></i> "), explore_path)%>
        </div>
        <div class="content">
          <div class="box">
            <div class="first-line">
              <a href="·">nombre</a>
              gdslfgjkdsf dfkjadkbqdf ef d kd
            </div>
          </div>
        </div>
        </div>
                <div class="tab-pane fade active in" id="profile">
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                </div>
                <div class="tab-pane fade" id="dropdown1">
                  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                </div>
                <div class="tab-pane fade" id="dropdown2">
                  <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                </div>
              </div>
              
</section>