<div class="content">
  <div class="case">
<<<<<<< HEAD:base/app/views/explore/_last.html.erb
    <div class="first-line-mini">
      <a href="·">
        nombre
      </a>
      <div class="second-line"> 
        desde el 14 de Febrero de 2011 
      </div>
=======
    <div class="first-line">
      <%= link_to actor.name, actor.subject %>
      <span> 
        <%= actor.description %>
      </span>
>>>>>>> 5fabb2e29ac11cce8bb6a2e997904100058efae5:base/app/views/explore/_followed.html.erb
    </div>
    <aside class="well well-small">
    <div class="top">
      <%= t 'follower.n', count: actor.follower_count %>
    </div>
  </aside>
  </div>
</div>

