<div class="content">
  <div class="case">
    <div class="second-line">
      <%= link_to actor.name, actor.subject %>
    </div>
    <div class="second-line"> 
      <%= actor.description %>
    </div>
    <aside class="well well-small">
      <div class="top">
        <%= t 'follower.n', count: actor.follower_count %>
      </div>
    </aside>
  </div>
</div>

