<div class="content">
  <div class="case">
    <div class="first-line">
      <%= link_to actor.name, actor.subject %>
      <span> 
        <%= actor.description %>
      </span>
    </div>
    <aside class="well well-small">
    <div class="top">
      <%= t 'follower.n', count: actor.follower_count %>
    </div>
  </aside>
  </div>
</div>

