<div class="content">
  <div class="case">
    <div class="first-line-mini">
      <a href="·">
        nombre
      </a>
      <div class="second-line"> 
        desde el 14 de Febrero de 2011 
      </div>
    </div>
    <aside class="well well-small">
    <div class="top">
      0 fans
    </div>
  </aside>
  </div>
</div>

