<section class="content">
  <div class="case">
    <header class="first-line-large">
      <%= link_to object.name, object %>
    </header>
    <section class="second-line"> 
        <%= t 'explore.participants.registered_since', time: l(object.created_at) %>
    </section>
  </div>
</section>

