<div class="content">
  <div class="case">        
    <div class="first-line-large">
      <%= link_to object.name, object %>
    </div>
    <div class="second-line">
      <%= object.description %>
    </div>
  </div>
</div>

