<div class="content">
  <div class="case">
    <div class="first-line">
      <a href="·">
        nombre
      </a>
      <span> 
        desde el 14 de Febrero de 2011 
      </span>
    </div>
    <aside class="well well-small">
    <div class="top">
      0 fans
    </div>
  </aside>
  </div>
</div>

