<div class="content">
  <div class="case">        
    <div class="first-line">
      <a href="·">
        nombre del usuario o grupo
      </a> 
    </div>
    descripcion del la actividad? si no del user o group  
  </div>
</div>

