<section class="content">
  <div class="case">
    <nav class="first-line">
      <a href="·">
        nombre
      </a>
      <span>
        ha recivido 
      </span> 
      <a href="·">
        39
      </a>
    </nav>
  </div>
</section>