<section class="sub-content-mini">
  <h4>
    <%= t 'explore.participants.last_active' %>
  </h4>
  <% User.last_active.first(5).each do |u| %>
    <%= render partial: 'explore/last_active', locals: { object: u } %>
  <% end %>
</section>

<section class="sub-content-small-offset">
  <h4>
    <%= t 'explore.participants.last_registered' %>
  </h4>
  <% User.last_registered.first(5).each do |u| %>
    <%= render partial: 'explore/last_registered', locals: { object: u } %>
  <% end %>
</section>
