<section class="sub-content-small">
  <h4>
    <%= t 'explore.resources.most_visited' %>
  </h4>

  <% ActivityObject.most_viewed.first(5).each do |ao| %>
    <%= render partial: 'explore/resources_most_visited', locals: { object: ao } %>
  <% end %>
</section>

<section class="sub-content-small-offset">
  <h4>
    <%= t 'explore.resources.last_uploaded' %>
  </h4>

  <% ActivityObject.last_uploaded.first(5).each do |ao| %>
    <%= render partial: 'explore/resources_last_uploaded', locals: { object: ao } %>
  <% end %>
</section>
