<div class="content">
  <div class="case">
    <div class="first-line">
      <%= link_to object.title, object.object %>
      <span> 
        <%= t 'explore.resources.uploaded_since', time: l(object.created_at) %>
      </span>
    </div>
  </div>
</div>

