<div class="content">
  <div class="case">
    <div class="first-line-large">
      <%= link_to object.title, object.object %>
      <div class="second-line">
        <%= t 'explore.resources.uploaded_since', time: l(object.created_at) %>
      </div>
    </div>
  </div>
</div>

