<article class="content">
  <div class="case">        
    <nav class="first-line-large">
      <%= link_to object.title, object.object %>
    </nav>
    <article class="second-line">
      <%= object.description %>
    </article>
  </div>
</article>

