<section id="search">
  <div class="center">
    <article>
      <header>
      	Advanced search
      </header>
      <select>
        <option>all</option>
        <option>users</option>
        <option>groups</option>
        <option>files</option>
        <option>events</option>
      </select>

      <%= form_tag search_path do %>
        <%= text_field_tag :q, params[:q], class: "input-xlarge", placeholder: t('explore.search.placeholder') %>
        <%= submit_tag t('explore.search.submit'), class: "btn btn-large" %>
      <% end %>
    </article>
  </div>

  <section id="search-results">


  <div class="contact">
    <div class="avatar">
      <a href="#">
        <img alt="8" src="assetes/logos/contact/user.png">
      </a>
    </div>

    <div class="data">
      <div class="name">
        <a href="/groups/zoomzone">
          Zoomzone
        </a>
      </div>

      <div class="info">
        2 contactos en común
      </div>
    </div>
  </div>


  <div class="contact">
    <div class="avatar">
      <a href="#">
        <img alt="8" src="assetes/logos/contact/user.png">
      </a>
    </div>

    <div class="data">
      <div class="name">
        <a href="/groups/zoomzone">
          Zoomzone
        </a>
      </div>

      <div class="info">
        2 miembros
      </div>
    </div>
  </div>


  <div class="document">
    <div class="thumb">
      <a href="#" title="loremipsum.odt">
        <i class="icon_file_50-odt"></i>
      </a>
    </div>
    <div class="brifing">
      <h5>
        <a href="#">
          loremipsum.odt
        </a>
      </h5>
      <div class="author">
        por <a href="/users/demo">&lt;Demo&gt;</a>
      </div>

      <div class="counters">
        <span class="visit_count"> 
          <span class="counter">
            0
          </span>
          vistas
        </span> 
        /
        <span class="like_count">
          <span class="counter">
            0
          </span> 
          fans
        </span>
        </div>
      </div>
    </div>



  <div class="events">
    <div class="avatar">
      <a href="#">
        <img alt="Poster" src="/assets/poster.png">
      </a>
    </div>

    <div class="data">
      <div class="name">
        <a href="/groups/zoomzone">
          nombre evento
        </a>
      </div>

      <div class="date">
        2 MAR 2013
      </div>

      <div class="frequency">
        all Mondays
      </div>
    </div>
  </div>


  </section>
</section>
