<section id="search">
  <div class="center">
    <article>
      <header>
      	Advanced search
      </header>
      <select>
        <option>all</option>
        <option>users</option>
        <option>groups</option>
        <option>files</option>
        <option>events</option>
        <option>tags</option>
      </select>
      <input class="input-xlarge" type="text" placeholder="looking for...">
      <button class="btn btn-large">
      	search
      </button>
    </article>

    <div class="advanced-options">    
      <div class="menuv">
        <header>
          advanced options
        </header>
        <hr class="soften">
        <ul class="advanced">
          <li>DATE
            <ol>
              <li>
              	<a href"#" class="gray active">
              	  last day
              	</a>
              </li>
              <li>
              	<a href"#" class="gray">
                  last week
                </a>
              </li>
              <li>
              	<a href"#" class="gray">
              	  last month
              	</a>
              </li>
            </ol>
          </li>
          <li>INTEREST
            <ol>
              <li>
              	<a href"#" class="gray">
              	  more visits
                </a>
              </li>
              <li>
              	<a href"#" class="gray">
              	  best favourites
              	</a>
              </li>
            </ol>
          </li>
          <li>TYPE OF RESOURCE
            <ol>
              <li>
              	<a href"#" class="gray">
              	  image
              	</a>
              </li>
              <li>
              	<a href"#" class="gray">
              	  video
              	</a>
              </li>
              <li>
              	<a href"#" class="gray">
              	  link
              	</a>
              </li>
              <li>
              	<a href"#" class="gray">
              	  objet
              	</a>
              </li>
              <li>
              	<a href"#" class="gray">
              	  document
              	</a>
              </li>
            </ol>
          </li>
        </ul>
      </div>
    </div>
</section>