<section id="search">
  <div class="center">
    <article>
      <header>
      	Advanced search
      </header>
      <select>
        <option>all</option>
        <option>users</option>
        <option>groups</option>
        <option>files</option>
        <option>events</option>
      </select>

      <%= form_tag search_path do %>
        <%= text_field_tag :q, params[:q], class: "input-xlarge", placeholder: t('explore.search.placeholder') %>
        <%= submit_tag t('explore.search.submit'), class: "btn btn-large" %>
      <% end %>
    </article>
  </div>

  <section id="search-results">
    <% @search_result.each do |r| %>
      <%= render partial: "#{ r.class.to_s.tableize }/search_result",
                 locals:  { r.class.to_s.underscore.to_sym => r }  %>
    <% end %>
  </section>
</section>
