<section id="search">
  <div class="center">
    <article>
      <header>
      	Advanced search
      </header>
      <select>
        <option>all</option>
        <option>users</option>
        <option>groups</option>
        <option>files</option>
        <option>events</option>
        <option>tags</option>
      </select>
      <input class="input-xlarge" type="text" placeholder="looking for...">
      <button class="btn btn-large">
      	search
      </button>
    </article>
  </div>
</section>