<section id="tags">
  <div class="center">
  	<div class="search-result">
      <input id="explore-tags-filter" type="text" class="input-medium " placeholder="filtrar" name="filter">
      <div class="tags-list">
        <ul>
          <li>
          	<a>
          	  nano science
          	  <span class="size11 red-2">
          	  	&nbsp;(3)
          	  </span>
          	</a>
          </li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
        </ul>
        <ul>
          <li>
          	<a>
          	  nano science
          	  <span class="size11 red-2">
          	  	&nbsp;(3)
          	  </span>
          	</a>
          </li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
        </ul>
        <ul>
          <li>
          	<a>
          	  nano science
          	  <span class="size11 red-2">
          	  	&nbsp;(3)
          	  </span>
          	</a>
          </li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
        </ul>
        <ul>
          <li>
          	<a>
          	  nano science
          	  <span class="size11 red-2">
          	  	&nbsp;(3)
          	  </span>
          	</a>
          </li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
        </ul>
        <ul>
          <li>
          	<a>
          	  nano science
          	  <span class="size11 red-2">
          	  	&nbsp;(3)
          	  </span>
          	</a>
          </li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
          <li><a>a</a></li>
          <li><a>b</a></li>
          <li><a>c</a></li>
        </ul>
      </div>
    </ul>
  </div>
  </div>
</section>