<div class="content">
  <div class="case">        
    <div class="first-line">
      <a href="·">
        nombre del archivo
      </a> 
        / 
      <a href="·">
        nombre del usuario
      </a>
    </div>
    descripcion del archivodescripcion  
  </div>
  <aside class="well well-small">
    <div class="top">
      5 likes
    </div>
  </aside>
</div>

