<div class="content">
  <div class="case">        
    <div class="first-line">
      <%= link_to object.title, object.object %>
        / 
      <%= link_to object.author_subject.name, object.author_subject %>
    </div>
    <%= object.description %>
  </div>
  <aside class="well well-small">
    <div class="top">
      <%= t 'like.n', count: object.like_count %>
    </div>
  </aside>
</div>

