<div class="btn-group">
  <button class="btn active">Explore</button>
  <button class="btn">Participants</button>
  <button class="btn">Files</button>
  <button class="btn">Activity</button>
  <button class="btn">Tags</button>
  <button class="btn">search</button>
</div>

<%= render partial: 'explore/explore' %>