@import "jplayer.blue.monday"

div.jp-audio
  width: 100%
  div.jp-type-single,
  div.jp-progress 
    top: 2px  !important
    left: 8px  !important
    width: 97%  !important
    height: 60%   !important


#jp_interface_audio_290
  height: 118px

div.jp-progress
  @include size (100%, 75px)
  @include centered

  div.jp-seek-bar
    width: 100%
    .waveform
      float: left

.jp-interface
  height: 125px !important


a.jp-play,
a.jp-pause
  left: 4px !important


a.jp-play,
a.jp-pause,
a.jp-mute,
a.jp-unmute, 
  top: 80px !important
  left: -2px !important

a.jp-mute,
a.jp-unmute, 
  top: 93px !important
  left: 45px !important

.jp-volume-bar
  top: 98px !important
  left: 45px !important


div.jp-duration,
div.jp-current-time,
  top: 89px !important 
  left: 137px !important
  width: 100px !important



div.jp-audio 
div.jp-type-single 
div.jp-volume-bar 
  top: 93px !important
  left: 72px !important


div.jp-playlist
  margin-bottom: 10px
