/**NOTICE**/
$alert-color: #9F6000;
$alert-background: #FEEFB3;
$error-color: #D8000C;
$error-background: #FFBABA;
$success-color: #4F8A10;
$success-background: #DFF2BF;

/**BLUES**/
$auxiliar-color: #879EB5;
$auxiliar-bright-color: #97AEC5;
$input-border-color: #BDC7D8;
$main-color: #1F4A75; /* #2A3890*/
$secondary-color: #DEEFF8; /* #E0EEF5*/
$separation-color: #D4E4EA;
$header-color: #1F4A75;
$header-notification-color: #879EB5;

/**GREYS**/
$details-color: #666; /* #6C6D6F*/
$fill-color: #f5f5f5;

/**OTHERS**/
$sentence-color: #000;
$text-over-main: #FFF;
$unread-color: #E0E0FF;
