@import "colors";

/*************Basic SECTION ********************/
* {	margin: 0;	padding: 0;	font-family: Arial; }
html, body {height: auto;}
.p {	margin: 0px;	padding: 0px;	font-size: inherit;	font-family: inherit;	font-weight: inherit;
      text-align: inherit;	color: inherit;	line-height: inherit;	vertical-align: top;}
p {	padding-top: 0px;	margin-top: 0px;}
img {	border: 0px;}
div {	margin: 0px;	padding: 0px;	font-family: Helvetica;	font-size: 11px;}
.AbsWrap {	width: 100%;	position: relative;}
.rowWrap {	width: 100%;}
a:link,a:visited {	color: $main-color;	font-size: inherit; text-decoration: inherit;}
a:hover {	text-decoration: underline;}
.clearfloat {	clear: both;	height: 0px;}
h2{padding-left:10px;}


/******* Main Structure SECTION***************************/
body{font-size:1.0em;  color: $main-color; background-color:$text-over-main; overflow-y: scroll;}
#wrapper { 	background-color: $fill-color;	width: 100%; margin: 0px auto;	  }
#wrapper_body{min-height: 552px; width: 960px; margin:0px auto;	margin-left: auto;	margin-right: auto;
margin-top: auto; margin-bottom:auto; background-image:none; padding-bottom: 9px;}


 /*********** Notices SECTION *********************/
.notice, .success, .alert, .error, .validation, #error_explanation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 40px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}
.notice ul, .success ul, .alert ul, .error ul, .validation ul, #error_explanation ul{
  margin-left:40px;
  
}
label.validation_error{color: $error-color;background-color: $error-background;border: 1px solid;
                       display: block;padding-left:5px;padding-right:5px;width:90%;}
.notice {border-color:$input-border-color; color: $main-color;background-color: $secondary-color;
         background-image: url('btn/info.png');}
.success {border-color: $success-color;color: $success-color;background-color: $success-background;
          background-image:url('btn/success.png');}
.alert {border-color: $alert-color; color: $alert-color;background-color: $alert-background;
        background-image: url('btn/warning.png');}
.error, #error_explanation {border-color: $error-color; color: $error-color;background-color: $error-background;
                            background-image: url('btn/error.png');}
.error h2, #error_explanation h2{ color: $error-color;}

/************Forms SECTION **************/
input.other_blue{	background-color:$auxiliar-color !important;	border:0px;	cursor:pointer; line-height:135%;
                  padding: 1px 5px !important; margin: 5px 0px !important;}
textarea.new_contact_text_area{ height: 100px; color: $main-color;}
.colum_field_title{ text-align: center; }
.needed{color:$details-color;font-weight: normal;}
.select_relations select{ font-size: 12px; color: white; background-color:$main-color;} 

/************ Forms - Buttons  SECTION ***************************/


button, input[type=submit]{margin: 10px 0 10px 0px;padding: 3px 20px 3px 20px;color:$text-over-main;
                            background-color: $main-color; -moz-border-radius: 6px; -webkit-border-radius: 6px;
                            border-radius: 6px; font-size: 13px;}
.optionHeader {
	color: $text-over-main;
	overflow: hidden;
  background-color: $main-color;
}


/************** BLOCK DIV SECTION *********/
.block { display:block;}
.block .brief {	color: $details-color;}
.block .center{ text-align:center;}
.block .close {  float:right;  vertical-align:top;}
.block .content{ padding: 5px 4px 5px 4px; }
.block .header{vertical-align: middle;	background: $secondary-color;
	padding-left: 10px;	display: block;  height:20px; font-weight:bold;}
.block .header_icon{ margin-top: 2px;  width:14px;  height:14px; }
.block .header_icon_right {	float: right;	padding-right: 5px;	padding-top: 3px;}
.block .header_text {	margin-top: 3px;	display: inline-block;}
.block .header_title {	margin-top: 3px;	display: inline-block; font-weight: bold}
.block .logo{ 	display: inline-block; vertical-align:top;}
.block .right{padding-right:20px; float:right;}
.block .row {	display: block;}
.block .title{ display:inline-block; }
.block .sub-block{	display: inline-block;  padding-left:3px; width:70%; text-align:left;}
.block .close_add_contact {  float:right;  vertical-align:top; margin-right: 1%;  }

/******BLOCK TAB CONTENT  SECTION********/
.block .tab { 	margin-top: 2px;	background: $text-over-main;	padding: 2px 0px 2px 0px;}
.block .tab_content{ padding:5px; text-align:center;}
.block .tab li { display: inline; list-style: none;	padding-right: 2px;}
.block .tab li a {	background-color: $secondary-color;	text-decoration: none;	padding: 4px 3px;	outline: none;}
.block .tab ul {	background: $secondary-color;}
.block .tab li a:hover,
.block .tab li.ui-tabs-nav a,
.block .tab li.ui-tabs-selected a,
.block .tab li a:active	{	background-color: $separation-color;	font-weight: bold;	text-decoration: none;}
.block .tab_browse{	width:49%;	display:inline-block;}
.ui-tabs-hide {	display: none;}


/******** FORMS  SECTION *******/
.block .form_comment{ font-weight:normal;}
.block .field{  display:inline;  padding: 0px;  width:50%;}
.block .form_tag{color: $main-color; padding: 5px 5px 5px 5px;  border:1px solid $input-border-color; width:90%;}
.block .form_tag_long{color: $main-color;	padding: 5px 5px 5px 5px;  border:1px solid $input-border-color; width:91%;}
.block .form_label{display:inline-block;  width:25%; font-weight:bold; vertical-align:top; padding-top:7px;}
.block .form_field{  display:inline-block;  padding: 0px;  width:73%;}
.block #form_select.form_field{ padding: 3px 0px;}
.block .form_row {display: block; padding:5px; padding-left:20px;}
.block .form_sub_row {display: block; padding:5px; padding-left:30px;}
.block .label{  display:inline-block;  width:49%; }
.block .two_columns_container {	margin-top: 5px; }
.block .form_column_left  {	display: block; padding:5px; padding-left:20px; float: left; width:60%; 
                            text-align: center;}
.block .form_column_right {	display: block; padding: 5px 10px 5px 10px; float:right; width:31%; text-align: center;}
.block .form_bottom { display: block; padding:5px; padding-left:20px; clear:both; text-align: center; }
.block .select_relations{ padding-top:20px; text-align: center; }
#form_participants{vertical-align:60%;}

div.chzn-container ul.chzn-choices li.search-field input{ cursor:pointer;}

/********* Links SECTION **********/
.contact_link a{  text-decoration:none;}
.contact_link a:hover{  text-decoration:underline;}


/********* Menu header SECTION ************/
.menu_list ul{list-style-type:none;}
.menu_list li{display: inline;padding-right: 2px; padding-left: 2px; vertical-align: top; }
.line{  display:block;  margin:10px 2px 10px 10px;}

/*************MENU ICON SECTION**********/
.menu_header{  border-bottom: thin solid $separation-color;  width:14.5em;  padding-left:3px;  padding-right:3px;}
.menu_icon{	vertical-align: middle; padding-bottom: 3px;	padding-right: 2px;  padding-left: 2px;	
            display: inline-block;}

/*************SPACES SECTION *************/
.space_center {	padding-top: 9px;	padding-right: 4px;	text-align: center;}

/********** Current logo change **********/
.logo_grid {
  width: 142px;
  height: 119px;
  overflow: hidden;
  position: relative;
}
.logo_grid img {
  position: absolute;
  top: 0;
  left: 23px;
  border: 0;
}

.logo_caption {
  top: 119px;
  left: 23px;
  float: left;
  position: absolute;
  background: $secondary-color;
  opacity: 0.8;
  width: 119px;
  height: 18px;
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.logo_full .logo_caption {
  top: 119px;
  left: 23px;
  padding: 0px;
}

.activities_title_header{
	padding: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
	border: 2px solid transparent;
	color: $sentence-color;
}

.activities_title_header img{
	margin-bottom: -4px;
	margin-right: 4px;
}

#activity_form_select {
	margin-left: 6px;
}

.activity_form_selector{
	padding: 5px;
	margin: 1px 2px;
	margin-bottom: 5px;
	float: left;
	background: $text-over-main;
	border: 1px solid $separation-color;
	cursor: pointer; 
}

.activity_form_selector.selected{
  background: $auxiliar-color;
	border: 1px solid $main-color;
	color: $text-over-main;
	font-weight: bold;
}

.activity_form_selector:hover{
  background: $auxiliar-color;
  color: $text-over-main;
}

.more_pending{
	text-align: center;
}

/********************************* Menu list options ***********/
.menu_plain_list {
  list-style: none;
}
.menu_plain_list li {
  line-height: 27px;
  vertical-align: top;
  display: inline;
}
.menu_plain_list li span:hover {
  background: $separation-color;
}
.menu_plain_list li a:hover {
  text-decoration: none;
}
.menu_plain_list li span {
  padding: 5px 7px;
  background-color: $secondary-color;
}
.menu_plain_list li span.selected, .menu_plain_list li span.active {
  border: solid 1px $main-color;
}
.menu_plain_list li span.disabled {
  background-color: $fill-color;
  color: $input-border-color;
}

.menu_plain_list img{
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  display: inline-block;
}
