@import "colors";

#cheesecake {
  position: relative;
  padding: 20px;
}
#contacts_cheesecake {
  width: 440px;
  height: 440px;
  padding: 0px;  
  float: left;
}
#contacts_filter {
  width: 290px;
  height: 64px;
  position: relative;
  float: left;
  padding: 5px;
}

#cheesecake #contacts_filter #contacts_filter_input {
  padding: 0 3px 0 22px;
  background: url('btn/search_icon.png') 5px 50% no-repeat white;
  font-size: 11px;
  color: $main-color;
  border: solid 1px $input-border-color;
  height: 25px;
  width: 200px;
  margin-left: 26px;
  margin-top: 18px;
}

#contacts_grid {
  width: 300px;
  height: 336px;
  overflow: hidden;
  position: relative;
  float: left;
}
#contacts_grid_extra {
  width: 270px;
  padding: 5px;
  height: 10px;
  border: solid 1px $input-border-color;
  text-align: center;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
#contacts_grid .actor {
  width: 48px;
  height: 48px;
  float: left;
  margin: 4px;
}
#contacts_grid .actor.focused {
  border: 2px solid $main-color;
  margin: 0px;
}
#contacts_grid .actor img {
  width: 48px;
  height: 48px;
}
#contacts_grid .actor.focused img {
  width: 52px;
  height: 52px;
}
#contacts_grid .actor.focused {
  width: 52px;
  height: 52px;
  float: left;
  margin: 0px;
}
#contacts_grid .actor .logo {
  display: inline-block;
}
#contacts_grid .actor .link, #contacts_grid .actor .brief {
  display: none;
}
.cheesecake_actor_tipsy.tipsy {
  padding-top: 2px;
  display: none;
}
.cheesecake_actor_tipsy.tipsy .tipsy-arrow {
  display: none;
}
.cheesecake_actor_tipsy.tipsy .tipsy-inner {
  background-color: $text-over-main;
  padding: 9px;
  border: 1px solid $main-color;
}
.cheesecake_actor_tipsy.tipsy .sub-block {
  width: 100%;
  word-wrap: break-word;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}
.cheesecake_actor_tipsy.tipsy .logo {
  display: none;
}
