@import "colors";

#cheesecake {
  position: relative;
  padding: 20px;
  padding-top: 0px;
}
#edit_sector_button {
  position: absolute;
  top: 75px;
  left: 410px;
  display: none;
  z-index: 3000;
  cursor: pointer;
}
#edit_sector_button img {
  width: 24px;
  height: 24px;
}
#contacts_cheesecake {
  width: 440px;
  height: 440px;
  padding: 0px;
  margin-top: 45px;  
  float: left;
  position: relative;
}
#sector_editor {
  float: left;
  position: relative;
  width: 0px;
  padding: 0px;
  margin: 0px;
  overflow-y: visible;
  overflow-x: hidden;
}
#sector_editor .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#contacts_explorer {
  float: right;
  position: relative;
  width: 300px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  height: 450px;
}
#contacts_filter {
  width: 290px;
  height: 45px;
  position: relative;
  float: left;
  padding: 5px;
}
#contacts_selector_modifiers {
  opacity: 0;
  position: relative;
  float: left;
  width: 280px;
}
#contacts_selector_clear{
  cursor: pointer;
  width: 138px;
  height: 12px;
  position: relative;
  float: left;
  text-align:center;
  padding: 3px;
}
#cheesecake #contacts_filter #contacts_filter_input {
  background: url('btn/search_icon.png') 5px 50% no-repeat white;
  padding: 0 3px 0 22px;
  font-size: 11px;
  color: $main-color;
  border: solid 1px $input-border-color;
  height: 25px;
  width: 200px;
  margin-left: 26px;
  margin-top: 18px;
}

#contacts_grid {
  width: 300px;
  height: 340px;
  overflow: hidden;
  position: relative;
  float: left;
}
#contacts_grid_available {
  width: 300px;
  height: 308px;
  position: relative;
  float: left;
  overflow: auto;
}
#contacts_grid_saving {
  width: 280px;
  height: 100%;
  line-height: 336px;
  overflow: hidden;
  position: absolute;
  opacity: 0.80;
  text-align: center;
  vertical-align: middle;
  background-color: $fill-color;
  z-index: 2000;
}
#contacts_save {
  width: 130px;
  padding-right: 5px;
  height: 30px;
  text-align: right;
  float: left;
}
#contacts_save_form {
  overflow: visible; 
}
#contacts_save_button {
  margin: 5px 0px 0px 0px;
  height: 25px;
  padding: 3px 10px 3px 10px;
}
#contacts_changes {
  width: 500px;
  background-color: $text-over-main;
  display: none;
}
#contacts_changes_button {
  width: 130px;
  height: 25px;
  float: left;
  margin: 10px 0px 0px 20px;
  cursor: pointer;
}
#contacts_changes_title {
  vertical-align: middle;
  padding-top: 6px;
  padding-left: 10px;
  display: block;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 500px;
  border: solid 2px $main-color;
  border-bottom: none;
  background: url('cancel.png') 487px 50% no-repeat $secondary-color;
}
#contacts_changes_details {
  border-top: 0px;
  padding: 5px;
  height: 300px;
  width: 500px;
  overflow-y: auto;
  background-color: $text-over-main;
  border: solid 2px $main-color;
  border-top: none;
  overflow-y: auto;
}
#contacts_changes_details ul{
  padding-left: 20px;
}
.contacts_changes_tipsy_menu.tipsy {
  padding: 0px;
  display: none;
  width: 514px;
  height: 340px;
  top: 135px !important;
}
.contacts_changes_tipsy_menu.tipsy .tipsy-arrow {
  display: none;
}
.contacts_changes_tipsy_menu.tipsy .tipsy-inner {
  background-color: $text-over-main;
  padding:0px;
  max-width: 514px;
  max-height: 340px;
  box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
}
#contacts_changes_details .change_deleted{
  font-weight: bold;
  color: $error-color;
}
#contacts_changes_details .change_modified{
  font-weight: bold;
  color: $alert-color;
}
#contacts_changes_details .change_added{
  font-weight: bold;
  color: $success-color;
}
#contacts_grid .actor {
  width: 48px;
  height: 48px;
  float: left;
  padding: 4px;
  opacity: 0.8;
}
#contacts_grid .actor img {
  width: 48px;
  height: 48px;
}
#contacts_grid .actor.focused {
  opacity: 1;
  padding: 3px;
  background: $secondary-color;
  border: 1px solid $main-color;
}
#contacts_grid .actor.focused img {
  
}
#contacts_grid_selected .actor {
  border: 0px;
  margin: 0px;
  width: 24px;
  height: 24px;
  float: left;
  padding: 2px 2px 0px 2px;
  background-color: $fill-color;
}
#contacts_grid_selected .actor img {
  width: 24px;
  height: 24px;
}
#contacts_grid_selected .actor.focused {
  opacity: 1;
  background: $header-notification-color;
  padding: 2px 2px 2px 2px;
  border: 0px;
}
#contacts_grid_selected .actor.focused img {
  
}
#contacts_grid_selected {
  width: 280px;
  min-height: 28px;
  background-color: $secondary-color;
  border: 1px solid $main-color;
  padding: 0px;
  margin-bottom: 2px;
}
#contacts_grid_selected_hint {
  padding-top: 5px;
  margin: auto;
  height: 11px;
  text-align: center;
}
.cheesecake_actor_tipsy.tipsy {
  padding-top: 2px;
  display: none;
}
.cheesecake_actor_tipsy.tipsy .tipsy-arrow {
  display: none;
}
.cheesecake_actor_tipsy.tipsy .tipsy-inner {
  background-color: $text-over-main;
  padding: 9px;
  border: 1px solid $main-color;
}
.cheesecake_actor_tipsy.tipsy .sub-block {
  width: 100%;
  word-wrap: break-word;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}
.cheesecake_actor_tipsy.tipsy .logo {
  display: none;
}
#sector_form {
  width: 300px;
  float: right;
}
#sector_form .title {
  width: 300px;
  text-align: center;
  font-size: 13px;
  padding: 20px 0px 15px 0px;
}
#sector_form .title #edited_sector_name {
  font-size: 14px;
  font-weight: bold;
  max-width: 150px;
  display: inline-block;
}
#sector_form #edited_sector_color_out {
  border: 1px solid $main-color;
  background: $header-notification-color;
  width: 14px;
  height: 14px;
  padding: 3px;
}
#sector_form #edited_sector_color_in {
  background: $secondary-color;
  width: 14px;
  height: 14px;
}
#sector_form .form_row.less_padding {
  padding: 2px 0px 2px 20px;
}
#sector_form .subsector {
  border: 1px solid $main-color;
  background: $secondary-color;
  width: 260px;
  min-height: 20px;
}
#sector_form .add_subsector {
  border: 1px solid $main-color;
  color: $main-color;
  background: $auxiliar-color;
  width: 260px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#sector_form .add_subsector:hover {
  background: $auxiliar-bright-color;
}
#sector_form .subsector .title {
  width: 260px;
  text-align: center;
  font-size: 11px;
  padding: 5px 0px 5px 0px;
}
#sector_form .subsector .title .edited_subsector_name {
  font-size: 11px;
  font-weight: bold;
  max-width: 150px;
  display: inline-block;
}
.permissions_explanation {

}
.permissions_explanation_tipsy_menu.tipsy {
  border: 1px solid $main-color;
  background: $secondary-color;
  box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  overflow: hidden;
  max-width: 300px;
  width: 300px;
  padding-top: 3px;
}
.permissions_explanation_tipsy_menu.tipsy .tipsy-arrow {
  display: none;
}
.permissions_explanation_tipsy_menu.tipsy .tipsy-inner {
  max-width: 300px;
  text-align: left;
  padding: 5px 8px 4px 2px;
}
.permissions_explanation_tipsy_menu.tipsy .tipsy-inner .permission {
  padding: 4px 0px 4px 20px;
}
.permissions_explanation_tipsy_menu.tipsy .tipsy-inner .permission.positive {
  background: url("btn/like.png") 0px no-repeat;
}
.permissions_explanation_tipsy_menu.tipsy .tipsy-inner .permission.negative {
  background: url("btn/uno.png") 0px no-repeat;
}