@import "colors";

/********************** BÚSQUEDA *****************/
.banner_busqueda {	width:960px;	height:61px;	margin-left:auto;	margin-right:auto;	padding:0;
	position:relative;  padding-top:10px;}
#espacio_busqueda {	width:652px;  margin-left:20px;	height:45px;	margin-bottom:0px; float:left; display:inline;}
#form_busqueda{  padding-top:3px;}
span.find{  padding-right:5px;}

/************** sub structure Frontpage **************/
#devise_links {padding: 20px 0 5px 5px; margin-left: 20%;}
#devise_links a{font-weight: bold;line-height: 15px; color: $details-color;}
#login{  padding-top: 5px;}
.instructions{text-align: left; padding-bottom: 5px;}
#remember{padding-left:22%; text-align: left;}
#welcome #user_password_confirmation{vertical-align: 30%;}
#welcome #user_password_confirmation_label {padding-top: 0;}
#welcome{  margin: 50px auto 50px auto;  width:330px;  padding:20px;  border: 4px solid $input-border-color;
  background-color: white;-moz-border-radius: 20px; 
  -webkit-border-radius: 20px; border-radius: 20px;}
#welcome .form_field{ width: 75%;}
#welcome .btn_login { text-align: right; padding-right: 10px;}
#welcome .form_label{ width: 20%;}
#welcome .form_row{ padding-left: 5px;}
#welcome .form_tag{ width: 98%;}
#welcome h2{ font-variant: small-caps; text-transform: capitalize; padding: 0; font-size: 20px; 
            text-align: center; }
#wrapper_left{  vertical-align:top;  width:49%;  display:inline-block;    padding-left: 20px;}
#wrapper_right{ vertical-align:top;  width:48%;  display:inline-block;}


/***************** content Frontpage *****************/
.espacio{height:10px;}
#frontpage_title{	font-size: 17px;	font-weight:bold;	color: $main-color;	vertical-align: top;	margin: 0px;
	text-align: center;	padding: 0px;}
.icon{  display:inline-block;  width:60px }
#icon_share{  background: transparent url(frontpage/share.png);  width:56px;  height:57px;}
#icon_meet{  background: transparent url(frontpage/meet.png);  width:56px;  height:57px;}
#icon_collaborate{  background: transparent url(frontpage/collaborate.png);  width:56px;  height:57px;}
.icon_text{  text-align:center;  width:100%;  font-weight:bold;}
#join_form{  margin: 15px 0px; text-align:center;}
#join_form input[type="submit"] {font-size: 14px; padding: 6px 10px;}
.sentences{  width:80%;  display:inline-block;  vertical-align:top;  padding-top:10px;}
.sentences ul,.sentences li{  list-style-type:none;  font-size:14px;  margin-left:10px;  padding-top:3px;}
.sentences li.purple{  list-style-image:url("frontpage/purple_sq.png");}
.sentences li.green{  list-style-image:url("frontpage/green_sq.png");}
.sentences li.yellow{  list-style-image:url("frontpage/yellow_sq.png");}
#text_bottom_title{	font-size: 14px;	color: $sentence-color;	font-weight: bold;}


/*********** TEXT Frontpage **********/
#caracteristics{	vertical-align: top;}
#caracteristics #video {	float:left;	padding-right: 14px;	vertical-align: top;	padding-top: 5px;}
#caracteristics ul {	list-style: none;	margin: 0px;	float:left;}
#caracteristics ul li{	font-size:13px;	line-height:18px;	padding:7px 0 8px 30px;}
#gallery ul li{	font-size:13px;	line-height:18px;	padding:0px 0 0px 2px;}
li.conferences{background: transparent url("frontpage/right_conference.png") no-repeat left center;}
li.participants{background: transparent url("frontpage/right_webcam.gif") no-repeat left center;}
li.organizers{background: transparent url("frontpage/right_organizers.gif") no-repeat left center;}
li.groups{background: transparent url("frontpage/right_people.gif") no-repeat left center;}
li.comments{background: transparent url("frontpage/right_comments.gif") no-repeat left center;}
li.tags{background: transparent url("frontpage/right_tags.gif") no-repeat left center;}
li.networks{background: transparent url("frontpage/right_social.gif") no-repeat left center;}







