@import "colors";

#map_location .first{
  background: transparent url("/assets/arrow-start.png") no-repeat top left;
  display: inline-block;
  height: 23px;
  margin-left: 5px;
}
#map_location .first span{
  margin-left:5px;
}
#map_location .last{
  margin-left: 5px;
}
#map_location .last a{
  font-size: inherit;
}
#map_location .mid{
  background: transparent url("/assets/arrow.png") no-repeat top right;
}
#map_location .penultimate{
  background: transparent url("/assets/arrow-end.png") no-repeat top right;
}
#map_location .mid, #map_location .penultimate{
  color: $text-over-main;  
  padding-left:5px;
  padding-right: 12px;
}
#map_location .last, #map_location .mid, #map_location .penultimate{
  display: inline-block;
  font-size: 13px;
  height: 23px;
  line-height: 23px;
}
#map_location .mid a, #map_location .penultimate a{
  color: inherit;
  font-size: inherit;
}
