@import "colors";

/******************** Search css ***********************/
/********************************* Header **************/
#header_search {
  float: left;
  padding: 1px 0 0 10px;
  z-index: 2001;
}
#header_search_input, #global_search_input {
  padding: 0 3px 0 22px;
  background: url('btn/search_icon.png') 5px 50% no-repeat white;
  font-size: 11px;
  color: $main-color;
}
#header_search_input {
  border: solid 1px $input-border-color;
  height: 16px;
  width: 200px;
}
.banner_busqueda #header_search_input {
  height: 20px;
}
#global_search_input {
  border: solid 1px $input-border-color;
  height: 25px;
  width: 300px;
}
#header_search_display {
  width: 225px;
  display: none;
  float: right;
  margin-right: 35px;
  border: solid 1px $auxiliar-color;
  border-top: none;
  overflow: hidden;
  position: absolute;
  z-index: 2000;
  background: $fill-color;
  text-align: left;
}
#header_search_display a {
  color: $main-color;
  text-decoration: none;
}
#header_search_display a:hover {
  color: $main-color;
  text-decoration: none;
  font-weight: bold;
}
#header_search_display  li {
  padding: 4px;
  border-top: solid 1px $auxiliar-color;
  font-size: 10px;
  height: 35px;
  background: $fill-color;
  overflow: hidden;
  text-align: center;
}
#header_search_display  li:hover {
  background: $secondary-color;
  color: $main-color;
}
#header_search_display  li .logo {
  float: left;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}
#header_search_display  li .logo img {
  height: 100%;
  width: 100%;
}
#header_search_display  li .name {
  margin-top: 3px;
  width: 175px;
  overflow: hidden;
}
#header_search_display  li .link {
  display: none;
}
#header_search_display  li.result {
  padding: 0px;
  height: 45px;
  text-align: left;
}
#header_search_display  li.loading, #header_search_display  li.more, #header_search_display  li.none {
  text-align: center;
}
#header_search_display  li.more {
  padding-top: 10px;
  height: 30px;
}
#header_search_display  li.title:hover, #header_search_display  li.more:hover, #header_search_display  li.none:hover {
}
#header_search_display  .warning {
  width: 100%;
}
/********************************* Global ******************/
#global_search_input.searching {
  background: url('mini-loading.gif') 5px 50% no-repeat white;
}
.search_row {
  text-align: center;
}
.model_with_details {
  padding: 5px;
}
.subject_search_results {
  width: 186px;
  height: 81px;
  overflow: hidden;
  text-align: center;
}
.subject_search_results.post {
  width: 560px;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.subject_search_results img {
  width: 48px;
  height: 48px;
}
.subject_search_results .sub-block {
  width: 69%;
  word-wrap: break-word;
  height: 50px;
  overflow: hidden;
}
#search_results {
  text-align: center;
}
#search_results .left {
  float: left;
  padding: 0;
}
#search_results .right {
  float: right;
  padding: 0;
}
#search_results .highlight{
  background-color: $unread-color;
}
/********************************* Form and errors *********/
#search_form .error {
  display: none;
}
/******************** Search css END ***********************/
