/******************** Common ***********************/
.settings_block {
    display:block;
    padding-left:10px;
}
select#language {
    background: #fff;
}
select#language option {
    padding: 3px 0 3px 30px;
    background-repeat: no-repeat;
    background-position: 3px center;
}
select#language option[value=browser] { padding-left: 0; }
select#language option[value=en] { background-image: url(flags/en.png); }
select#language option[value=es] { background-image: url(flags/es.png); }
#api_token {
    font-weight: bold;
    font-style: italic;
}
