.first-img
  h1
    text-align: left
    @include clearfix
  header
    font-size: 21px
    color: $gray
    a
      font-size: 14px
      float: right
    .button_to
      float: right
    .soften
      margin: 9px 0 10px 0
      @include opacity (100)
      clear: both
  img
    display: inline
    @include size (40px, 40px)
  .name,
  .url,
  .users
    display: inline-block
    color: $gray
  .name,
  .url
    margin-left: 20px
  .name
    font-size: 16px
  .url
    a
      color: $gray
      &:hover
        color: $blue
  .users
    font-size: 16px
    float: right
    margin-top: 7px
    span
      color: $blue