<% content_for :headers do %>
<%= stylesheet_link_tag "messages.css", :media => "screen, projection" %>
<% end %>

<br class="clearfloat" />
<div class="space_center"></div>
<div class="space_center"></div>

<div id="conversation">
    <%= render :partial => 'form' %>
</div>
