<%= location(
	link_to(image_tag("btn/new.png", :class => "menu_icon")+t('message.other'), conversations_path,:remote => true),
	link_to(image_tag("btn/message_new.png", :class => "menu_icon")+ t('message.new'), new_message_path, :remote => true)
) %>

<br class="clearfloat" />
<div class="space_center"></div>
<div class="space_center"></div>


<div id="conversation">
    <%= render :partial => 'form' %>
</div>
