// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//= require fullcalendar
//= require boxy
//= require tipsy

@import "colors";

.event_date {
  cursor: pointer;
  display: block;
  float: left;
  font-weight: bold;
  text-align: center;
  width: 45px;
}

a.event_date {
  color: $details-color;
}

div.event_date {
  margin-top: 25px;
}

.event_day {
  font-size: 3em;
  line-height: 90%;
}

.event_month {
  font-size: 2em;
  line-height: 70%;
}

.event_hour {
  font-size: 1.2em;
  min-height: 20px;
  min-width: 30px;
}

.event_sidebar .event_hour {
  font-size: 2em;
  line-height: 90%;
}


.event_details {
  padding-top: 10px;
  float: left;
}

.event_poster {
	width: 80px;
	height: 113px;
	margin-left: 5px;
	float: left;
	position: relative;
}

.event_poster_update {
	top: 95px;
	left: 10px;
	float: left;
	position: absolute;
	background: $secondary-color;
	text-align: center;
	opacity: 0.8;
	width: 80;
	height: 18px;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.event_frequency {
	text-align: center;
	font-size: 0.8em;
}

.event_details .description {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
}

.event_details .title {
	text-align: left;
}

.event_details .follow_form {
	float: left;
}

.event_details .follow_sentence {
	float: left;
	padding: 20px 10px;
}

.event_sidebar .event_frequency {
	font-size: 1em;
}

#calendar {
	margin-top: 20px;
}

#sidebar_calendar_date {
  margin-left: 5px;
}

#sidebar_calendar {
	width: 100%;
	text-align: center;
	padding-top: 5px;
	border-top: thin solid $separation-color;
	border-bottom: thin solid $separation-color;
}

#sidebar_calendar a {
	color: black;
}

#sidebar_calendar td {
  height: 25px;
  padding: 1px;
}

#sidebar_calendar td.past {
  opacity: 0.2;
}

#sidebar_calendar td.today {
  border: 1px solid $sentence-color;
}

#sidebar_calendar td.next_month {
  opacity: 0.8;
  background-color: #F2F2F2;
}

#sidebar_calendar td.busy {
  font-weight: bold;
}

#sidebar_calendar td.busy:hover {
  font-weight: bold;
  color: $main-color;
  background: $secondary-color;
  border: $main-color 1px solid;
  padding: 0px;
}

#sidebar_calendar td.busy.today {
	padding: 0px;
}

#sidebar_calendar td.busy:hover a {
  color: $main-color;
}

.sidebar_calendar_month {
  text-align: center;
  padding: 5px;
}

.sidebar_calendar_month a {
  color: $sentence-color;
}

.sidebar_calendar_month.not_current a {
  color: $details-color;
}

#new_event div.form_row {
  padding: 3px 0;
}

#new_event label {
	float: left;
	min-width: 60px;
	text-align: right;
	padding-right: 10px;
}

#new_event textarea {
	height: 30px;
	width: 200px;
}

#scheduler-options {
  padding: 2px 10px;
}

.event_sidebar {
	float: left;
	border-bottom: 1px solid $secondary-color;
	padding: 5px;
}

.tipsy-sidebar_calendar {
	min-width: 470px;
	width: 470px;
	border: solid $separation-color 1px;
	padding: 10px;
	background-color: #FFF;
	opacity: 1;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}

.tipsy-inner {
	max-width: 500px;
}
