// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//= require fullcalendar
//= require boxy

@import "colors";

#calendar {
	margin-top: 20px;
}

#sidebar_calendar_date {
  margin-left: 5px;
}

#sidebar_calendar {
	width: 100%;
	text-align: center;
	padding-top: 5px;
	border-top: thin solid $separation-color;
	border-bottom: thin solid $separation-color;
}

#sidebar_calendar a {
	color: black;
}

#sidebar_calendar td {
  height: 25px;
}

#sidebar_calendar td.past {
  opacity: 0.2;
}

#sidebar_calendar td.today {
  border: 1px solid $sentence-color;
}

#sidebar_calendar td.next_month {
  opacity: 0.8;
  background-color: #F2F2F2;
}

#sidebar_calendar td.busy {
  font-weight: bold;
}
.sidebar_calendar_month {
  text-align: center;
  padding: 5px;
}

.sidebar_calendar_month a {
  color: $sentence-color;
}

.sidebar_calendar_month.not_current a {
  color: $details-color;
}

#new_event div.form_row {
  padding: 3px 0;
}

#scheduler-options {
  padding: 2px 10px;
}
