
  if ($("#notice").length == 0){
    $("#content").prepend('<div id="notice"></div>');  
  } 
	
<% if @profile.valid? %>

  $("#notice").html("<h2>Form Submitted!</h2><br/>");
	$("#notice").removeClass('error_explanation');
  $("#notice").addClass('confirmed');
	
  /*$("#sidebarContent").replaceWith("<%#= escape_javascript(render(:partial => 'sidebar_show'))%>");*/

  $("#contact_info").addClass('section_normal');
  $("#experience_info").addClass('section_normal');
	$("#personal_info").addClass('section_normal');
	
  <% if !params[:section].present? or params[:section].eql?("about_me") %>	                  
		$("#personal_info").removeClass('section_normal');
		$("#personal_info").addClass('section_highlight');
	<%end%>
	
	<% if !params[:section].present? or params[:section].eql?("contact_info") %>
		$("#contact_info").removeClass('section_normal');
		$("#contact_info").addClass('section_highlight');
	<%end%>

	<% if !params[:section].present? or params[:section].eql?("my_experience") %>
		$("#experience_info").removeClass('section_normal');
		$("#experience_info").addClass('section_highlight');
	<%end%>
	
<% else %>
  $("#notice").html("<h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>"
	 +"<ul><% @profile.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul><br/>");
	$("#notice").removeClass('confirmed');
	$("#notice").addClass('error_explanation'); 

<% end %>


