
  if ($("#profile_notice").length == 0){
    $("#profile_form").prepend('<div id="profile_notice" class="notice"></div>');  
  } 
	
<% if @profile.valid? %>

  $("#profile_notice").html("<%= t('profile.update.success')%>");
	$("#profile_notice").removeClass('error');
  $("#profile_notice").addClass('success');
	
<% else %>
  $("#profile_notice").html("<h2><%= pluralize(@profile.errors.count, "error") %> <%= t('profile.update.error')%></h2>"
	 +"<ul><% @profile.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>");
	$("#profile_notice").removeClass('success');
	$("#profile_notice").addClass('error'); 

<% end %>


