<div class="attachment_section_header">
	<h3><%= t('audio.mine') %></h3>
</div>
<% @activities.each do |a| %>
	<% document = a.activity_objects.first.document %>
	<div class="attachment_tile">
		<div class="attachment_tile_thumb">
    		<%= link_to thumb_for(document), 
                {:controller => "documents", :action => "download", :id => document}, 
 				:type => document.type, 
				:path => document_path(document) %>
  		</div>

  		<div class="attachment_tile_text">
  			<%= link_to document.file_file_name,
                {:controller => "documents", :action => "download", :id => document},
 				:alt => document.file_file_name,
 				:type => document.type,
 				:path => document_path(document) %>
  		</div>
	</div>
<% end %>
