<section id="administrators">
  <% content_for :title do%>
    <%= t('organization.new.action')%>
  <%end%>
<header>
  <h3>Administrators</h3>

  <a class="btn"></a>
</header>
<div class="administrators">
	<%= render partial: 'contacts/contact' %>
</div>
</section>
