<%= render :partial => 'toolbar/logo', :locals => { :subject => current_subject, } %>

<div class="block space_center">
</div>

<%= render :partial => 'toolbar/home_menu' %>

<div class="block space_center">
</div>
