<% content_for :headers do %>
  <%= stylesheet_link_tag "menu", :media => "screen, projection" %>
  <%= javascript_include_tag 'menu' %>
<% end %>

<div id="menu_lateral">
  <%= render :partial => "toolbar/home_menu_options" %>
</div>

