<%= render :partial => 'toolbar/logo', :locals => { :subject => subject } %>

<div class="block space_center"></div>

<%= render :partial => 'toolbar/profile_menu', :locals => { :subject => subject } %>

<div class="block space_center"></div>


<%= render :partial => 'subjects/contacts', :locals => { :subject => subject } %>

<div class="block space_center"></div>
<div class="block space_center"></div>
