<%= render :partial => 'toolbar/logo', :locals => { :subject => subject } %>

<div class="block space_center">
</div>

<div id="menu_lateral" class="toolbar_menu">
    <%= yield(:toolbar_menu).empty? ? profile_toolbar_menu(subject) : yield(:toolbar_menu) %>
</div>

<div class="block space_center">
</div>

<%= render :partial => 'subjects/contacts', :locals => { :subject => subject } %>

<div class="block space_center">
</div>

