.bundle
pkg/*gem
**.tmp_*
Gemfile.lock
.idea
nbproject
.loadpath
.project
.DS_Store
.yardoc/*
lib/generators/social_stream/base/templates/public/images/tmp/
**.*swp
.code_swarm
.rvmrc
config/development.sphinx.conf
db/sphinx/*
