<div id="rooms">
  <% current_subject.rooms.each do |room| %>
    <%= room.name %>
    <%= link_to room,
                title: t('room.delete'),
                class: "room_delete_link",
                method: :delete,
                confirm: t('room.confirm_delete'),
                remote: true do %>
      <i class="icon_tool16-trash"></i>
    <% end %>
  <% end %>
</div>
