<%= render partial: 'relation/customs/list',
           locals:  { subject: subject } %>

<div id="permissions">
  <div class="postit rotate">
    <span class="rotate-int">
      <%= t 'permission.postit' %>
    </span>
  </div>
  <%= render partial: 'layouts/loading' %>
</div>

<%= javascript_tag do %>
  $(function() {
    SocialStream.RelationCustom.index();
  })
<% end %>

