<article class="permissions">
  <h4>
    Permissions in friend sphere
  </h4>
  <ul>
    <li>
      <input type="checkbox">
      <label>read your wall</label>
    <li>
    <li>
      <input type="checkbox">
      <label>post to your wall</label>
    <li>
    <li>
      <input type="checkbox">
      <label>follow their activity</label>
    <li>
    <li>
      <input type="checkbox">
      <label>administrate</label>
    <li>
    <li>
      <input type="checkbox">
      <label>notify</label>
    <li>
  </ul>
</article>

<article class="permissions privacity-rules">
  <h4>
    Resume
  </h4>
  <p> 
    Contacts at college level are only allowed to: <br/> blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..blabla..
  </p>
  <button class="btn" >
    Save
  </button>
</article>