<section id="relation_customs">   
  <%= render partial: 'toolbar/profile', locals: { :subject => current_subject } %>

  <section class="relation_customs">
    <h2 class="colorfont">
      <%= t 'relation_custom.title' %>
    </h2>

    <%= render partial: 'relation/customs/index',
               locals: { subject: current_subject } %>
  </section> 
</section> 
