<section class="accordion-group avatar">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
      <%= t('avatar.profile_change') %>
    </a>
  </div>
  <% if can? :update, @profile %>
  <div id="collapseFive" class="accordion-body collapse">
    <div class="accordion-inner">
    <%= render partial: 'avatars/form',
               object: @profile.actor,
               as: :avatarable %>
    </div>
  <% end %>
  </div>
</section>
