<section class="avatar">
  <% if can? :update, @profile %>
    <header>
      <%= render partial: 'edit_icon' %>
      <h4>
        <%= t('avatar.profile_change') %>
      </h4>
    </header>
    <%= render partial: 'avatar_edit' %>
  <% end %>
</section>
