  <article id="experience_info">
    <header>
      <h5>
        <% if is_owner? %>
          <%= link_to ("my_experience"),  :controller => :profiles , :action => :edit, :section => "my_experience"%>
      </h5>
      <%end%>
    </header>

    <div class="content">
      <%if @profile.experience?%>
        <div class="row">
          <%=h @profile.experience %>
        </div>
      <%elsif is_owner?%>
        <%=t('profile.empty')%>
      <%end%>
    </div>
  </article>
