  <article id="tags_info">
    <header>
      <h5>
        <% if is_owner? %>
          <%= link_to ("tags"), :controller => :profiles , 
                       :action => :edit, :section => "tags"%>
      </h5>
      <% end %>
    </header>

    <div class="content">
      <div class="field">
        <% if @profile.subject.tag_list.count > 0 %>
          <%= @profile.subject.tag_list %>
        <%else%>
          <%=t('profile.empty')%>
        <%end%>
      </div>
    </div>
  </article>