<ul>
<% search_result.each do |actor| %>
  <%= link_to actor.subject do %>
    <li>
      <%= image_tag(actor.logo.url(:actor), :class => :logo) %> 
      <%= content_tag(:span, actor.name, :class => :name) %>         
    </li>
    <% end %>
<% end %>
</ul>


<% if search_result.empty? %>
<ul><li><%= content_tag(:span,I18n.t('search.actor.none'), :class => :warning) %></li></ul>
<% end %>
