<ul>
<% search_result.each do |actor| %>
  <%= link_to actor.subject do %>
    <li>
      <%= image_tag(actor.logo.url(:actor), :class => :logo) %> 
      <%= content_tag(:span, actor.name, :class => :name) %>         
    </li>
    <% end %>
<% end %>
</ul>
