

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="myModal" style="display: block;">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h3 id="myModalLabel">New event</h3>
  </div>
  <div class="modal-body">

    <label for="event_title">Título</label>
    <input type="text" value="" size="30" name="event[title]" id="event_title">

    <label for="event_description">Description</label>
    <textarea rows="20" name="event[description]" id="event_description" cols="40"></textarea>

    <div class="scheduler_form">
  		<label for="event_frequency">Repetición</label>
  		<select name="event[frequency]" id="event_frequency" class="scheduler-frequency">
  			<option selected="selected" value="0">ninguna</option>
				<option value="1">diaria</option>
				<option value="2">semanal</option>
				<option value="3">mensual</option>
			</select>

  		<div id="scheduler-options">
    		<div id="scheduler-frequency-0" style="display: block;">
      		La actividad no se volverá a repetir
    		</div>
  
  		  <div id="scheduler-frequency-1" style="display: none;">
      		Comming soon..
    		</div>

    		<div id="scheduler-frequency-2" style="display: none;">
      		<span id="scheduler-weekly-week">
      			Cada <input type="number" value="1" size="1" name="event[interval]" id="event_interval" disabled="disabled"> semana(s) en los siguientes días:
      		</span>

      		<div id="scheduler-weekly-days">
          	<input type="checkbox" value="0" name="event[week_days][]" id="event_week_days_0" disabled="disabled">
          		<span>lun</span>
          	<input type="checkbox" value="1" name="event[week_days][]" id="event_week_days_1" disabled="disabled">
          		<span>mar</span>
          	<input type="checkbox" value="2" name="event[week_days][]" id="event_week_days_2" disabled="disabled" checked="checked">
          		<span>mié</span>
          	<input type="checkbox" value="3" name="event[week_days][]" id="event_week_days_3" disabled="disabled">
          		<span>jue</span>
	          <input type="checkbox" value="4" name="event[week_days][]" id="event_week_days_4" disabled="disabled">
	          	<span>vie</span>
          	<input type="checkbox" value="5" name="event[week_days][]" id="event_week_days_5" disabled="disabled">
          		<span>sáb</span>
          	<input type="checkbox" value="6" name="event[week_days][]" id="event_week_days_6" disabled="disabled">
          		<span>dom</span>
      		</div>
    		</div>

    		<div id="scheduler-frequency-3" style="display: none;">
       		El 
       		<select name="event[week_day_order]" id="event_week_day_order" disabled="disabled">
	       		<option value="1">primer</option>
						<option value="2">segundo</option>
						<option value="3">tercer</option>
						<option value="-1">último</option>
				  </select> 
				  <select name="event[week_day]" id="event_week_day" disabled="disabled">
						<option value="0">lunes</option>
						<option value="1">martes</option>
						<option value="2">miércoles</option>
						<option value="3">jueves</option>
						<option value="4">viernes</option>
						<option value="5">sábado</option>
						<option value="6">domingo</option>
					</select> 
					de cada 
					<input type="number" value="1" size="1" name="event[interval]" id="event_interval" disabled="disabled"> mes(es)
    		</div>
			</div>
  	</div>
	</div>
	<div class="modal-footer">
	  <button data-dismiss="modal" class="btn">Close</button>
	  <button class="btn btn-primary" type="submit" value="Crear evento" name="commit">crear evento</button>
	</div>
</div>