<div id="month_<%= position %>" class="month <%= sidebar_month_class(date) %>">
  <%= link_to l(date, :format => "%B %Y"), polymorphic_path([profile_or_current_subject, Event.new], :date => date.to_time.to_i) %>
</div>
