<div class="event_date">
  <%= link_to event, :class => "event_date" do %>
    <time datetime="<%= event.start_at.xmlschema %>">
      <% unless event.all_day? %>
        <div class="event_hour">
          <%= l event.start_at, :format => "%H:%M" %>
        </div>
      <% end %>
        <div class="event_frequency">
          <%= event.frequency_description %>
        </div>
    </time>
  <% end %>
</div>
