<%= div_for event_sidebar, :class => "event_sidebar" do %>

  <%= render :partial => "events/date_sidebar", :locals => { :event => event_sidebar } %>

  <%= render :partial => "events/poster", :locals => { :event => event_sidebar } %>

  <%= render :partial => "events/details", :locals => { :event => event_sidebar } %>
<% end %>

<div class="clearfloat"></div>
