<% if @event and @event.errors.any? %>
<div class="error">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this message from being sent:</h2>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>