<div class="event">
  <div class="avatar">
    <%= link_to event, :title => event.title do %>
      <i class="icon_50-event"></i>
    <% end %>
  </div>

  <div class="data">
    <div class="name">
      <%= link_to truncate(event.title, :length => 15), event %>
    </div>

    <div class="date">
      <%= event.start_at.to_formatted_s(:rfc822) %>
    </div>

    <div class="frequency">
      <%= event.frequency_description %>
    </div>
  </div>
</div>
