<div class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= @event.title %></h3>
  </div>
  <div class="modal-body">
    <%= render partial: 'event_sidebar',
               object: @event %>
  </div>
</div>
