#sidebar
  @extend .hidden-phone
  @extend .hidden-tablet
  width: 22.85714%
  float: right
  .contact
    margin: 4px 0
    .avatar
      width: 45px !important
      float: left
    .data
      a
        display: inline
      .x
        a
          float: right
          display: inline-block
          margin-top: -20px
    .info
      z-index: 1
    .add
      margin-top: 2px
      width: auto

#suggestions
  margin-top: 20px


  #suggestions,
  #pendings
    
    .contact
      padding: 5px 2%
      display: inline-block
      .avatar
        width: 45px
        display: inline
        float: left
        img
          width: 45px 
     
    .data
      display: inline-block
      margin: 0 0 3px 3px
      float: left
      width: 65%
      .info
        z-index: 1

    .add
      z-index: 1
      float: left
      .btn-group
        max-width: 400px
        .btn
          .caret
            margin-left: 6px


    .see-more
      line-height: 20px
