<ul class="menu noaccordion">
  <li>
    <%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('inbox.one'), '#') %>
  </li>
  <li>
    <%= link_to( image_tag("btn/btn_edit.png", :class => "menu_icon")+t('menu.information'), [@user, :profile]) %>
  </li>
  <li>
    <%= link_to( image_tag("btn/btn_friend.png", :class => "menu_icon")+t('contact.other'), '#') %>
  </li>
</ul>
