<ul class="menu noaccordion">
  <li>
    <%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('inbox.one'), '#') %>
  </li>
  <li>
    <%= link_to( image_tag("btn/btn_edit.png", :class => "menu_icon")+t('edit.profile'), '#') %>
  </li>
</ul>
