<% if current_subject.pending_contacts? %>
<section id="pendings">
  <header>
    <h4>
      <%= t 'contact.pending.other' %>
    </h4>
  </header>
  <div class="content">
    <article class="pendings">
      <%= render :partial => 'contacts/contact', :collection => current_subject.pending_contacts.shuffle.first(2) %>
        <%= link_to t('contact.pending.all_n', :count => current_subject.pending_contacts_count), pending_contacts_path %>
      </article>
  </div>
</section>
<% end -%>