<% if current_subject.pending_contacts? %>
<section id="pendings" data-path="<%= pending_contacts_path %>">
  <header>
    <h4 class="colorfont">
      <%= t 'contact.pending.other' %>
    </h4>
  </header>
  <%= render :partial => 'contacts/contact', :collection => current_subject.pending_contacts.shuffle.first(2), :locals => { destroy_params: { reject: true } } %>
</section>
<% end -%>
