<% if (sgs = current_subject.suggestions(2)).present? %>
  <section id="suggestions">
    <header>
      <h4>
        <%=t('contact.suggestion.one') %>
      </h4>
    </header>
    <div class="content">
      <article class="suggestion">
        <%= render :partial => "contacts/contact", :collection => sgs %>
      </article>
    </div>
  </section>
<%end%>
