<% if (sgs = current_subject.suggestions(2)).present? %>
  <section id="suggestions">
    <header>
      <h4>
        <%=t('contact.suggestion.other') %>
      </h4>
    </header>
    <article class="contents">
      <%= render :partial => "contacts/contact", :collection => sgs %>
    </article>
  </section>
<%end%>
