<% if (sgs = current_subject.suggestions(2)).present? %>
  <div class="block">
    <div class="header">
      <%= image_tag('btn/notifications.png', :class => "header_icon") %>
      <div class="header_text">
        <%=t('contact.suggestion.one') %>
      </div>
    </div>
    <div class="content">
      <div class="suggestions">
        <%= render :partial => "contacts/contact", :collection => sgs %>
      </div>
    </div>
  </div>
<%end%>
