<div class="block" id="room_settings">
  <header>
    <%= link_to t('room.settings.title'),  "javascript:showSettings(\"room_settings\");" %>
  </header>
  
  <div class="content settings_content" id="room_settings_content" style="display:none;">
    <%= render :partial => 'rooms/index' %>
  
    <%= render :partial => 'rooms/form' %>
  </div>
</div>
