
<br class="clearfloat" />
<div class="space_center">
</div>
<div class="space_center"></div>


<h2><%= t('message.' + @box) %></h2>
<div class="conversations">  
  <%= render :partial => 'conversations' %>
</div>
