//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)

  .timeline
    .more
      a
        width: 89% !important
    .modal
      .modal-body
        max-height: 400px





// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)

  .timeline
    .more
      a
        width: 85% !important
