<section class="modular">
  <header>
    modular
  </header>
  <p>
    diferentes gemas que aportan diferentes caracteríasticas
  </p>
</section>
<section class="flexibility">
  <header>
    flexible
  </header>
  <p>
    posibilidar de cambiar el estilo de las vistas mediante SASS
  </p>
</section>
<section class="power">
  <header>
    potencia
  </header>
  <p>
    herramienta open source con gran comunidad de desarrolladores
  </p>
</section>
