<div id="sponsor-wrapper">
  <div id="sponsor">
    <ul>
      <li>
        <%=link_to("DIT","http://www.dit.upm.es/")%> -
        <%=link_to("UPM","http://www.upm.es/")%> &#38;s
      </li>
    </ul>
  </div>
</div>