<div id="sponsor-wrapper">
  <div id="sponsor">
    <ul>
      <li>
        <%=link_to("DIT","http://www.dit.upm.es/")%> -
        <%=link_to("UPM","http://www.upm.es/")%> &#38;
        <%=link_to("CISE","http://www.cise.espol.edu.ec/")%> -
        <%=link_to("ESPOL","http://www.espol.edu.ec/")%>
      </li>
    </ul>
  </div>
</div>