<% content_for :title do%>
  <%= t('welcome', :site => t('site.name')) %>
<%end%>

<div class="banner_busqueda">
  <div id="espacio_busqueda">    
  </div>
    <%= render :partial => 'layouts/search' %>
</div>

<section id="contentIndex">
      <article class="left">
        <header>
          <h2>description</h2>
        </header>
        <div class="thumbnail inline">
          <header>
            <h6>title</h6>
          </header>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.
            <%= render :partial => 'frontpage/caracteristics' %>
        </div>
      </article>
      <article class="right">
        <div id="splashdiv">
          <h3 data-i18n="Log In">Log In</h3>
          <form href="#">
            <div class="clearfix">   
              <fieldset>
                <div class="clearfix">
                  <input type="text" placeholder="E-mail" maxlength="20" name="username" class="input-login">
                </div>
                <div class="clearfix">
                  <input type="password" placeholder="Password" maxlength="20" name="password" id="id_password" class="input-login">
                </div>
              </fieldset>
              <button data-i18n="Sign In" class="btn btn-blue pull-right credentials" id="home_loginbtn">Sign In
              </button>
              <div class="lost-pass">
                <a href="/users/password/new">Forgot your password?
                </a>
              </div>
              <div class="registration">
                <a href="registration.html">Register
                </a>
              </div>
              <%= render :partial => "frontpage/social_networks" %>
            </div>
          </form>
        </div>
      </article>
    </section>






