<section id="frontpage">
  <article class="left">
    <%= render partial: 'frontpage/presentation' %>
  </article>

  <article class="right">
    <%= render partial: 'devise/sessions/form' %>
  </article>
</section>
