      <div class="block">
        <div class="header">
          <%=image_tag("btn/btn_friend.png", :class => "header_icon")%>
          <div class="header_text">
            Chat Connecting
          </div>
        </div>
      </div>