<!DOCTYPE html>
<html>
<head>
  <title>Demo2</title>
</head>
<body>


<p> Usuarios conectados Social Stream </p>

<p>&nbsp;</p>
<ul>
<%@users.each do |user| %>
  <li><b><%=user.name%></b></li>
<%end%>
 </ul>
<p>&nbsp;</p>


<p> Usuarios Social Stream </p>

<p>&nbsp;</p>
<ul>
<%@all_users.each do |user| %>
  <li><b><%=user.slug%></b> with email: <%=user.email%></li>
<%end%>
 </ul>
<p>&nbsp;</p>
 
<p> <a href="/test">Volver</a></p>

</body>
</html>
