<!DOCTYPE html>
<html>
<head>
  <title>Social Stream Presence</title>
</head>
<body>


<p> Social Stream connected users </p>

<p>&nbsp;</p>
<ul>
  <%@users.each do |user| %>
    <li><b><%=user.name%></b> (<%=user.status%>) </li>
  <%end%>
 </ul>
<p>&nbsp;</p>


<p> All Social Stream users </p>

<p>&nbsp;</p>
<ul>
  <%@all_users.each do |user| %>
    <li><b><%=user.slug%></b> with email: <%=user.email%></li>
  <%end%>
 </ul>
<p>&nbsp;</p>
 
<p> <a href="/test">Come back</a></p>

</body>
</html>
