<%= form_for(@mailbox_conversation) do |f| %>
  <% if @mailbox_conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailbox_conversation.errors.count, "error") %> prohibited this mailbox_conversation from being saved:</h2>

      <ul>
      <% @mailbox_conversation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
