<% self.class.send :include, NotificationsHelper %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= raw decode_notification @notification.subject,@notification.object %></h1>
    <blockquote>
      <p>
        <%= raw decode_notification @notification.body,@notification.object %>
      </p>
    </blockquote>
    <p>
      Visit <%= link_to notifications_url,notifications_url %> and check all your notifications.
    </p>
  </body>
</html>