
<br class="clearfloat" />
<div class="space_center">
</div>
<div class="space_center"></div>

<h2><%= t('notification.other') %></h2>
  <div class="conversations"> 
  <% @notifications.each do |notification|%>
    <% read_class = notification.is_unread?(@actor) ? 'unread' : '' %>
    <%= render :partial => 'notification', :object => notification, :locals => {:read_class => read_class} %>
  <% end %>
  <%= will_paginate @notifications %>
</div>

