
<% aux='<div class="last">' + stack.last + '</div>' %>
    <% if stack.count >1 %>
      <% aux.insert(0, '<div class="penultimate">'+ stack.last(2).first + '</div>') %>
    <% end %>
    
    <% if stack.count >2 %> 
      <% stack.first(stack.count - 2).reverse.collect {|level|
        aux.insert(0, '<div class="mid">'+ level + '</div>')
      } %>
    <% end %>
    
    <% if stack.count ==1 %>
      <% aux.insert(0, '<div class="first"><span class="penultimate">'+ t('location.base') + '</span></div>') %>
    <% else %>
      <% aux.insert(0, '<div class="first"><span class="mid">'+ t('location.base') + '</span></div>') %>
    <% end%>    
<%= raw aux %>
