<li>
  <%= div_for group do %>
    <div class="group_content">
      <%=link_to(image_tag(group.logo.url(:actor), :class => 'btn_group', :alt => group.name, :title => group.name), group) %>
    </div>
    <div class="group_title">
      <%=link_to(group.name, group)%>
    </div>
  <% end %>
</li>
