<% cont=0; %>

<% Group.alphabetic.all.each do |group| %>

	<% if (cont%2) == 0
			cont+=1; %>
	  	<div class="wrap_post">
	<% end %>

			<div class="post_browse">
			<div class="post_picture"><%= link_to (image_tag(group.logo.url , :size => "50x50", :alt => group.name )), group  %></div>
			<div class="post_browse_content_people content_size">
                          <div class="post_browse_title content_size" >
                            <%= link_to group.name, group %>
                          </div>

                          <div class="content_size">
                            <%= ties_to(group) %>
                          </div>
			</div>
			</div>

	<% if ((cont%2) == 0) 	%>
			</div>
	<% end %>

<% end %>


<% if ((cont%2) != 0) 	%>
		</div>
<% end %>

