<div id="logo_index">
  <div class="center"><span class="title_bold" ><%= @group.name %></span> (<%= ties_to(@group) %>)</div>
  <%= link_to image_tag(@group.logo.url, :alt => @group.name , :size => "119x108"), @group %>
</div>

