<%= ties_to(@group) %>

<%= render :partial => 'logo' %>
<%= render :partial => 'tabs' %>
<div class="space_center"> 
</div> 

<%= render :partial => 'actors/contacts', :locals => { :actor => @group } %>
