<div class="space_center"></div>

<% if user_signed_in? %>
  <%= render :partial => "ties/suggestions" %>
  <div class="space_center">
  </div>
  <%= render :partial => 'ties/pendings' %>
<% end %>



