<div id="tabright" class="widget">
    <ul class="tabinfo fondo">
        <li>
            <a href="#info">Information</a>
        </li>
        <li>
          <a href="#info"><%=(image_tag("btn/btn_tag.png", :alt => "tags"))+t('tags')%></a>
        </li>
    </ul>
    <div id="info" class="tabinfo">
        Place:
        <br/>
        Avendia Complutense 30
        <br/>
        Ciudad Universitaria
        <br/>
        28040 Madrid
        <br/>
        Phone:
        <br/>
        (593-4) 2 269269
        <br/>
        <a href="mailto:info@dit.upm.es">info@dit.upm.es</a>
        <br/>
    </div>
    <!--/popular-->
    <div id="tag" class="tabinfo">
        tag1, tag2, tag3, tag4, tag5
        tag6, tag7, tag8, tag9, tag10
    </div>
</div>

