<% content_for :headers do %>
  <%= javascript_include_tag 'superfish', 'main', 'jquery-ui-personalized-1.5.2.packed' %>
<% end %>


<div id="tabright" class="widget block">
    <ul class="tab fondo">
        <li>
            <a href="#info">Information</a>
        </li>
        <li>
            <a href="#tag"><img src="/images/btn/btn_tag.png" alt="Tags" />Tags</a>
        </li>
    </ul>
    <div id="info" class="tab">
        Place:
        <br/>
        Avendia Complutense 30
        <br/>
        Ciudad Universitaria
        <br/>
        28040 Madrid
        <br/>
        Phone:
        <br/>
        (593-4) 2 269269
        <br/>
        <a href="mailto:info@dit.upm.es">info@dit.upm.es</a>
        <br/>
    </div>
    <!--/popular-->
    <div id="tag" class="tab">
        tag1, tag2, tag3, tag4, tag5
        tag6, tag7, tag8, tag9, tag10
    </div>
</div>


