<%= ties_to(@group) %>

<%= render :partial => 'logo' %>
<%= render :partial => 'tabs' %>
<div class="block_space_center">
</div>

<%= render :partial => 'subjects/contacts', :locals => { :subject => @group } %>