<% content_for :sidebar do %>
  <%= render :partial => 'sidebar_show' %>
<% end %>

<% toolbar :profile => @group %>

<%= render :partial => 'location' %>

<br class="clearfloat" />
<div class="space_center">
</div>

<div class="space_center">
</div>

<%= render :partial => "activities/activities",
           :locals => { :activities => @group.wall(:profile, :for => current_subject),
                        :owner => @group } %>
