<% content_for :middle do %>
	<%= render :partial => "spaces/middle_spaces_home" %>
<% end %>

<% content_for :right do %>
	<%= render :partial => "spaces/right_spaces_home" %>
<% end %>


<%= render :partial => 'home/location' %>

<br class="clearfloat" />
<div class="space_center">
</div>

<div class="space_center">
</div>

<div id="wrapper_activities">
	
  <%= render :partial => "home/activities" %>
<!--
    <div id="create_space">
        Create your conference space <input name="new_space" id="input_new_space" value="" size="50"/><a class="" href="#"><img src="images/buttons/btn_check.png" class="btn_menu_online" alt="Check" />Check</a>
    </div>
-->
</div>