<% content_for :middle do %>
  <%= render :partial => 'middle_show' %>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'right_show' %>
<% end %>


<%= render :partial => 'home/location' %>

<br class="clearfloat" />
<div class="space_center">
</div>

<div class="space_center">
</div>

<%= render :partial => "activities/activities",
           :locals => { :activities => @group.wall_profile(current_user).paginate,
                        :owner => @group } %>
