<% @users.each do |user| %>
  <div class="block_label">
    <div class="block_logo">
      <%= link_to (image_tag(user.logo.url , :size => "50x50", :alt => user.name )),user  %>
    </div>
    <div class="sub-block_content">
      <div class="block_name" >
        <%=link_to(user.name, user)%>
      </div>
      <div class="block_link">
        <%= ties_to(user) %>
      </div>
    </div>
  </div>
<% end %>

<div class="block_row">
  <%= will_paginate @users %>
</div>