<% cont=0; %>

<% @users.each do |user| %>

  <% if (cont%2) == 0 %>
    <% cont+=1; %>
     <div class="row">
  <% end %>

  <div class="label">
    <div class="logo">
      <%= link_to (image_tag(user.logo.url , :size => "50x50", :alt => user.name )),user  %>
    </div>
    <div class="sub-block">
      <div class="name black" >
        <%=link_to(user.name, user)%>
      </div>
      <div class="link">
        <%= ties_to(user) %>
      </div>
    </div>
  </div>
<% end %>

<% if ((cont%2) != 0) 	%>
  <div class="label">
  </div>
		</div>
<% end %>

<div class="row">
  <%= will_paginate @users %>
</div>
