<div id="map_location" class="content_size">
  <%= t('location.message', :location => "#{ image_tag('btn/btn_profile.png' , :class => 'btn_config') } #{ t('profile.one') }: <span class=\"name_group\">#{ sanitize @user.name }</span>").html_safe %>
</div>
