<div class="menu_lateral">
  <div class="option_menu">
    <div class="text_menu">
      &nbsp;&nbsp;<a href="#">Write a Message to <%=@user.name%></a>
    </div>
  </div>
</div>
<div class="space_center">
</div>
<div class="menu_lateral">
  <div class="option_menu">
    <%= image_tag("btn/btn_inbox.png") %>
    <div class="text_menu">
      <a href="#">Inbox(2)</a>
    </div>
  </div>
</div>
<div id="space_center_border">
</div>
<div class="space_center">
</div>
<div id="sub_menu_lateral">
  <div class="option_menu">
    <%= image_tag("btn/btn_video.png") %>
    <div class="text_menu">
      <a href="#">Groups</a>
    </div>
  </div>
</div>

