		<div class="future_conference">
				<div class="future_header">
						<div class="future_text_header">
								Personal Information
						</div>
						<div class="title_righ">
								<a href="#">Edit</a>
						</div>
				</div>
				<div class="post_future_conference">
						<div class="info_post">
								<div class="info_left">
										Work:
								</div>
								<div class="info_right">
										CSI-ESPOL
								</div>
						</div>
						<div class="info_post">
								<div class="info_left">
										BirthDay:
								</div>
								<div class="info_right">
										July 13, 1982 
								</div>
						</div>
						<div class="info_post">
								<div class="info_left">
										Age:
								</div>
								<div class="info_right">
										22 years old
								</div>
						</div>
						<div class="info_post">
								<div class="info_left">
										Place of Birth:
								</div>
								<div class="info_right">
										Guayaquil, Ecuador
								</div>
						</div>
						<div class="info_post">
								<div class="info_left">
										Actual City:
								</div>
								<div class="info_right">
										Panamá, Panamá
								</div>
						</div>
				</div>
		</div>
		<div class="future_conference">
				<div class="future_header">
						<div class="future_text_header">
								Contact Information
						</div>
						<div class="title_righ">
								<a href="#">Edit</a>
						</div>
				</div>
				<div class="post_future_conference">
						<div class="future_content">
								<div class="info_post">
										<div>
												Website
										</div>
										<div class="keynote_future">
												<a href="#">http://www.blog.espol.edu.ec/arigar</a>
										</div>
								</div>
								<div class="info_post">
										<div>
												Linkedinf
										</div>
										<div class="keynote_future">
												<a href="#">http://www.linkedin.com/arigar</a>
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="future_conference">
				<div class="future_header">
						<div class="future_text_header">
								Experiencia
						</div>
						<div class="title_righ">
								<a href="#">Edit</a>
						</div>
				</div>
				<div class="post_future_conference">
						<div class="future_content">
								<div class="info_post">
										<div class="info_left">
												Actual:
										</div>
										<div class="info_right">
												Diseñadora Gráfica del Centro de Servicios Informáticos, CSI-ESPOL
										</div>
								</div>
								<div class="info_post">
										<div class="info_left">
												Actual:
										</div>
										<div class="info_right">
												Asesora de diseño del Grupo romero y Asociados S.A.
										</div>
								</div>
								<div class="info_post">
										<div class="info_left">
												Anterior:
										</div>
										<div class="info_right">
												Diseñadora del Departamente de Investigación y Multimedios EDCOM-ESPOL
										</div>
								</div>
						</div>
				</div>
		</div>

