<%= render :partial => 'logo' %>
<div class="space_center">
</div>
<%= render :partial => 'menu' %>
<div class="space_center">
</div>
<% if @user.friends.count>0 %>
  <%= render :partial => "contacts" %>
<%end%>
<div class="space_center">
</div>
<div class="space_center">
</div>

