<%= render :partial => 'logo' %>
<div class="space_center">
</div>
<%= render :partial => 'menu' %>
<div class="space_center">
</div>

<%= render :partial => 'actors/contacts', :locals => { :actor => @user } %>

<div class="space_center">
</div>
<div class="space_center">
</div>

