<%= render :partial => 'logo' %>
<div class="space_center">
</div>
<%= render :partial => 'menu' %>
<div class="space_center">
</div>

<%= render :partial => 'subjects/contacts', :locals => { :subject => @user } %>

<div class="space_center">
</div>
<div class="space_center">
</div>

