<div id="list_users_ajax" class="tab_content block">
  <% cont=0; %>
    <% @users.each do |user| %>
      <% if (cont%2) == 0 %>
        <% cont+=1; %>
      <% end %>
      <div class="label">
        <%= render user %>
      </div>
    <% end %>
    <% if ((cont%2) != 0)     %> 
      <div class="label">
      </div>
    <% end %>
  <%= paginate @users %>
</div>
