<% if activity_object.object.is_a?(Actor) || activity_object.object.class.ancestors.include?(SocialStream::Models::Subject) %>
  <div class="block">
    <%= model_with_details activity_object.object %>
  </div>
<% else %>
  <%= render activity_object.object %>
<% end %>
