<% unless activity_object.object.is_a? Actor or activity_object.object.respond_to? :actor %>
  <%= render activity_object.object %>
<% else %>
  <div class="block">
    <%= model_with_details activity_object.object %>
  </div>
<% end %>
