//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px)
  #user
    .activities
      .wall_input
        #new_post
          .document_description
            width: 96% !important
  
  #comments
    div.new_comment
      min-height: 100px
      width: 90%
      .avatar
        width: 11%
      form.new_comment
        width: 86.8%

  #documents
    .details
      .tab-content
        margin-top: -1px

  #repository
    .counters
      font-size: 14px
    .event
      .frequency
        line-height: 20px