<div class="comments" id="comments_<%= dom_id(activity) %>">
  <% if activity.direct_activity_object.blank? || activity.direct_activity_object.comment_count > 0 %>
    <%= render activity.comments %>
  <% end %>
</div>
