<article id="wrapper_activities">
  <header class="wrapper_activities_header">
    <h4>
      <%= image_tag("btn/activity.png") %><%= t 'activity.title' %>
    </h4>
    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </header>

  <%= render :partial => 'activities/wall',
             :locals  => { :activities => activities } %>

</article>
