<section class="activities">
  <header>
    <h2 class="colorfont">
        <%= t 'activity.title' %>
    </h2>
  </header>
  <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>

  <%= render :partial => 'activities/timeline',
             :locals  => { :section => section } %>
</section>
