<% section ||= nil %>

<section class="timeline">
  <%= render partial: 'activities/timeline_modal' %>

  <%= render activities = Activity.timeline(section, current_subject).page(params[:page]) %>

  <%= render partial: 'layouts/more',
             locals: {
               path: polymorphic_path([ section, Activity.new ]),
               per_page: Activity.default_per_page,
               total: activities.total_count
             } %>
</section>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.show();  
  });
<% end %>

