<div class="timeline-modal-carousel modal hide fade">
  <div class="modal-body">
    <div id="modal-carousel" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
        </ol>
        <div class="carousel-inner">
        </div>
        <a class="carousel-control left" href="#modal-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#modal-carousel" data-slide="next">&rsaquo;</a>
      </div>
  </div>
</div>
