<section class="timeline">
  <%= render activities  %>
  <%= render :partial => 'activities/see-more' %>
</section>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>

