<% section ||= nil %>

<section class="timeline">
  <%= render Activity.timeline(section, current_subject).page(params[:page]) %>

  <%= render partial: 'activities/see-more',
             locals: { section: section } %>
</section>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.show();  
  });
<% end %>

