<% section ||= nil %>

<section class="timeline">
  <%= render partial: 'activities/timeline_modal' %>

  <%= render Activity.timeline(section, current_subject).page(params[:page]) %>

  <%= render partial: 'layouts/more',
             locals: { path: polymorphic_path([ section, Activity.new ]) } %>
</section>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.show();  
  });
<% end %>

