<div class="attachment_section_header">
	<h3><%= t('attachment.mine') %></h3>
</div>
<% @attachment_activities.each do |a| %>
	<% attachment = a.activity_objects.first.attachment %>
	<div class="attachment_tile">
		<div class="attachment_tile_thumb">
    		<%= link_to format_image(attachment.file_content_type), 
                attachment, 
                :class => "" %>
  		</div>

  		<div class="attachment_tile_text">
  			<%= link_to wrap_file_name(attachment.file_file_name),
                attachment,
                :class => "",
 				:alt => attachment.file_file_name %>
  		</div>
	</div>
<% end %>