<nav id="toolbar">
  <div id="toolbarContent" class="block">
    <div class="space_center"></div>
    <%= yield :toolbar %>
  </div>
</nav>
<div id= "center_body" class="frontpage_view">
  <section id="content">
    <%= render :partial => 'show' %>
  </section>
</div>