<section id="group">
  <%= render partial: 'toolbar/profile', locals: { subject: @group } %>

  <%= render :partial => "activities/index",
             :locals  => { section: @group,
                           owner:   @group } %>

  <%= render partial: 'sidebar/show' %>
</section>
