<div id="map_location" class="content_size">
  <%= t('location.message', :location => "#{ image_tag('btn/btn_home.png' , :class => 'btn_config') } #{ t('home') }: <span class=\"name_group\">#{ sanitize current_subject.name }</span>").html_safe %>
</div>
