<div id="map_location" class="content_size">
  <%= t('location.message', :location => "#{ image_tag('buttons/btn_home.png' , :class => 'btn_config') } #{ t('home.one') }: <span class=\"name_group\">#{ sanitize current_user.name }</span>").html_safe %>
</div>
