<ul class="menu noaccordion">
  <li>
    <%= link_to(image_tag("buttons/btn_activities.png", :class => "menu_icon")+t('activity.last'),current_user) %>
    <ul class="acitem">
      <li><a href="http://www.pivotx.net/">PivotX</a></li>
    </ul>
  </li>
  <li>
    <%= link_to( image_tag("buttons/btn_inbox.png", :class => "menu_icon")+t('inbox.one'), current_user) %>
  </li>
  <li>
    <%= link_to(image_tag("buttons/btn_photo.png", :class => "menu_icon")+t('photo.other'),current_user) %>
  </li>
</ul>
