<div class="space_center"></div>
<%= render :partial => "ties/suggestions" %>
<div class="space_center"></div>
<%= render :partial => 'ties/pendings' %>

  <% content_for :javascript do %>

    $(".suggestions .tie_close").livequery("click",function(){
    temp = $(this);
    $.get("<%=suggestion_ties_path%>", function(data) {
    temp.parents(".tie").replaceWith(data);
    });

    });

  <% end %>
