<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% toolbar_menu %>

<%= render :partial => 'location' %>

<br class="clearfloat" />
<div class="space_center">
</div>

<% if current_subject.respond_to?(:recent_groups) %>
<div id="my_groups">
  <%= render :partial => "groups" %>
</div>
<% end %>

<%= render :partial => "activities/activities",
           :locals => { :activities => current_subject.home_wall,
                        :owner => current_subject } %>
