<% content_for :sidebar do %>
  <% render :partial => 'sidebar' %>
<% end %>

<% toolbar %>

<%= render :partial => 'location' %>

<br class="clearfloat" />
<div class="space_center">
</div>

<% if current_subject.respond_to?(:recent_groups) %>
<div id="my_groups">
  <%= render :partial => "groups" %>
</div>
<% end %>

<%= render :partial => "activities/index",
           :locals => { :activities => current_subject.wall(:home).paginate(:page => params[:page]),
                        :owner => current_subject } %>
