.headerFront
  .logo
    display: inline !important
    margin-top: 4px
  .brand
    display: inline-block
    
.headerFront.in
  .logo
    width: 300px
    margin-bottom: 40px


header
  .navbar-inner
    .logo,
    .logo-responsive
      float: left
      padding-top: 4px

    .logo
      @extend .hidden-phone
      @extend .hidden-tablet

    .logo-responsive
      @extend .hidden-desktop

    .search-mobile
      @extend .hidden-desktop
      @extend .hidden-tablet
      float: left
      margin-top: 16px
      margin-left: 10%
      position: absolute
      z-index: 4
      width: 80%
      &:hover
        z-index: 60
      .icon_tool16-searcher
        background-position: -220px -181px
        background-image: url("icons/tools_ico-16.png")
        background-repeat: no-repeat

      input
        &[type="text"]
          width: 0px !important
          text-indent: 1px
          padding: 0 0 0 22px
          width: 0
          height: 22px
          border: 1px solid #eee
          color: #999
          line-height: 20px
          font-weight: bold
          @include border-radius (6px)

          @include transition (width 0.5s ease-in-out)

          cursor: pointer 
          padding: 2px 11px

      input
        &:hover
          width: 86% !important
          outline: none
          @include box-shadow (1px 1px 9px rgba(55,55,55,0.5))
          cursor: text
          padding-left: 22px






    .search-nav
      float: left
      width: 16.9%
      margin-top: 5px 0 0 0
      padding-left: 30px
      .mat
        width: 15.7%
        margin-top: 18px
        position: absolute
        z-index: 6
        .query_too_short,
        .no_results
          padding-top: 23px
          text-align: center
        .results
          ul
            margin: 20px 0 0 0 
            padding: 2px 5px
          li
            .contact,
            .audio
              padding: 6px
              margin: 2px -5px
              .avatar
                padding: 0 2% 6px 0
                float: left
                width: 25%
              .data
                display: inline-block
                width: 72%
                .info
                  @include ellipsis
            .post
              padding: 6px
              margin: 2px -5px
              p
                font-size: 15px
          li.more
            clear: both
            margin-top: 13px
            padding-left: 5px
            padding-top: 5px
            padding-bottom: 5px

        


    .explore-nav
      @extend .hidden-phone
      height: 50px
      width: 70px
      display: inline-block
      padding-left: 10px
      margin-top: 19px
      float: left
    
    ul.nav
      display: inline-table
      margin-right: -13px
      position: relative
      z-index: 6
      li
        a
          img
            width: 20px
          .name
            @extend .hidden-phone
            vertical-align: bottom
          .calendar_icon
            @extend .hidden-desktop
          .icon_navbar-home.active
            background-position: -16px -8px
          .icon_navbar-contacts.active
            background-position: -96px -8px
          .icon_navbar-calendar.active
            background-position: -214px -8px
          .icon_navbar-resources.active
            background-position: -175px -8px
          .icon_navbar-message.active
            background-position: -55px -8px
          .icon_navbar-settings.active
            background-position: -252px -7px

    .dropdown
      margin-top: 7px
      .dropdown-menu
        margin: 6px -142px 0
        .dropdown-menu-header
          margin: 0 0 0
        
      .dropdown-toggle
        margin-right: 5px
