html,
body
  height: 100%
body
  background-color: #f9f9f9
  color: #555
  text-rendering: optimizeLegibility



.wrapper
  min-height: 95%
  height: auto !important
  margin: 0 auto -32px



#toolbar
  @include grid-core-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
  float: left


.activities,
#profile-info
  @include grid-core-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
  float: left
  margin-left: 3%

  .wall_input
    padding: 5px 13px




#new_message
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  #conversation
    @include grid-core-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
    float: left
#repository
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  float: left


