body
  background: #f9f9f9 url(../images/pattern.png) repeat top left
#content-full
  @include makeColumnoMargin(12, 0)
  @include centered

.content-short 
  @include makeColumn(7, 0)

.content-large
  @include makeColumn(10, 0)
  h1
    border-bottom: 1px solid #ccc
    margin-top: 0px