<%= div_for picture do %>
  <div class="thumb">
    <%= link_to thumb_for(picture, "170x127#"),
                download_document_path(picture) %>
  </div>

  <div class="text">
    <h6>
      <%= picture.title %>
    </h6>

    <%= render partial: 'objects/timeline_description',
               object: picture,
               as: :obj %>
  </div>
<% end %>

<div class="clearfloat"></div>
