<div class="attachment_thumb">
  <%= thumb_for(video, 16) %>
</div>
<div class="attachment_text">
  <%= t('video.msg') %><%= "\""+video.file_file_name+"\"" %>
  <div class="processing_text"><%= t('video.processing')%></div>
</div>
