<% @document_activities.each do |a| %>
	<div class="media_preview all">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some document</div>
		<div class="media_preview_detail">some detail</div>
	</div>
<% end %> 