@import "colors";

/* Chatbox style sheet */

.ui-widget-content{
  border: none;  
}

.ui-chatbox {
    position: fixed;
    bottom:0;
    padding: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    background: $separation-color;
}

.ui-state-highlight {
	background: $separation-color;
	background-color: $separation-color;
	border: 1px solid $separation-color;
}

.chatWindowhighlighted {
	color: $fill-color;
}

.ui-chatbox-titlebar {
    padding: 3px 3px 3px 3px;
    height: 20px;
		background-color: $secondary-color;
		color: $main-color;
}

.ui-chatbox-content {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px;
}

.ui-chatbox-log {
    padding: 3px 3px 3px 3px;
    height: 150px;
    overflow-y: auto;
    background: $text-over-main;
}

.ui-chatbox-input {
    padding: 3px 3px 3px 3px;
    border-top: 1px solid $separation-color;
    overflow: hidden;
}

.ui-chatbox-input-box {
    margin: 5px 5px 5px 5px;
    border: 1px solid $separation-color;
    height: 35px;
		color: $main-color;
}


.ui-chatbox-icon {
    float: right;
}

.ui-chatbox-input-focus {
    border-color: $header-notification-color;
}

.ui-chatbox-msg {
    float: left;
    clear: both;
}

.ui-chatbox-log {
	border: none;
}


/* video window style */
div.ui-videobox{
	height: 0px;
	border-bottom: 1px solid $separation-color;
}

div.ui-videobox-icon{
  
}

/* notifications style sheet */

div.ui-chatbox-notify{
	visibility: hidden;
	background: $fill-color;
	background-color: $fill-color;
	color: black;
	height: 12px;
	width: 236px;
	text-align: center;
	border-style:solid;
  border-width:1px;
	border-color: $fill-color;
	opacity:0.95;
  filter:alpha(opacity=95); /* For IE8 and earlier */
	padding: 5px 0px 5px 0px;
	display: none;
}

p.ui-chatbox-notify-text{
	margin-top: 0px;
  text-align: center;
	/* font-weight: bold; */
}



/* Ticks */

.chat-thick {
	/* Possible background-image for thicks provided by jquery.ui 454545 , 222222 , 888888 , cd0a0a , ... */
	background-image: url("images/ui-icons_454545_256x240.png");
	background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
	height: 16px;
  width: 16px;
}

.chat-minusthick{
	background-position: -64px -128px;
}

.chat-closethick{
	background-position: -96px -128px;
}

.chat-videothick{
	display: none;
}


/* Presence Partial */

#chat_connecting{
	display: none;
}

#chat_connection_off{
	display: none;
}

#chat_widgets{
  display: none;
}

div.user_presence {
	float: left;
	position: relative;
	width: 30px;
	height: 30px;
}

.user_presence p {
  text-align: center;
}

#chat_partial {
	width: 150px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.presence_status {
	position: absolute;
  bottom: 0px;
  left: 14px;
  border: none;
}

.users_connected{
	display: block;
	width: 150px;
}

.chat_off{
  width: 150px;
}

#passwordFormChat{
	width: 150px;
  background-color: $main-color;
  padding-top:3px;
	padding-bottom:1px;
}

label.chatPasswordTitle{
  color: white;
  margin-left: 5px;
}

input.chat_password{
  width: 135px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

input.connectChatButton{
	text-align: center;
	width: 150px;
	background-color: $main-color;
  border: 0 none;
  cursor: pointer;
	color: white;
	font-family: Helvetica;
  font-size: 11px;
	padding: 2px 0 2px 0px;
}

p.zero_users_connected {
	text-align: center;
	margin-top: 10px;
}


/* Tooltip */

.tooltip {
  display:none;
  font-size:12px;
  height:21px;
  width:160px;
  padding: 18px 25px 15px 25px;
	margin: -15px 0px 0px 0px;
  color: white;
	background:transparent url(black_arrow3.png);
	text-align: center;
	z-index: 10;
}



/* Status style sheet */

#status{
	z-index: 1;
}
       
.dropdown dd, .dropdown dt, .dropdown ul { 
  margin:0px; 
	padding:0px; 
}

.dropdown dd { 
  position:relative; 
}

.dropdown a, .dropdown a:visited { 
  color: $main-color; 
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover { 
  color: $main-color;
}
.dropdown dt a:hover { 
  color: $main-color; 
	border: 1px solid $main-color;
}

.dropdown dt a {
	background:$secondary-color url(btn/arrowBlue.png) no-repeat scroll right center; 
	display:block; 
	padding-right:20px;
  border:1px solid $secondary-color; 
	width:128px;
}


.dropdown dt a span {
	cursor:pointer; 
	display:block; 
	padding:5px;
}
	
.dropdown dd ul { 
  background: $secondary-color none repeat scroll 0 0; 
	border:1px solid $secondary-color; 
	color: $secondary-color; 
	display:none;
  left:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:2px; 
	width:auto; 
	min-width:170px; 
	list-style:none;
	z-index: 2;
}
	
.dropdown span.value { 
  display:none;
}

.dropdown dd ul li a { 
  padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover { 
  background-color: $separation-color;
}

.dropdown img.flag { 
  border:none; 
	vertical-align:middle; 
	margin-left:10px; 
}

.flagvisibility { 
  display:none;
}


/* Chat text style */

.ownChatText {
  color: $main-color;
}

.guestChatText {
  color: $sentence-color;
}

.ownName {
  color: $main-color;
}

.guestName {
  color: $sentence-color;
}

.chatImage {
  max-width: 100px;
  max-height: 100px;
}

.chatVideoImage {
  max-width: 100px;
  max-height: 100px;
}

.chatEmoticon {
  max-width:20px;
  max-height: 20px;
}

a.chatLink:link, a.chatLink:visited {
    color: $main-color;
}

a.chatImageLink:link, a.chatImageLink:visited {
    color: $main-color;
}


/* Search contacts stylesheet */

#search_chat_contact_flexselect {
  background: url('btn/search_icon.png') 5px 50% no-repeat $secondary-color;
  padding: 0 0px 0 0px;
  font-size: 11px;
  color: $main-color;
  border: solid 1px $input-border-color;
  height: 25px;
  width: 122px;
  padding: 0 3px 0 22px;
  margin-bottom: 1px;
}

#search_chat_contact_flexselect_dropdown {
	background: $secondary-color;
}

#search_chat_contact_flexselect_dropdown li {
  background: $secondary-color;
	font-size: 11px;
  color: $main-color;
}

#search_chat_contact_flexselect_dropdown li:hover {
	background: $separation-color;
}