/************* typography COLORFONT PLUGING*******/

.colorfont {
  color: #e2e2e2;
  font-family: 'Josefin OSP' !important;
}

.colorfont-overlay {
  color: #ccc;
  font-family: 'Josefin Overlay' !important;
}