/************* typography COLORFONT PLUGING*******/

.colorfont {
  color: #e2e2e2;
  font-family: 'Din OSP' !important;
}

.colorfont-overlay {
  color: #ccc;
  font-family: 'Din Overlay' !important;
}