/************* typography*******/

@font-face{
  font-family:"OpenSans";
  src: url(social_stream/fonts/opensans/opensans-regular.ttf);
  src: url(social_stream/fonts/opensans/opensans-regular-webfont.eot);
  src: url(social_stream/fonts/opensans/opensans-regular-webfont.woff);
  src: url(social_stream/fonts/opensans/opensans-regular-webfont.svg);
}
@font-face{
  font-family:"OpenSansLight";
  src: url(social_stream/fonts/opensans/OpenSans-Light.ttf);
}

@font-face{
  font-family:"Giveyouglory";
  src: url(social_stream/fonts/GiveYouGlory.ttf);
}

@font-face{
  font-family: "Josefin OSP";
  font-weight: normal;
  font-style: normal;
  src: url(social_stream/fonts/josefinSlab/JosefinSlabRegular.ttf);
}

@font-face{
  font-family: 'Josefin Overlay';
  font-weight: normal;
  font-style: normal;
  src: url(social_stream/fonts/josefinSlab/JosefinSlabOverlay.ttf);
}
