/************* typography*******/

@font-face{
  font-family:OpenSans;
  src: url(social_stream/fonts/opensans-regular.ttf);
}

@font-face{
  font-family:BreeSerif;
  src: url(social_stream/fonts/BreeSerif-Regular.ttf);
}

@font-face{
  font-family:Giveyouglory;
  src: url(social_stream/fonts/GiveYouGlory.ttf);
}