<div class="attachment_thumb">
  <%= thumb_for(audio, 16) %>
</div>
<div class="attachment_text">
  <%= t('audio.msg') %><%= "\""+audio.file_file_name+"\"" %>
  <div class="processing_text"><%= t('audio.processing')%></div>
</div>
