<div class="attachment_thumb">
  <%= thumb_for(audio, 16) %>
</div>
<div class="attachment_text">
  <div class="title">
    <%= audio.title %>
  </div>
  <div class="processing_text"><%= t('audio.processing')%></div>
</div>
