<% if current_subject.pending_ties.any? %>
<div class="block">
  <div class="header">
    <%= image_tag('btn/btn_notifications.png', :class => "header_icon") %>
    <div class="header_text"><%= t 'tie.pending.other' %></div>
  </div>
  <div class="content">
    <%= render current_subject.pending_ties %>
  </div>
</div>
<% end -%>
