<% if current_user.received_ties.pending.any? %>
<div class="middle_box">
  <div class="middle_box_header">
    <%= image_tag('notifications.png', :class => "middle_box_picture_icon") %>
    <div class="middle_box_text_header"><%= t 'tie.pending.other' %></div>
    <div class="title_righ">
      <a href="#"><%= t 'tie.pending.all' %></a>
    </div>
  </div>

  


</div>
<% end -%>


