<div class="suggestions_header">
    <%= image_tag('notifications.png', :class => "suggestion_icon") %>
    <div class="suggestion_text_header">
        <%=t('tie.suggestion.one') %>
    </div>
</div>
<div class="suggestions">
  <%= render current_user.suggestions(2) %>
</div>

