<% if current_subject.suggestion.present? %>
  <% content_for :javascript do %>

    $(".suggestions .tie_close").livequery("click",function(){
    temp = $(this);
    $.get("<%=suggestion_ties_path%>", function(data) {
    temp.parents(".tie").replaceWith(data);
    });

    });
  <% end %>

  <div class="block_div">
    <div class="block_header">
      <%= image_tag('btn/notifications.png', :class => "block_header_icon") %>
      <div class="block_header_text">
        <%=t('tie.suggestion.one') %>
      </div>
    </div>
    <div class="block_content">
      <% if (sgs = current_subject.suggestions(2)).present? %>
        <%= render sgs %>
      <%end%>
    </div>
  </div>
<%end%>
