<% if current_user.suggestion.present? %>
  <% content_for :javascript do %>

    $.get("<%=suggestion_ties_path%>", function(data) {
    $(this).parents(".tie").replaceWith(data);
    });

    $(".suggestions .tie_close").livequery("click",function(){


      

    });
  <% end %>



<div class="tie_header">
  <%= image_tag('btn/notifications.png', :class => "tie_icon") %>
  <div class="tie_text_header">
      <%=t('tie.suggestion.one') %>
  </div>
</div>
<div class="suggestions">
  <% if (sgs = current_user.suggestions(2)).present? %>
    <%= render sgs %>
  <%end%> 
</div>
<%end%>