@import "colors";

.picture.content_size .picture_show img{
  max-width: 500px;
  max-height: 500px;
  margin-left: 30px;
  border: 2px solid black;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
}

.video_show div.jp-video-270p{
  padding-left: 40px;
}
.audio_show div.jp-audio{
  padding-left: 40px;
}
.document_show{
  padding-left: 40px;
}

#document_info .details{
  color: $details-color;  
}
#document_info #dates, #document_info #date_labels{
  display: inline-block;
}

#document_info {
  margin-top: 10px; 
}
#document_info .right, #document_info .left{
}
#document_info .right{
  float: right;
  margin-right: 30px; 
  text-align: right;
}
#document_info .left{
  float: left;
  margin-left: 30px;
}
#document_info #description{
  margin: 15px 40px; 
  text-align: justify;
}
#document_info #actions{
  margin-top: 10px; 
  margin-left: 30px; 
}
#document_info #actions .action{
  margin-right: 10px;
  padding: 5px;
}
#document_info #actions .action.selected{
  border: thin solid $separation-color;
  background: $secondary-color;
}
#document_info #actions .action img{
  width: 16px;
  height: 16px;
}
#document_details {
  padding: 10px 0px;
}
#document_edit, #document_details {
  margin: 5px 5px 0px 5px;
  border: thin solid $separation-color;
  background: $secondary-color;
  
}
#document_edit textarea{
  resize: none;
  height: 75px;
}
#document_edit .form_row {
  padding: 5px 10px;
}
#document_edit .form_label {
  width: 100px;
}
#document_edit .form_field {
  width: 415px;
  padding: 0;
}
#document_edit .form_tag {
  width: 100%;
}

#document_comments {
  margin-top: 20px;
  padding-top: 10px;
  border-top: thin solid $separation-color;
}

#document_comments .new_comment.new_comment_shown {
  width: 500px;
}

#document_comments .new_comment {
  width: 550px;
}

#document_comments .activity, #document_comments .subactivity {
  background: transparent;
  border: none;
}
#document_comments .activity_new_comment {
  display:block;
}
