<% @activity.audience.each do |a| %>
  <div class="audience_logo">
    <%= link_to image_tag(a.logo.url(:contact),
                          :alt => a.name),
                 a.subject,
                 :title => a.name %>
  </div>
<% end %>
