<div class="div_busqueda menu_list">
  <ul>
    <li>
      <%= link_to t('browse'), users_path %>
    </li>
  </ul>
  <div id="form_busqueda">
  <%= form_tag(users_path, :method => "get") do -%>
      <%=text_field_tag'search' %>
      <%=submit_tag(t('find'), :class => 'other_blue')  %>
  <% end %>
  </div>
</div>
