<div class="div_busqueda menu_list">
  <ul>
    <li>
      <%=link_to t('browse'), '#'%>
    </li>
  </ul>
  <div id="form_busqueda">
  <%=form_tag('#') do -%>
      <%=text_field_tag'name' %>
      <%=submit_tag(t('find'), :class => 'other_blue')  %>
  <% end %>
  </div>
</div>