<% if (cs = subject.contacts(:direction => :sent)).present? %>
  <div class="block">
    <div class="header">
      <%=image_tag("btn/btn_friend.png", :class => "header_icon")%>
      <div class="header_text">
        <%= cs.count %> <%= t('contact', :count => cs.count) %>
      </div>
    </div>
  </div>
  <div class ="content">
      <div class="contact space_center">
        <% cs.each do |contact| %>
            <%= link_to(image_tag(contact.logo.url, :alt => contact.name , :size => "28x28"), contact) %>
        <% end %>
      </div>
  </div>
<% end %>

