<%= render :partial => 'subjects/toolbar_logo', :locals => { :subject => current_subject, } %>

<div class="block space_center">
</div>

<%= render :partial => 'subjects/toolbar_home_menu' %>

<div class="block space_center">
</div>
