<% content_for :headers do %>
  <%= stylesheet_link_tag "menu", :media => "screen, projection" %>
  <%= javascript_include_tag 'menu' %>
<% end %>

<div id="menu_lateral">
  <ul class="menu">
    <%= render :partial => "subjects/toolbar_profile_menu_tie_options", :locals => { :subject => subject } %>
    <%= render :partial => "subjects/toolbar_profile_menu_basic_options", :locals => { :subject => subject } %>
  </ul>
</div>
<div class="space_center"></div>
