<%= render :partial => 'subjects/toolbar_logo', :locals => { :subject => subject } %>

<div class="block space_center"></div>

<%= render :partial => 'subjects/toolbar_profile_menu', :locals => { :subject => subject } %>

<div class="block space_center"></div>


<%= render :partial => 'subjects/contacts', :locals => { :subject => subject } %>

<div class="block space_center"></div>
<div class="block space_center"></div>
