<% content_for :headers, stylesheet_link_tag("menu", :media => "screen, projection") %>

<div id="menu_lateral_tie">
  <%= render :partial => "subjects/toolbar_profile_menu_tie_options", :locals => { :subject => subject } %>
</div>
<div class="space_center">
</div>

<div id="menu_lateral">
  <%= render :partial => "subjects/toolbar_profile_menu_basic_options", :locals => { :subject => subject } %>
</div>
<div class="space_center">
</div>
