@import "colors";

#link_preview {
  width: 510px;
  height: 120px;
  border: 1px solid $auxiliar-color;
  margin: 5px auto;
}

#link_preview img.loading{
  margin: auto;
  margin-top: 40px;
}
.link {
  position: relative;
  padding: 10px;
}
.link .thumbnail, .link .thumbnail img{
  float: left;
  max-height: 100px;
  max-width: 120px;
  margin-right:10px;
}
.link .info{
  float: left;
  width: 360px;
  text-align: left;
}
.activity_objects .link .info{
  width: 320px;
}
.link .info .title{
  font-weight: bold;
  margin-bottom: 3px;
}
.link .info .url{
  text-decoration: underline;
  margin-bottom: 5px;
}
.link .info .description{
}
