@import "colors";

#link_preview {
  width: 510px;
  height: 120px;
  border: 1px solid $auxiliar-color;
  margin: 5px auto;
}

#link_preview img.loading{
  margin: auto;
  margin-top: 40px;
}
#link_preview div.loading{
  margin: auto;
  margin-top: 50px;
}
#link_preview img.link_error{
  margin: auto;
  margin-top: 40px;
}
#link_preview div.link_error{
  margin: auto;
  margin-top: 5px;
}
.link {
  position: relative;
  padding: 10px;
}
.link .thumbnail, .link .thumbnail img{
  position: relative;
  float: left;
  max-height: 97px;
  max-width: 130px;
  margin-right:10px;
}
.link .thumbnail img.play_button{
  position: absolute;
  bottom: 2px;
  left: 2px;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.link .thumbnail img.play_button:hover{
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
.link .info{
  float: left;
  width: 360px;
  text-align: left;
}
.activity_objects .link .info{
  width: 310px;
}
.link .info .title{
  font-weight: bold;
  margin-bottom: 3px;
}
.link .info .url{
  text-decoration: underline;
  margin-bottom: 5px;
}
.link .info .description{
}
.link iframe{
  border: 0;
} 
