<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#"><%= t('message.' + @box) %></a></li>
  </ul>
</div>
<div class="conversations">
  <%= render @conversations %>

</div>
