<%= location(
	link_to(t('message.' + @box), conversations_path(:box => @box),:remote => true),
	link_to(truncate(@conversation.subject, :length => 45), conversation_path(@conversation.id,:box => @box,:page => params[:page]))
) %>

<br class="clearfloat" />
<div class="space_center">
</div>
<div class="space_center">
</div>
<div class="conversation_full">  
 <%= render :partial => 'conversation_full', :locals =>{:conversation => @conversation} %>
</div>
