<% content_for :title do %>
  <%=t('message.other')%>
<% end %>

<% sidebar %>

<div class="gray_links">
      <a id="me_load_more_button" data-remote="true" class="btn-more" href="#">Ver más...</a>
    </div>

<%= location(link_to(t('message.' + @box), conversations_path(:box => @box),:remote => true)) %>

<% toolbar :messages %>

<%= render :partial => 'index' %>
