<section id="conversations">

  <%= render partial: 'toolbar/messages' %>

  <%= render :partial => 'index' %>

  <%content_for :javascript do%>
    $(function() {
      SocialStream.Conversation.index();
    });
  <% end %>

</section>
