<% content_for :title do %>
  <%=t('message.other')%>
<% end %>

<% toolbar :messages %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#"><%= t('message.' + @box) %></a></li>
  </ul>
</div>

<%= render :partial => 'index' %>

<%= javascript_tag do %>
  $(function() {
    SocialStream.Conversation.index();
  });
<% end %>
