<div class="accordion">
  <header class="accordion-heading">
    <h5>
      <%= link_to t("#{ current_subject.class.to_s.underscore }.destroy.one"), "javascript:void(0);", class: 'accordion-toggle', "data-toggle" => 'collapse', "data-parent" => "#settings-accordion", "data-target" => "#destroy_settings_content" %>
    </h5>
  </header>
  <div class="content settings_content collapse" id="destroy_settings_content">
    <div class="form_row">
      <%= t("#{ current_subject.class.to_s.underscore }.destroy.explanation") %>
      <%= link_to t("#{ current_subject.class.to_s.underscore }.destroy.go_ahead"),
          current_subject,
          :method => :delete,
          :confirm => t("#{ current_subject.class.to_s.underscore }.destroy.last_confirm") %>
    </div>
  </div>
</div>

