<% content_for :title do %>
  <%=t('message.other')%>
<% end %>

<section id="new_message">

  <%= render partial: 'toolbar/messages' %>

  <%= render :partial => 'new' %>

  <%= javascript_tag do %>
    $(function() {
      SocialStream.Message.new_();
    });
  <% end %>
</section>
