<div class= "block">
  <div class = "content">
  <%= form_for Avatar.new,:html => { :multipart => true} do |f| %>
  <div class="form_row">
  	<%= f.file_field :logo %>

	  <%= f.submit t('avatar.upload'), :class => "button" %>
  </div>
  <div id= "prueba">
  </div>
  <% end %>
</div></div>
