<% if @search_result.empty? %>
<div class="model_with_details">
  <%= I18n.t('search.nothing') %>
</div>
<% else %>
<% @search_result.each do |model|%>
<div class="subject_search_results block left">
  <% if @search_class_sym.nil? %>
    <%= render_global_search_for model %>
  <% else %>
    <%= render_focus_search_for model %>
  <% end %>
</div>
<% end %>
<br class="clearfloat">
<%= paginate @search_result %>
<% end %> 