<div id="search_form">
  <form action="<%= search_path %>" method="get">
    <div class="block">
      <div class="form_row search_row">
        <%= hidden_field_tag :focus, params[:focus] %>
        <%= text_field_tag :search_query, params[:search_query].present? ? params[:search_query] : nil ,:autocomplete => :off, :id => :global_search_input %>
      </div>
    </div>
  </form>
</div>