<% total = 0 %>
<ul>
    <% unless @search_result.empty? %>
      <% @search_result.each do |model|%>
        <% total+=1 %>
        <li class="result"><%= render_global_search_for model %></li>
      <% end %>
    <% end %>    
  </li>
  <%= link_to raw('<li class="more">' + 
                  t("search.global.first_result.#{ total == 1 ? 'one' : 'more' }", :count => total) +
                  '<br>' +
                  t('search.global.query', :query => truncate(h(params[:search_query]),:length => 20)) + 
                  '</li>'), 
              search_path(:search_query => params[:search_query]) %>
</ul>
