<% total = 0 %>
<ul>
<% SocialStream.quick_search_models.each do |model_sym| %>  
    <% unless @search_result[model_sym].empty? %>
      <% @search_result[model_sym].each do |subject|%>
        <% total+=1 %>
        <li class="result"><%= model_with_details subject %></li>
      <% end %>
    <% end %>    
  </li>
<% end %>

  <%= link_to raw('<li class="more">' + 
                  t("search.global.first_result.#{ total == 1 ? 'one' : 'more' }", :count => total) +
                  '<br>' +
                  t('search.global.query', :query => truncate(h(params[:search_query]),:length => 20)) + 
                  '</li>'), 
              search_path(:search_query => params[:search_query]) %>
</ul>
