<nav id="toolbar">
	<div id="toolbarContent" class="block">
		<div class="space_center"></div>
	</div>
</nav>
<div id= "center_body">
	<section id="content">		
    <%= render :partial => 'index' %>
	</section>
</div>
<aside id="sidebar">
	<div id="sidebarContent"></div>
</aside>
