<%= location(link_to(t('search.global.name')))%>
<br class="clearfloat" />

<h2><%= t('search.name') %></h2>

<div id="search_form_div">
<%= render :partial => 'form' %> 
</div>

<div id="search_results" class="block">  
    <%= render :partial => 'extended_search' %>
</div>
