<div id="cancel_account">
  <header>
    <h5>
      <%= link_to ("cancel account"),  "javascript:showSettings(\"cancel_account\");" %>
    </h5>
  </header>
  
  <div class="content settings_content" id="cancel_account_content" style="display:none;">
    Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>
  </div>

</div>
