@import "fullcalendar"

#calendar
  .fc-button.fc-state-default 
    @extend .btn-blue
    color: $blue

    // .btn-group > .btn
    position: relative
    //float: left;
    //margin-left: -1px;
    @include border-radius(0)

  .fc-button.fc-state-active 
    @extend .btn-blue.active
    color: $white
  .fc-button.fc-state-disabled 
    @extend .btn-blue.disabled
    background-color: $blue
    color: $white

  .fc-button.fc-state-disabled:active 
    @include box-shadow(none)

  .fc-button.fc-corner-left 
    // .btn-group > .btn:first-child
    margin-left: 0
    @include border-top-left-radius (4px)
    @include border-bottom-left-radius (4px)

  .fc-button.fc-corner-right 
    // .btn-group > .btn:last-child, .btn-group > .dropdown-toggle
    @include border-top-right-radius (4px)
    @include border-bottom-right-radius (4px)

  .fc-event-inner
    background-color: $gray

  .fc-event-inner,
  .fc-other-month 
    @include opacity (80)

  .fc-day-number
    float: right
    pointer: pointer
    padding: 1px 3px 0 0
    min-height: 89px

  .fc-header-right,
  .fc-header-left,
  .fc-header-center
    vertical-align: middle
    text-align: center
    padding: 0 0 6px 6px
  .fc-header-right,
  .fc-header-left
    background-color: whitesmoke
  .fc-header-right
    padding-right: 6px

    .fc-header-title
      margin-top: 13px
      h2
        line-height: 32px
      .btn
        margin-right: 6px 

  .fc-widget-header
    background: whitesmoke

.fc-event-skin
  background-color: $gray


#calendar_form
  .modal-body
    background: whitesmoke

#sidebar
  .calendar
    padding: 5px
    display: block
      
#month_top
  padding: 5px
  text-align: center
  border-bottom: 1px solid #dbdbdb
  margin-bottom: 10px

#days
  padding: 5px
  tr
    td
      padding-left: 7px
      padding-right: 7px
      text-align: right
      a
        color: $gray
    .busy
      font-weight: bold
      @include border-radius(5px)
      border: 1px solid #c4c4c4
      background-color: $white
    .other_month
      @include opacity (70)

#month_bottom
  text-align: center
  padding: 5px
  border-top: 1px solid #dbdbdb
  margin-top: 10px
  a 
    color: $gray
    text-decoration: none 
.fc-content
  .fc-cell-overlay,
    @include opacity (40)
    color: $blue

.fc-state-highlight
  background-color: rgba(4,156,219,0.2)