#content-large
  .add-new
    float: right
  .documents
    .document
      display: inline
      @include makeColumn(3, 0)
      .thumb
        @include makeColumn(1, 0)
        display: inline
        margin-top: 10px
        margin-left: 0px
      .brifing
        @include makeColumn(2, 0)
        display: inline-block
        margin-left: 0px
      .author
        margin-top: -10px
        font-size: 13px
    .actions
      color: #888
      font-size: 12px