#content
  .add-new
    float: right

  .document
    display: inline
    .thumb
      @include makeColumn(1, 0)
      display: inline
      margin-top: 10px
    .brifing
      @include makeColumn(2, 0)
      display: inline-block
      margin-left: 0px
    .author
      margin-top: -10px
      font-size: 13px
  .actions
    color: #888
    font-size: 12px