#content-large
  @include makeColumn(10, 0)
  .central
    @include makeColumn(7, 0)
    display:inline-block
    margin-left: 0px
  #details
    @include makeColumn(3, 0)
    display:inline-block
  #document_info
  display:inline

  .first
    display:inline
    #view_count
      display:inline
      .count
    #like_count
      display:inline-block
      .count
  .title
  .description

  .tags
  .date_labels
    .data
  .file_size
    .details  

