#content-large
  @include makeColumn(10, 0)
  .central
    @include makeColumn(7, 0)
    display:inline-block
    margin-left: 0px
  #details
    @include makeColumn(3, 0)
    display:inline-block



.documents
  @include makeColumn(6, 0)

.document
  display: inline
  
  .thumb
    @include makeColumn(1, 0)
    display: inline
    margin-top: 10px
    
  .brifing
    @include makeColumn(2, 0)
    display: inline-block
    margin-left: 0px
    
    .author
      margin-top: -10px
      font-size: 13px
    .actions
      color: #888
      font-size: 12px
    