<% unless params[:no_layout].present? %>
  <%= render :partial => "common/headers" %>
  <div id="documents_grid">
<% end %> 

<% @activities.each do |a| %>
<% document = a.activity_objects.first.document %>
<div class="attachment_tile">
  <div class="attachment_tile_thumb">
    <%= link_to thumb_for(document,48),
    {:controller => "documents", :action => "show", :id => document},
    :type => document.type,
    :title => document.file_file_name,
    :path => document_path(document) %>
  </div>
  <div class="attachment_tile_text">
    <%= link_to truncate_name(document.file_file_name,:length => 15),
    {:controller => "documents", :action => "show", :id => document},
    :alt => document.file_file_name,
    :type => document.type,
    :path => document_path(document) %>
  </div>
</div>
<% end %> 

<% if @activities.size == DocumentsController::PER_PAGE %>
  <% next_url = url_for(:no_layout => true, 
                        :page => params[:page].present? ? params[:page].to_i + 1 : 2,
                        :query => params[:query].present? ? params[:query] : "") %>
  <%= content_tag(:span, "", :class => "screw screw-after", :rel => next_url)%>
<% end %>

<% unless params[:no_layout].present? %>
  </div>
<% end %> 
