.attachment
{
	padding-top: 10px;
}

.attachment_text
{
	position: relative;
	width: 90%;
	vertical-align: middle;
	line-height: 50px;
	height: 50px;
	float:left;
	font-size:13px;
}

.attachment_text a
{
	color: #2A3890;
	padding-left: 10px;
}

.attachment_thumb
{
	position: relative;
	width: 10%;
	float: left;
	height: 50px;
	vertical-align: middle;
}

#new_attachment{
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
	clear: both;
}