/* reset.css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}

/* typography.css */
body{font-size:75%;color:#222;background-color:#f8f9f9;font-family:"Lucida Grande",Helvetica,Arial,Helvetica,sans-serif;}
h1,h2,h3,h5{font-weight:normal;color:#111;}
h1{font-size:2.6666em;line-height:1.125;color:#244974;}
h2{font-size:2em;color: #244974;}
h3{font-size:1.0833em;line-height:1.3846;text-align:center;}
h3 img{margin-bottom:-4px;}
h5{font-size:0.9166em;line-height:1.6363;margin-bottom:0.75em;font-weight:bold;}
p{margin:0 0 1.5em;}
a:focus,a:hover{text-decoration:underline;}
a{color:#1F488F;text-decoration:none;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}


/*Fin tipografia*/

/************************************************** BUTTONS ********************************************/
/*
 * TYPES OF BUTTONS ('a' button, button, input...)
 * 1- BASIC_BUTTON: blue, small-padding
 * 2- MEDIUM_BUTTON: blue or yellow,
 * 3- BIG_BUTTON: red or yellow
*/

/*COMMON PROPERTIES*/
button{padding:3px 7px 3px 6px;overflow:visible;width:auto;}

.button_wrapper{
	overflow:hidden;
	width:100%;}

a.basic_button,button{
	font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
    font-weight:bold;}

a.basic_button{
	display: block;
    float: left;
    text-decoration: none;
	}

a.basic_button:hover{text-decoration:none;outline: none; /* hide dotted outline in Firefox */}

a.basic_button span{
    display: block;}

a.basic_button span:hover{
    outline: none; /* hide dotted outline in Firefox */}

/*BASIC BUTTONS*/
a.basic_button,button.basic_button{
	-webkit-border-radius:4px;-moz-border-radius:4px;
	font-size:95%;
	line-height:135%;
	margin-right:4px;
	cursor:pointer;
	/*padding-right: 4px; /* sliding doors padding */
}
a.basic_button span{
	-webkit-border-radius:4px;-moz-border-radius:4px;
    line-height: 16px;
    padding: 4px;
}

/*BUTTON COLOURS*/
.blue_button,.blue_button span{background:#275b8a url("../images/buttons/boton-generico1.png") repeat-x scroll;color:#FFF;}
	
.blue_button span,button.blue_button{border:1px solid #244974;}

.blue_button span:hover,button.blue_button:hover{border:1px solid #86B5D5;}


/* forms.css */
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.margin-up{margin-top:0.75em;}

/* grid.css */
body{min-width:910px;}
body .icon{margin-bottom:-3px;}

#global,#home,#footer,#sponsor{width:960px;margin:0 auto;}
#home{background-color:#f8f9f9;}
#sponsor{color:#666666;}

#global-wrapper{background:#244974;border-bottom:2px solid #0e3d74;}
#global{padding:0.5em 0;}
#global a{color:#eee;text-decoration:none;}
#global-logo {font-family:Trebuchet;font-weight:bold;text-shadow:#000 1px 1px 1px;}
#global-logo img{margin:0 4px -4px 0;}
#feedback{margin-left:50px;}
#feedback a{font-weight:normal;}
#about{margin-left:50px;}
#feedback,#about{padding:7px 0.5em 7px 0.5em;}
#feedback:hover,#about:hover{background:#275b96;}

#header{background-color:#f8f9f9;height:68px;margin-bottom:1em;}
#logo{float:left;}
#logo{width:192px;}
#search{float:right;}
#search{margin-top:23px;}
#eu{float:right;margin-top:10px;}
#prefs{font-size:0.9166em;line-height:1.6363;font-weight:bold;position:relative;float:right;font-family:Helvetica;}
ul#prefs {list-style-type:none;margin:0;}
#prefs li{margin-left:12px;display:inline;}
#prefs a{color:#f0f0f0;}
#prefs .new{font-weight:bold;color:#A52A2A;}
#prefs a:hover{text-decoration:underline;}
#about2{float:right;margin-right:50px;margin-top:27px;}
#content{clear:both;min-height:600px;overflow:hidden;}
#main{float:left;margin-bottom:1.5em;}
#main{width:100%;margin-right:10px;padding-left:10px;}
#wrapper{padding:0 10px 10px 10px;background:#fff;margin-top: 0.5em;}
#sidebar{float:left;width:270px;padding-right:10px;}

.help-wrapper{background:#fff;float:left;width:570px;font-size:1.0833em;line-height:1.3846em;color:#111;}
.help-wrapper{margin-bottom:0.75em;border-right:1px #B0CADB solid;border-bottom:1px #B0CADB solid;}
.help-wrapper #description{padding:9px;}
.help-wrapper h3.title{color:#244974; font-size:1.2em;line-height:1.25;padding:8px 9px;margin:0 0 2px 0;background:#bdd8eb;}
.help-wrapper div.pics{float:left;width:275px;margin:5px 5px 0 5px;text-align: center; color:#244974;} 
.help-wrapper div#end{margin-bottom:0.75em;}
.help-wrapper div.pics img{float:left;}
.help-wrapper div.pics img{width:275px;}
.help-wrapper object {margin-left:5px;}

/*content*/
.wrapper{float:left;width:590px;}
.wrapper ul{list-style-type:none;}
.wrapper h3.title{color:#244974; font-size:1.2em;line-height:1.25;padding-bottom:10px;padding-top:5px;}
.wrapper ul{text-align:right;font-size:0.9166em;line-height:3.2727;margin-right:0;margin-bottom:0;}
.wrapper ul li{display:inline;}
.wrapper div.spc{float:left;width:190px;margin-right:10px;text-align: center; color:#244974;}
.wrapper div#end{margin-right:0;}
.wrapper div.spc img{float:left;}
.wrapper div.spc img{width:188px;height:143px;border:1px #CCC solid;}
.wrapper div.spc img:hover{border-color:#999;}
.wrapper ul#list-events{margin:0;text-align:left;}
.wrapper #list-events li{float:left;}
.right a,.right button{float:right;}
#list-events li span{margin-left:10px;}
#list-events a{text-decoration:none;color:#111;}
#list-events a:hover{color:#555;}
.updated{font-size:0.9166em;line-height:1.6363;font-style:italic;color:#111;}
.spc p a{text-decoration:none;color:#244974;}
.spc p a:hover{text-decoration:underline;}
/*about global*/
.about-wrapper{background:#fff;float:left;width:570px;font-size:1.0833em;line-height:1.3846em;color:#111;}
.about-wrapper{margin-bottom:0.75em;border-right:1px #B0CADB solid;border-bottom:1px #B0CADB solid;}
.about-wrapper #description{padding:9px;}
.about-wrapper h3.title{color:#244974; font-size:1.2em;line-height:1.25;padding:8px 9px;margin:0 0 2px 0;background:#bdd8eb;}
.about-wrapper div.pics{float:left;width:275px;margin:5px 5px 0 5px;text-align: center; color:#244974;} 
.about-wrapper div#end{margin-bottom:0.75em;}
.about-wrapper div.pics img{float:left;}
.about-wrapper div.pics img{width:275px;}
.about-wrapper object {margin-left:5px;}
/*about-sidebar*/

#sidebar #about-sidebar h5{padding:8px 0.5em 8px 0.5em;background:#bdd8eb;border-right:1px #B0CADB solid;border-bottom:1px #B0CADB solid;margin-bottom:10px;}
#about-sidebar ul {list-style-type:none;margin-left:0.5em;}
#about-sidebar .partners ul, #about-sidebar .global-posts ul{margin-bottom:0;padding-bottom:8px;border-bottom:1px #b0cadb solid;margin-bottom:9px;}
#about-sidebar .partners a, #about-sidebar .global-posts a {font-weight:bold;color:#244974;text-decoration:none;}
#about-sidebar .partners a:hover, #about-sidebar .global-posts a:hover{text-decoration:underline;}
#about-sidebar #go-vcc {border:1px #bdd8eb solid;background:#fff;padding:6px 6px 9px 31px;}
#about-sidebar .global-posts h5 span{float:right;}

/*sidebar*/
#sidebar .join{background:#bdd8eb;-webkit-border-radius:7px;-moz-border-radius:7px;padding:0 10px 10px 10px;text-align:center;color:#244974;/*border: solid 2px #244974;*/margin-top:10px;border-right:2px #A8C0D1 solid;border-bottom:2px #A8C0D1 solid;}
.join h2{margin-bottom:0;padding-top:9px;color:#244974;}
.join p{margin:0.75em 0;}
/*.join a:hover,.join a:focus{text-decoration:none;}*/
div.rel-users,div.rcnt-posts,div.contact{margin-top:1.5em;}
#sidebar h5{font-size:1.1em;line-height:1.3636;color: #244974;}
#sidebar h5{padding-bottom:0.75em;border-bottom:1px #ccc solid;}
#sidebar .rcnt-posts li a{font-weight:bold;color:#244974;text-decoration:none;}
#sidebar .rcnt-posts li a:hover{text-decoration:underline;}
.rel-users div img{margin-left:2.5px;margin-right:2.5px;}
.rcnt-posts ul{list-style-type:none;margin-left:0;margin-bottom:0.5em;}
.rcnt-posts .last p{margin-bottom:0;}
.rcnt-posts ul img{display:none;}
.updated{color:#8C8A8A;}
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix{display:block;}
#list-events li span.red{color:#611427;font-weight:bold;}
.help-info{padding-bottom: 10px; float:left;width:230px;border:1px #bdd8eb solid;background:#f0f6f9;margin-top: 0.5em;}
.help-title {background:#bdd8eb;border-bottom:1px #A8C0D1 solid;}
.help-title h3{margin-top:0;padding-top:0.5em;color:#244974;}
.topics-section{padding:0 10px;padding-top:0.5em;margin:0 0 0.75em;}

#footer{background-color:#e1eef5;clear:left;font-size:0.9166em;line-height:1.6363;color:#666;padding:0.75em 0;}
#footer ul, #sponsor ul{list-style-type:none;margin:0 0.5em; }
#footer ul li,#sponsor ul li{display:inline-block;margin-right:0.25em;position:relative;}
#footer ul li#trade_mark,#sponsor ul li#trademark{font-weight:bold;color:#111;}
#footer ul li#trade_mark_logo{font-weight:normal;}
#footer a, #sponsor a{color:#666;}
#footer a:hover, #sponsor a:hover{color:#444;}
#footer .icon,#global .icon{margin-bottom:-4px;}
#footer-wrapper{background-color:#e1eef5;}
#footer_right{font-weight:normal;}
#footer_right{ font-size: 10px; line-height: 1.1em;}


#thumbs ul li{display: inline;list-style-type: none;}
.right-align {float:right}


#sponsor-wrapper{ text-align:right; vertical-align:middle; padding-bottom: 5px;}
#spaces_select {float: right;}
#spaces_select select{font-size:93%;line-height:1.5;}
column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;min-height:580px;/*margin-right:10px;*/}
.last, div.last {margin-right:0;}

.span-11 {width:430px;}
.span-12 {width:470px;}


/******************FRONTPAGE PARTE CENTRAL************************/

#share span, #collaborate span, #meet span{
	float:left;
}

#collaborate, #meet{
	margin-top:20px;
} 
.no_float_left{
	clear:left;
}

#login span.no_float_left{
	clear:left;
}
.float_left{
	float: left;
}
#login ul{
	text-align:right;
	list-style:none;
	color:white;
}
#login ul li{
	margin-top:5px;
}
a.login{
	background-color:#4881c2;
	padding:2px;
}

#share ul, #meet ul, #collaborate ul{
	list-style:none;
	font-size:14px;
	margin-top:3px;
	width:306px;
}
#share ul li img, #meet ul li img, #collaborate ul li img, #right_actions ul img{
	padding-right:5px;
	
}
#right_actions ul{
	list-style:none;
	
}

/************* site ******************/
#body {
  width:960px;
  margin-left: auto;
  margin-right: auto;
}

*{
	margin:0;
	padding:0;
	font-family:Helvetica;
}

#site{
	background-color:#f5f5f5;
	margin:0px auto;
	width:100%;
}

.clearfloat {
	clear:both;
	height:0px;
}
#espacio_body_top{
  margin-left:0px;
  margin-top:34px;
  display: block;
}

#espacio_body_bottom{
  margin-left:0px;
  display: block;
  height: 150px;
  
}

#home, #header{
  background-color:#f5f5f5;
}

/*******************CABECERA***********************/

#global-wrapper {
	width:100%;	
	padding:0;
	background:#1F4A75;
}

.banner{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	position:relative;
}

#logo {
	background:#1F4A75;
	margin-left:0px;
	margin-top:0px;
	width:200px;
	height:59px;
	margin-bottom:0px;
	display:inline;
	text-indent:99999px;
}

#logo.frontpage_logo{background:#1F4A75 url('/images/logo.png') no-repeat scroll; }

#espacio_header {
	margin:0px;	
	margin-left:166px;
	margin-top:50px;
	height:61px;
	display:inline;
}

/*DENTRO DE LA CABECERA: LOGIN*/

.div_login, .div_login_openid {	
	color:#FFF;
	width:580px;
	display:inline-block;
	text-align: right;
	vertical-align: top;
	padding-top: 5px;
	font-family:Helvetica;
	font-weight:normal;
	margin-top:3px;
}

.div_login #username, .div_login_openid #username{
	height:10px;
}

.div_login, .div_login_openid, .input_username{
	position:relative;
	padding: 0px;
	border: 0px;
	
}

.div_login #login_button, .div_login_openid #login_button,{
	width:61px;
	height:18px;
	
}
.div_login a.login, .div_login_openid a.login{
	background-color:#497FC1;
	padding-right:2px;
	padding-left:2px;
	color:white;
}

.div_login #subtexto, .div_login_openid #subtexto{
	padding-top: 10px;
	height:12px;	
	font-size: 11px;
  font-family:Helvetica;
}

#global .div_login a,#global .div_login_openid a{
	color:#FFFFFF;
	padding:0px 7px;	
}

#global .div_login a:hover,#global .div_login_openid a:hover{text-decoration:underline;}

.div_login .a_border, .div_login_open_id .a_border{
	border-right:thin solid;
	padding:0px 7px;
	text-decoration:underline;	
}

div#openid_label{
	font-size:12px;
	line-height:135%;
	font-family:"Helvetica";
}

div#openid_label input#openid_identifier{
	border:0 none;
	padding:0 0 0 18px;
	margin-right:0;
	position:relative;
	background:#fff url("../images/open-id-logos/openid1.png") no-repeat scroll left center;
}

/**************BÚSQUEDA*****************/


.banner_busqueda {
	width:960px;
	height:61px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	position:relative;
}

.banner_busqueda #espacio_busqueda {
	width:692px;	
margin-left:20px;
margin-top:21px;
	height:45px;
	margin-bottom:0px;
	float:left;
	display:inline;
}

.div_busqueda {	
	color:#0656a4;
	width:248px;
	display:inline-block;
	text-align: right;
	vertical-align: top;
	font-size: 12px;
}

.div_busqueda #subtexto_busqueda {
	padding-top: 10px;
	padding-bottom: 8px;
	height:12px;	
	font-size: 12px;
}

.div_busqueda #input_find{
	position:relative;
	border-color:#0656a4; 
	padding: 0px;
	border: 1px inset;
}

.div_busqueda #find_button{
	width:15px;
	border:0px;
	height:15px;

}

.div_busqueda .a_border{
	border-right:thin solid;
	color:#0656a4;
	padding:0px 7px;
	text-decoration:underline;	
}

.div_busqueda a{
	color:#0656a4;
	padding:0px 7px;
	text-decoration:underline;	
}
span.find{
  padding-right:5px;
  
}
/*********************PARTE CENTRAL**********************/

/**************** LEFT CONTENT *************/

#vcc_title{
	font-size: 17px;
	font-weight:bold;
	color: #1F4A75;
	vertical-align: top;
	margin: 0px;
	text-align: center;
	padding: 0px;
}
#text_bottom_title{
	font-size: 14px;
	color: #000;
	font-weight: bold;
	font-family:Helvetica;
}

#join_form{
	text-align: right;
	padding-right: 60px;

}

#join_button{
	width:111px;
	border:0px;
	height:auto;

}

.left{
	margin-left:35px;
}

div {
	margin:0px;
	padding:0px;
	font-family:verdana; /*font-size:12px;*/
}


/******************** RIGHT **********/

.right{
	
	display: inline-block;
	margin-left:10px;
}

#caracteristics{
	vertical-align: top;;
}


#caracteristics span {
	float:left;
	padding-right: 13px;
	vertical-align: top;
	padding-top: 5px;
	
}
#caracteristics ul{
	list-style: none;
	margin: 0px;
	float:left;
	
}
#caracteristics ul li{
	font-size:13px;
	font-family: Helvetica;
	line-height:18px;
	padding:7px 0 8px 30px;	
}

li.participants{background: transparent url("../images/frontpage/right_webcam.gif") no-repeat left center;}
li.organizers{background: transparent url("../images/frontpage/right_organizers.gif") no-repeat left center;}
li.spaces{background: transparent url("../images/frontpage/right_people.gif") no-repeat left center;}
li.comments{background: transparent url("../images/frontpage/right_comments.gif") no-repeat left center;}
li.tags{background: transparent url("../images/frontpage/right_tags.gif") no-repeat left center;}
li.networks{background: transparent url("../images/frontpage/right_social.gif") no-repeat left center;}

/****************FOOTER**********************/ 

.idioma {
  width:960px;
  height:20px;
  margin-left:auto;
  margin-right:auto;
  padding:0;
  color: #0656a4;
}

#footerFront {
	width:100%;	
	padding:0;
	background:#E1EEF5;
}

.banner_footer {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	position:relative;
}

.banner_footer span{
	font-family:sans-serif;
}
.banner_footer #footer_content{
	text-align:left;
	color: #ccc;
	
}
.banner_footer{
	width:960px;
	color: #0656a4;
	margin-left:auto;
	margin-right:auto;
	padding-top:2px;
	
	position:relative;
}

.banner_footer .a_border{
	border-right:thin solid;
	color:#0656a4;
	padding:0px 7px;
	text-decoration:underline;	
}
.banner_footer a{
	color:#0656a4;
	padding:0px 7px;
	text-decoration:underline;	
}

#logo_UE {
	margin-left:0px;
	margin-top:0px;
	width:30px;
	height:16px;
	margin-bottom:0px;
	display:inline;
}
#espacio_body_bottom{
	margin-left:0px;
	display: block;
	height: 150px;
}

div.banner_footer a{
	font-family:Helvetica;
}

input.other_blue{
	background:#497FC1;
	border:0px;
	cursor:pointer;
  font-size:95%;
  line-height:135%;
  margin-right:4px;
	color:white;
	padding:1px;
	font-weight:normal;11px;
	font-family:Verdana;
}

/*Internationalization*
 */

a.language_select{padding:0px 3px 5px 3px;outline:none;margin-left:-3px;}
#footer a.language_select.menu-open{background:#fff;border:1px solid #999;color:#222;padding:5px 5px;}
div#language_select{display:inline-block;}
#language_select ul#language_menu{
  background:#fff;
  border-color:#999999;
  border-style:solid;
  border-width:1px 1px 1px;
  margin-right:-1px;
  margin-bottom:-1px;
  min-width:90px;
  position:absolute;
  right:1px;
  bottom:22px;
  z-index:1;
  list-style-type:none;
}
#footer ul#language_menu li{cursor:pointer;display:block;margin-right:0;border-top:1px solid #ccc;}
ul#language_menu li:hover{background:#244974;}
ul#language_menu li a{color:#222;display:block;padding:3px 3px 3px 10px;outline:none;}
ul#language_menu li a:hover{text-decoration:none;color:#fff;}

#video{
	display:inline-block;
	width:320px;
	vertical-align:top;
	padding-top:0px;
}

