.dialog_add_tie {
	padding: 5px 4px 5px 4px;
}

.input_new_tie {
	border:1px solid #BDC7D8;
	width:98%;
	padding: 2px;
  font-size:11px;
  height: 80px;
}

.activity_add_ties {
	color: #2A3890;
	font-size: 12px;
  font-weight:bold;
  display: inline-block;
  padding: 0 10px 0px 0px;
}

.tie_logo {
	width: 105px;
	padding: 8px 0px 8px 5px;
	display: inline-block;
	vertical-align: top;
}

.follow_btn{
  color: #fff;
  background-color: #1F4A75;
  padding: 2px 2px 2px 2px;
  border:1px solid #BDC7D8;
  font-size: 11px;
  cursor: pointer;
}


.ties_btn{
    text-align: right;
    padding: 2px 0px 2px 10px;
    vertical-align: middle;
}


/************* SUGGESTIONS *************/
.suggestions {
	padding: 5px 4px 5px 4px;
}
.tie_header {
	vertical-align: middle;
	background: transparent url(../images/btn/title_background.png) scroll 0px;
	padding-left: 10px;
	display: block;
}
.tie_icon {
	margin-top: 2px;
}

.tie_text_header {
	padding-bottom: 2px;
	display: inline-block;
}

.tie_all{
	float: right;
	padding-right: 5px;
	padding-top: 3px;
}

.tie_content {
	display: inline-block;
  padding-left:3px;
	/*padding-bottom: 10px;*/
}

.tie_actor_logo{
	display: inline-block;
  vertical-align:top;

}

.tie_brief {
	color: #6C6D6F;
}

.tie_close {
  float:right;
  vertical-align:top;

}




