/******************** Search box css ***********************/
#header_search {
  float: left;
  padding: 1px 10px 0 10px;
  z-index:2001;
}

#global_search_input {
  width: 150px;
  height: 16px;
  border: solid 1px #dedede;
  padding:0 3px 0 22px;
  background: url('btn/search_icon.png') 5px 50% no-repeat white;
  font-size: 11px;
  color: #2A3890;
}
#global_search_display {
  width: 175px;
  display: none;
  float: right;
  margin-right: 35px;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  overflow: hidden;
  position: relative;
}
.global_search_display_row {
  padding: 4px;
  border-top: solid 1px #dedede;
  font-size: 10px;
  height: 35px;
  background: #E1EEF5;
  overflow: hidden;
}
.global_search_display_row:hover {
  background: #3b5998;
  color: #FFFFFF;
}
/******************** Search box css END ***********************/
