<%= hidden_field_tag 'link[owner_id]', Actor.normalize_id(receiver) %>
<%= hidden_field_tag 'link[url]' %>
<%= hidden_field_tag 'link[loaded]', false %>
<div id="link_preview_loading">
  <%= render partial: 'layouts/loading' %>
</div>
