<h3 class="description big pull-right">
  Social Stream es un núcleo para construir webs con características de red social
</h3>
<h4 class="description lite pull-right">
  1263 usuarios y 201 grupos registrados!
</h4>