<div class="description">
  <h3 class="big pull-right">
    Social Stream es un núcleo para construir webs con características de red social
  </h3>
  <h4 class="lite pull-right">
    1263 usuarios y 201 grupos registrados!
  </h4>
</div>
