<div class="description">
  <h3 class="big pull-right">
    <%= t 'frontpage.main_title' %>
  </h3>
  <h4 class="lite pull-right">
    <%= t 'frontpage.stats', users: User.count, groups: Group.count %>
  </h4>
</div>
