<section class="explanation">
  <h3 class="big">
    <%= t 'frontpage.main_title' %>
  </h3>
  <h4 class="lite">
    <%= t 'frontpage.stats', users: User.count, groups: Group.count %>
  </h4>

  <%= link_to t('explore.link'), explore_path, class: 'btn' %>
</section>
