<header class="headerFront">
  <div class="logo">
    <%= link_to(image_tag('logo.png', :alt => t('site.name')), '/'); %>
    <div class="brand inline"></div>
    <% unless params[:controller].eql? 'devise/sessions' and params[:action].eql? 'new' %> 
    <% end %>
    <br class="clearfloat" />
  </div>
</header>
