<div class="logo-header-out">
  <%= link_to root_path, alt: t('site.name') do %>
    <div class="cube">
      <div class="face top-plane">
      </div>
      <div class="face top-plane top-plane-shape">
      </div>
      <div class="face left-plane">
      </div>
      <div class="face left-plane left-plane-shape">
      </div>
      <div class="face demoright">
      </div>
    </div>
    <div class="shadow">
    </div>
  <% end %>
  <%= link_to(image_tag('header-logo-index.png', class: "logo", :alt => t('site.name')), root_path) %>
</div>
