<div class="logo-header-in">
  <div class="cube">
    <div class="face cenit">
    </div>
    <div class="face cenit cenit-shape">
    </div>
    <div class="face left">
    </div>
    <div class="face left left-shape">
    </div>
    <div class="face demoright">
    </div>
  </div>
  <div class="shadow">
  </div>
  <%= link_to(image_tag('header-logo.png', class: "logo hidden-phone hidden-tablet", :alt => t('site.name')), root_path) %>
</div>