.media
  .event
    .date
      @include makeColumn(1, 0)
      display: inline
      margin-top: 8px 0 0 -3px
      .day,
      .month,
      .hour
        text-align: center
      .day,
      .month
        font-weight: bold
      .day
        font-size: 40px
        line-height: 31px
      .month
        font-size: 25px
        line-height: 26px
      .hour
        font-size: 15px
    .poster
      @include makeColumnoMargin(2, 0)
      display: inline-block
    .details
      @include makeColumn(4, 0)
      display: inline-block
      margin-left: -40px
      .title
        font-size: 20px
        line-height: 26px
      .description,
      .frequency
        font-size: 12px
      .frequency
        color: $grayLight
      .follow
        margin-top: -10px

