<% content_for :javascript do %>
  $("#tabs").tabs({ 
    ajaxOptions: { 
      dataType: "script",
      success: function(data) { eval(data); }
    }
  });
<% end %>

<div id="tabs" class="block">
  <ul class="activity_tabs">
    <li><%= link_to "<span>#{ h owner.name }</span>".html_safe, "#wall-profile" %></li>

    <% owner.relations.sort.each do |r| %>
      <li><%= link_to "<span>#{ h r.name }</span>".html_safe,
                      polymorphic_path([ owner, Activity.new ], :section => r.id, :wall => true),
                      :title => "wall-#{ r.id }" %></li>
    <% end %>
  </ul>

  <div id="wall-profile">
    <%= render :partial => 'activities/index',
               :locals => { :owner      => owner,
                            :activities => owner.wall(:profile,
                                                      :for => current_subject).
                                                 paginate(:page => params[:page]) } %>
  </div>

  <% owner.relations.sort.each do |r| %>
    <div id="wall-<%= r.id %>"></div>
  <% end %>
</div>


