div.repository,
.documents
  @include grid-core-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
  float: left
  margin-left: 2.5%

section.repository
  display: block
  clear: both

#repository
  
  .repository_show
    @include grid-core-span(1, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: inline
  input
    &[type="text"]
      width: 24% !important
      display: inline
      margin-top: 20px
      float: left
      margin-left: 20px
   
  .btn
    float: right
    width: auto
    display: inline-block
    margin: 23px 16px 0 -14px
  .tab-content
    @include grid-core-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
    padding-bottom: 100px
  
  .repository-list
    .document,
    .picture,
    .audio,
    .video
      min-height: 81px

  nav.more
    clear: both
    margin-top: 10px
    .btn-see-more
      position: absolute
      z-index: 100
      padding: 0px 10px 0px 4px
    .loading
      z-index: 200
      position: relative

  #comments
    .new_comment
      margin-left: 44px

.documents

  input
    &[type="text"]
      width: 24% !important
      display: inline
      margin-top: 20px
      float: left
      margin-left: 20px
  .btn
    float: right
    width: auto
    display: inline-block
    margin: 23px 16px 0 -14px

#new_document-modal
  .modal-body
    input
      &[type="text"]
        width: 94% !important
        float: none
