#link_preview
  .info 
    input
      &[type="text"]
        @include border-radius(5px)
  
#link_description
  @include makeColumnoMargin(6, 0)
  @include border-radius(5px)
  resize: none

.link_height
  background-color: $black

.activity_objects
  margin-left: 56px
  .attachment_thumb
    @include makeColumnoMargin(1, 0)
    background: black
    .attachment_text_link
      font-size: 14px
      .post 
        p 
          margin: 0 0 4px

.link
  display: inline
  margin-left: 19px
  .thumb
    @include makeColumnoMargin(1, 0)
    display: inline
    margin-top: 14px
  .text
    @include makeColumnoMargin(3, 0)
    display: inline-block