/**************REPOSITORIES css *************/

[class^="iconx-"],   [class*=" iconx-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("icons/iconrepository32.png");
  background-position: 32px 32px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
[class^="iconx-"]:last-child,   [class*=" iconx-"]:last-child {
  *margin-left: 0;
}
.iconx-default { background-position: 0  -42px;  }
.iconx-pdf     { background-position: -126px -42px;  }
.iconx-word    { background-position: -168px -42px;  }
.iconx-ppt     { background-position: -210px -42px;  }
.iconx-excel   { background-position: -252px -42px; }
.iconx-audio   { background-position: -294px -42px; }
.iconx-picture { background-position: 0-126px; }
.iconx-video   { background-position: 0 -210px; }
.iconx-swf     { background-position: -168px -210px; }
.iconx-quiz    { background-position: -210px -168px; }
.iconx-vc      { background-position: -378px -84px;  }

.iconx-default:hover { background-position: 0  0;  }
.iconx-pdf:hover     { background-position: -126px 0;  }
.iconx-word:hover    { background-position: -168px 0;  }
.iconx-ppt:hover     { background-position: -210px 0;  }
.iconx-excel:hover   { background-position: -252px 0; }
.iconx-audio:hover   { background-position: -294px 0; }
.iconx-picture:hover { background-position: 0 -84px; }
.iconx-video:hover   { background-position: 0 -168px; }
.iconx-swf:hover     { background-position: -168px -168px; }
.iconx-quiz:hover    { background-position: -210px -210px;  }
.iconx-vc:hover      { background-position: -378px -126px; }


/*..................icon navigation 22x22....................... */

li{
  list-style-type:none}

[class^="iconnav-"], [class*=" iconnav-"] {
  background-image: url("icons/icon_nav.png");
  background-position:22px 22px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:22px;
  width:22px;
  line-height:22px;
  vertical-align:text-top;
  *margin-right: .3em;


}
[class^="iconnav-"]:last-child, [class*="iconnav-"]:last-child {
}
.iconnav-white {
  background-image: url("icons/icon_nav.png");
}
/* normal*/
.iconnav-home { background-position:0 0;}
.iconnav-message {background-position:-32px 0;}
.iconnav-followers {background-position:-64px 0;}
.iconnav-notification {background-position:-96px 0;}
.iconnav-quiz {background-position:-159px 0;}
.iconnav-tools {background-position:-128px 0;}
/* alarm*/
.iconnav-notification_message {background-position:-32px -26px;}
.iconnav-notification_followers {background-position:-64px -26px;}
.iconnav-notification_notification {background-position:-96px -26px;}
/* hover*/
.iconnav-home:hover {background-position:0px -52px;}
.iconnav-message:hover {background-position:-32px -52px;}
.iconnav-followers:hover {background-position:-64px -52px;}
.iconnav-notification:hover {background-position:-96px -52px;}
.iconnav-quiz:hover {background-position:-159px -52px;}
.iconnav-tools:hover {background-position:-128px -52px;}

.iconnav-mashme { background-position: 0 -78px ;}
.iconnav-mashme:hover { background-position: 0 -104px ;}
.iconnav-mashmered { background-position: -32px -78px ;}
.iconnav-star { background-position: -32px -104px ;}
.iconnav-star:hover { background-position: -64px -78px ;}
.iconnav-starred { background-position: -64px -78px ;}
.iconnav-my { background-position: - 96px -104px ;}
.iconnav-my:hover { background-position: -96px -78px;}
.iconnav-myred { background-position: -128px -104px;}


/*..................icon file 16x16....................... */

[class^="iconfile16-"], [class*=" iconfile16-"] {
  background-image: url("icons/iconfile16.png");
  background-position:16px 16px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  line-height:16px;
  vertical-align:text-top;
  *margin-right: .3em;
}
[class^="iconfile16-"]:last-child, [class*="iconfile16-"]:last-child {
}
.iconfile16-file16_white {
  background-image: url("icons/iconfile16.png");}

.iconfile16-file16_file { background-position: 0 0;}
.iconfile16-file16_add { background-position: -26px 0;}
.iconfile16-file16_remove { background-position: -52px 0;}
.iconfile16-file16_delete { background-position: -78px 0;}
.iconfile16-file16_ok { background-position: -104px 0;}
.iconfile16-file16_upload { background-position: -130px 0;}
.iconfile16-file16_donwload { background-position: -156px 0;}
.iconfile16-file16_send { background-position: -182px 0;}
.iconfile16-file16_edit { background-position: -208px 0;}

/*hover*/

.iconfile16-file16_file:hover { background-position: 0 -26px;}
.iconfile16-file16_add:hover { background-position: -26px -26px;}
.iconfile16-file16_remove:hover { background-position: -52px -26px;}
.iconfile16-file16_delete:hover { background-position: -78px -26px;}
.iconfile16-file16_ok:hover { background-position: -104px -26px;}
.iconfile16-file16_ upload:hover { background-position: -130px -26px;}
.iconfile16-file16_donwload:hover { background-position: -156px -26px;}
.iconfile16-file16_send:hover { background-position: -182px -26px;}
.iconfile16-file16_edit:hover { background-position: -208px -26px;}

/*..................icon file 32x32....................... */

[class^="iconfile32-"], [class*=" iconfile32-"] {
  background-image: url("icons/iconfile32.png");
  background-position:32px 32px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:32px;
  width:32px;
  line-height:32px;
  vertical-align:text-top;
  *margin-right: .3em;}

[class^="iconfile32-"]:last-child, [class*="iconfile32-"]:last-child {
}
.iconfile32-file32_white {background-image: url("icons/iconfile32.png");}

.iconfile32-file32_file { background-position: 0 0;}
.iconfile32-file32_add { background-position: -42px 0;}
.iconfile32-file32_remove { background-position: -84px 0;}
.iconfile32-file32_delete { background-position: -126px 0;}
.iconfile32-file32_ok { background-position: -168px 0;}
.iconfile32-file32_upload { background-position: -210px 0;}
.iconfile32-file32_donwload { background-position: -252px 0;}
.iconfile32-file32_send { background-position: -294px 0;}
.iconfile32-file32_edit { background-position: -336px 0;}

/*hover*/

.iconfile32-32_file:hover { background-position: 0 -42px;}
.iconfile32-file32_add:hover { background-position: -42px -42px;}
.iconfile32-file32_remove:hover { background-position: -84px -42px;}
.iconfile32-file32_delete:hover { background-position: -126px -42px;}
.iconfile32-file32_ok:hover { background-position: -168px -42px;}
.iconfile32-file32_upload:hover { background-position: -210px -42px;}
.iconfile32-file32_donwload:hover { background-position: -252px -42px;}
.iconfile32-file32_send:hover { background-position: -294px -42px;}
.iconfile32-file32_edit:hover { background-position: -336px -42px;}

/*..................icon file 75x75....................... */

[class^="icon75-"], [class*=" icon75-"] {
  display: inline-block;
  width: 75px;
  height: 75px;
  line-height: 75px;
  vertical-align: text-top;
  background-image: url("icons/iconrepository75.png");
  background-position: 75px 75px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}

[class^="icon75-"]:last-child,   [class*=" icon75-"]:last-child {
  *margin-left: 0;
}

.icon75-default { background-position: 0  -90px; }
.icon75-text    { background-position: -170px -90px; }
.icon75-pdf     { background-position: -255px -90px; }
.icon75-word    { background-position: -340px -90px; }
.icon75-ppt     { background-position: -425px -90px; }
.icon75-excel   { background-position: -510px -90px; }
.icon75-audio   { background-position: -595px -90px; }
.icon75-picture { background-position: 0px -260px;   }
.icon75-video   { background-position: 0px -430px; }
.icon75-swf     { background-position: -340px -425px;}
.icon75-quiz    { background-position: -425px -425px;}


.icon75-default:hover { background-position: 0  -5px; }
.icon75-text:hover    { background-position: -170px -5px; }
.icon75-pdf:hover     { background-position: -255px -5px; }
.icon75-word:hover    { background-position: -340px -5px; }
.icon75-ppt:hover     { background-position: -425px -5px; }
.icon75-excel:hover   { background-position: -510px -5px; }
.icon75-audio:hover   { background-position: -595px -5px; }
.icon75-picture:hover { background-position: 0px -175px;   }
.icon75-video:hover   { background-position: 0px -345px; }
.icon75-swf:hover     { background-position: -340px -340px;}
.icon75-quiz:hover    { background-position: -425px -340px;}






/*.................. icon repository 32 x 32 px......................*/

[class^="icon_repository32-"], [class*=" icon_repository32-"] {
  background-image: url("icons/iconrepository32.png");
  background-position:32px 32px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:32px;
  width:32px;
  line-height:32px;
  vertical-align:text-top;
  *margin-right: .3em;

}
[class^="icon_repository32-"]:last-child, [class*="icon_repository32-"]:last-child {
}
.icon_repository32-white {
  background-image: url("icons/iconrepository32.png");}

/*................................................... */

.icon_repository32-32_file { background-position: 0 -42px;}
.icon_repository32-32_mathml { background-position: -42px -42px;}
.icon_repository32-32_txt { background-position: -84px -42px;}
.icon_repository32-32_pdf { background-position: -126px -42px;}
.icon_repository32-32_word { background-position: -168px -42px;}
.icon_repository32-32_ppt { background-position: -210px -42px;}
.icon_repository32-32_excel { background-position: -252px -42px;}
.icon_repository32-32_audio { background-position: -294px -42px;}
.icon_repository32-32_mp3 { background-position: -336px -42px;}
.icon_repository32-32_wav { background-position: -378px -42px;}
.icon_repository32-32_picture { background-position: 0 -126px ;}
.icon_repository32-32_tiff { background-position: -42px -126px ;}
.icon_repository32-32_jpg { background-position: -84px -126px ;}
.icon_repository32-32_gif{ background-position: -126px -126px ;}
.icon_repository32-32_png { background-position: -168px -126px ;}
.icon_repository32-32_svg { background-position: -210px -126px ;}
.icon_repository32-32_rar { background-position: -252px -126px ;}
.icon_repository32-32_zip { background-position: -294px -126px ;}
.icon_repository32-32_presentation { background-position: -336px -126px;}
.icon_repository32-32_videoconference{ background-position: -378px -126px;}
.icon_repository32-32_video { background-position: 0 -210px ;}
.icon_repository32-32_avi { background-position: -42px -210px ;}
.icon_repository32-32_mp4 { background-position: -84px -210px ;}
.icon_repository32-32_mov { background-position: -126px -210px ;}
.icon_repository32-32_flash { background-position: -168px -210px ;}
.icon_repository32-32_quiz { background-position: -210px -210px ;}
.icon_repository32-32_link { background-position: -252px -210px;}
.icon_repository32-32_embed { background-position: -294px -210px;}


/*........................hover........................... */

.icon_repository32-32_file:hover { background-position: 0 0;}
.icon_repository32-32_mathml:hover { background-position: -42px 0;}
.icon_repository32-32_txt:hover { background-position: -84px 0;}
.icon_repository32-32_pdf:hover { background-position: -126px 0;}
.icon_repository32-32_word:hover { background-position: -168px 0;}
.icon_repository32-32_ppt:hover { background-position: -210px 0;}
.icon_repository32-32_excel:hover { background-position: -252px 0;}
.icon_repository32-32_audio:hover { background-position: -294px 0;}
.icon_repository32-32_mp3:hover { background-position: -336px 0;}
.icon_repository32-32_wav:hover { background-position: -378px 0;}
.icon_repository32-32_picture:hover { background-position: 0 -84px ;}
.icon_repository32-32_tiff:hover { background-position: -42px -84px ;}
.icon_repository32-32_jpg:hover { background-position: -84px -84px ;}
.icon_repository32-32_gif:hover { background-position: -126px -84px ;}
.icon_repository32-32_png:hover { background-position: -168px -84px ;}
.icon_repository32-32_svg:hover { background-position: -210px -84px ;}
.icon_repository32-32_rar:hover { background-position: -252px -84px ;}
.icon_repository32-32_zip:hover { background-position: -294px -84px ;}
.icon_repository32-32_presentation:hover { background-position: -336px -84px;}
.icon_repository32-32_videoconference:hover { background-position: -378px -84px;}
.icon_repository32-32_video:hover { background-position: 0 -168px ;}
.icon_repository32-32_avi:hover { background-position: -42px -168px ;}
.icon_repository32-32_mp4:hover { background-position: -84px -168px ;}
.icon_repository32-32_mov:hover { background-position: -126px -168px ;}
.icon_repository32-32_flash:hover { background-position: -168px -168px ;}
.icon_repository32-32_quiz:hover { background-position: -210px -168px ;}
.icon_repository32-32_link:hover { background-position: -252px -168px;}
.icon_repository32-32_embed:hover { background-position: -294px -168px;}


/*.................. icon repository 75 x 75 px......................*/

[class^="icon_repository75-"], [class*=" icon_repository75-"] {
  background-image: url("icons/iconrepository75.png");
  background-position:75px 75px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:75px;
  width:75px;
  line-height:75px;
  vertical-align:text-top;
  *margin-right: .3em;}

[class^="icon_repository75-"]:last-child, [class*="icon_repository75-"]:last-child {
}
.icon_repository75-75_repository_white {
  background-image: url("icons/iconrepository75.png");}

/*................................................... */

.icon_repository75-75_file { background-position: 0 -85px;}
.icon_repository75-75_mathml { background-position: -85px -85px;}
.icon_repository75-75_txt { background-position: -170px -85px;}
.icon_repository75-75_pdf { background-position: -255px -85px;}
.icon_repository75-75_word { background-position: -340px -85px;}
.icon_repository75-75_ppt { background-position: -425px -85px;}
.icon_repository75-75_excel { background-position: -510px -85px;}
.icon_repository75-75_audio { background-position: -595px -85px;}
.icon_repository75-75_mp3 { background-position: -680px -85px;}
.icon_repository75-75_wav { background-position: -756px -85px;}
.icon_repository75-75_picture { background-position: 0 -255px ;}
.icon_repository75-75_tiff { background-position: -85px -255px ;}
.icon_repository75-75_jpg { background-position: -170px -255px ;}
.icon_repository75-75_gif{ background-position: -255px -255px ;}
.icon_repository75-75_png { background-position: -340px -255px ;}
.icon_repository75-75_svg { background-position: -425px -255px ;}
.icon_repository75-75_rar { background-position: -510px -255px ;}
.icon_repository75-75_zip { background-position: -595px -255px ;}
.icon_repository75-75_presentation { background-position: -680px -255px;}
.icon_repository75-75_videoconference{ background-position: -756px -255px;}
.icon_repository75-75_video { background-position: 0 -425px ;}
.icon_repository75-75_avi { background-position: -85px -425px ;}
.icon_repository75-75_mp4 { background-position: -170px -425px ;}
.icon_repository75-75_mov { background-position: -255px -425px ;}
.icon_repository75-75_flash { background-position: -340px -425px ;}
.icon_repository75-75_quiz { background-position: -425px -425px ;}
.icon_repository75-75_link { background-position: -510px -425px;}
.icon_repository75-75_embed { background-position: -595px -425px;}


/*........................hover........................... */

.icon_repository75-75_file:hover { background-position: 0 0;}
.icon_repository75-75_mathml:hover { background-position: -85px 0;}
.icon_repository75-75_txt:hover { background-position: -170px 0;}
.icon_repository75-75_pdf:hover { background-position: -255px 0;}
.icon_repository75-75_word:hover { background-position: -340px 0;}
.icon_repository75-75_ppt:hover { background-position: -425px 0;}
.icon_repository75-75_excel:hover { background-position: -510px 0;}
.icon_repository75-75_audio:hover { background-position: -595px 0;}
.icon_repository75-75_mp3:hover { background-position: -680px 0;}
.icon_repository75-75_wav:hover { background-position: -756px 0;}
.icon_repository75-75_picture:hover { background-position: 0 -170px ;}
.icon_repository75-75_tiff:hover { background-position: -85px -170px ;}
.icon_repository75-75_jpg:hover { background-position: -170px -170px ;}
.icon_repository75-75_gif:hover { background-position: -255px -170px ;}
.icon_repository75-75_png:hover { background-position: -340px -170px ;}
.icon_repository75-75_svg:hover { background-position: -425px -170px ;}
.icon_repository75-75_rar:hover { background-position: -510px -170px ;}
.icon_repository75-75_zip:hover { background-position: -595px -170px ;}
.icon_repository75-75_presentation:hover { background-position: -680px -170px;}
.icon_repository75-75_videoconference:hover { background-position: -756px -170px;}
.icon_repository75-75_video:hover { background-position: 0 -340px ;}
.icon_repository75-75_avi:hover{ background-position: -85px -340px ;}
.icon_repository75-75_mp4:hover { background-position: -170px -340px ;}
.icon_repository75-75_mov:hover { background-position: -255px -340px ;}
.icon_repository75-75_flash:hover { background-position: -340px -340px ;}
.icon_repository75-75_quiz:hover { background-position: -425px -340px ;}
.icon_repository75-75_link:hover { background-position: -510px -340px;}
.icon_repository75-75_embed:hover { background-position: -595px -340px;}


/*.................. icon message 22 x 22 px......................*/



[class^="iconmessage22-"], [class*="iconmessage22-"] {
  display:inline-block;
  height:22px;
  width:22px;
  vertical-align:text-top;
  background-image: url("icons/icon_message22.png");
  background-position:22px 22px;
  background-repeat:no-repeat;
  line-height:22px;
  *margin-right: .3em;}

[class^="iconmessage22-"]:last-child, [class*="iconmessage22-"]:last-child {
  *margin-left: 0;
}
.iconmessage22-message22_white {
  background-image: url("icons/icon_message22.png");}

.iconmessage22-message22_message { background-position: 0 0;}
.iconmessage22-message22_new { background-position: -32px 0;}
.iconmessage22-message22_remove { background-position: -64px 0;}
.iconmessage22-message22_trash { background-position: -96px 0;}
.iconmessage22-message22_ok { background-position: -128px 0;}
.iconmessage22-message22_sendbox { background-position: -160px 0;}
.iconmessage22-message22_inbox { background-position: -192px 0;}
.iconmessage22-message22_mail { background-position: -224px 0;}
.iconmessage22-message22_edit { background-position: -256px 0;}

/*hover*/

.iconmessage22-message22_message:hover { background-position: 0 -32px;}
.iconmessage22-message22_new:hover { background-position: -32px -32px;}
.iconmessage22-message22_remove:hover { background-position: -64px -32px;}
.iconmessage22-message22_trash:hover { background-position: -96px -32px;}
.iconmessage22-message22_ok:hover { background-position: -128px -32px;}
.iconmessage22-message22_sendbox:hover { background-position: -160px -32px;}
.iconmessage22-message22_inbox:hover { background-position: -192px -32px;}
.iconmessage22-message22_mail:hover { background-position: -224px -32px;}
.iconmessage22-message22_edit:hover {background-position: -256px -32px;}




/*.................. icon message 22 x 22 px......................*/



[class^="iconchat22-"], [class*="iconchat22-"] {
    display:inline-block;
    height:22px;
    width:22px;
    vertical-align:text-top;
    background-image: url("icon_chat22.png");
    background-position:22px 22px;
    background-repeat:no-repeat;
    line-height:22px;
    *margin-right: .3em;}

[class^="iconchat22-"]:last-child, [class*="iconchat22-"]:last-child {
    *margin-left: 0;
}
.iconmessage22-message22_white {
    background-image: url("icon_chat22.png");}

.iconchat22-chat22_message { background-position: 0 0;}
.iconchat22-chat22_new { background-position: -32px 0;}
.iconchat22-chat22_remove { background-position: -64px 0;}
.iconchat22-chat22_trash { background-position: -96px 0;}
.iconchat22-chat22_ok { background-position: -128px 0;}
.iconchat22-chat22_sendbox { background-position: -160px 0;}
.iconchat22-chat22_inbox { background-position: -192px 0;}
.iconchat22-chat22_mail { background-position: -224px 0;}
.iconchat22-chat22_edit { background-position: -256px 0;}

/*hover*/

.iconchat22-chat22_message:hover { background-position: 0 -32px;}
.iconchat22-chat22_new:hover { background-position: -32px -32px;}
.iconchat22-chat22_remove:hover { background-position: -64px -32px;}
.iconchat22-chat22_trash:hover { background-position: -96px -32px;}
.iconchat22-chat22_ok:hover { background-position: -128px -32px;}
.iconchat22-chat22_sendbox:hover { background-position: -160px -32px;}
.iconchat22-chat22_inbox:hover { background-position: -192px -32px;}
.iconchat22-chat22_mail:hover { background-position: -224px -32px;}
.iconchat22-chat22_edit:hover {background-position: -256px -32px;}


/*......................................................................tool 16x16*/

li{list-style-type:none}

[class^="icontool16-"], [class*=" icontool16-"] {

  background-image: url("tools16.png");
  background-position:16px 16px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  line-height:16px;
  vertical-align:text-top;
  margin-right: 5px;

}
[class^="icontool16-"]:last-child, [class*="icontool16-"]:last-child {
}
.icontool16-tool16_white {
  background-image: url("tools16.png");}


.icontool16-tool16_ok{background-position: 0 0;}
.icontool16-tool16_delete {background-position: -26px 0;}
.icontool16-tool16_more { background-position: -52px 0;}
.icontool16-tool16_less {background-position: -78px 0;}
.icontool16-tool16_play { background-position: -104px 0;}
.icontool16-tool16_revert_play {  background-position: -130px 0;}
.icontool16-tool16_pause {  background-position:-156px 0;}
.icontool16-tool16_advance{ background-position: -182px 0;}
.icontool16-tool16_rewind { background-position: -208px 0;}
.icontool16-tool16_volume_up { background-position: -234px 0;}
.icontool16-tool16_volume_down { background-position: -260px 0;}
.icontool16-tool16_quit_volumen { background-position: -286px 0;}
.icontool16-tool16_edit { background-position: -312px 0;}
.icontool16-tool16_tools { background-position: -338px 0;}
.icontool16-tool16_recharge { background-position: -364px 0;}
.icontool16-tool16_save { background-position: -390px 0;}
.icontool16-tool16_out_site { background-position: -416px 0;}
.icontool16-tool16_tags{ background-position: 0 -26px;}
.icontool16-tool16_add { background-position: -26px -26px;}
.icontool16-tool16_phone { background-position: -52px -26px;}
.icontool16-tool16_trash { background-position: -78px -26px;}
.icontool16-tool16_close { background-position: -104px -26px;}
.icontool16-tool16_open { background-position: -130px -26px;}
.icontool16-tool16_searcher { background-position: -156px -26px;}
.icontool16-tool16_amplify { background-position: -182px -26px;}
.icontool16-tool16_reduce { background-position: -208px -26px;}
.icontool16-tool16_close { background-position: -234px -26px;}
.icontool16-tool16_arrow_1 { background-position: -260px -26px;}
.icontool16-tool16_arrow_2 { background-position: -286px -26px;}
.icontool16-tool16_arrow_3 { background-position: -312px -26px;}
.icontool16-tool16_arrow_4 { background-position: -338px -26px;}
.icontool16-tool16_arrow_5{ background-position: -364px -26px;}
.icontool16-tool16_arrow_6 { background-position: -390px -26px;}
.icontool16-tool16_arrow_7 { background-position:-416px -26px;}
.icontool16-tool16_arrow_8 { background-position: 0 -52px;}
.icontool16-tool16_close_2{ background-position: -26px -52px;}
.icontool16-tool16_prohibited { background-position: -52px -52px;}
.icontool16-tool16_symbol_question { background-position: -78px -52px;}
.icontool16-tool16_symbol_alert { background-position: -104px -52px;}
.icontool16-tool16_symbol_exclamation { background-position: -130px -52px;}
.icontool16-tool16_symbol_ok { background-position: -156px -52px;}
.icontool16-tool16_symbol_delete { background-position: -182px -52px;}
.icontool16-tool16_question { background-position: -208px -52px;}
.icontool16-tool16_print { background-position: -234px -52px;}
.icontool16-tool16_send_movile { background-position: -260px -52px;}
.icontool16-tool16_qrcode { background-position: -286px -52px;}
.icontool16-tool16_spam { background-position: -312px -52px;}
.icontool16-tool16_embed { background-position: -338px -52px;}
.icontool16-tool16_ramification { background-position: -364px -52px;}
.icontool16-tool16_html { background-position: -390px -52px;}
.icontool16-tool16_rss { background-position: -416px -52px;}
.icontool16-tool16_info { background-position: -312px -156px;}



/*hover*/

.icontool16-tool16_ok:hover{background-position: 0 -78px;}
.icontool16-tool16_delete:hover {background-position: -26px -78px;}
.icontool16-tool16_more:hover { background-position: -52px -78px;}
.icontool16-tool16_less:hover {background-position: -78px -78px;}
.icontool16-tool16_play:hover { background-position: -104px -78px;}
.icontool16-tool16_revert_play:hover {  background-position: -130px -78px;}
.icontool16-tool16_pause:hover {  background-position:-156px -78px;}
.icontool16-tool16_advance:hover{ background-position: -182px -78px;}
.icontool16-tool16_rewind:hover { background-position: -208px -78px;}
.icontool16-tool16_volume_up:hover { background-position: -234px -78px;}
.icontool16-tool16_volume_down:hover { background-position: -260px -78px;}
.icontool16-tool16_quit_volumen:hover { background-position: -286px -78px;}
.icontool16-tool16_edit:hover { background-position: -312px -78px;}
.icontool16-tool16_tools:hover { background-position: -338px -78px;}
.icontool16-tool16_recharge:hover { background-position: -364px -78px;}
.icontool16-tool16_save:hover { background-position: -390px -78px;}
.icontool16-tool16_out_site:hover { background-position: -416px -78px;}
.icontool16-tool16_tags:hover{ background-position: 0 -104px;}
.icontool16-tool16_add:hover { background-position: -26px -104px;}
.icontool16-tool16_phone:hover { background-position: -52px -104px;}
.icontool16-tool16_trash:hover { background-position: -78px -104px;}
.icontool16-tool16_close:hover { background-position: -104px -26px;}
.icontool16-tool16_open { background-position: -130px -104px;}
.icontool16-tool16_searche:hover { background-position: -156px -104px;}
.icontool16-tool16_amplify:hover { background-position: -182px -104px;}
.icontool16-tool16_reduce:hover { background-position: -208px -104px;}
.icontool16-tool16_close:hover { background-position: -234px -104px;}
.icontool16-tool16_arrow_1:hover { background-position: -260px -104px;}
.icontool16-tool16_arrow_2:hover { background-position: -286px -104px;}
.icontool16-tool16_arrow_3:hover{ background-position: -312px -104px;}
.icontool16-tool16_arrow_4:hover { background-position: -338px -104px;}
.icontool16-tool16_arrow_5:hover{ background-position: -364px -104px;}
.icontool16-tool16_arrow_6:hover { background-position: -390px -104px;}
.icontool16-tool16_arrow_7:hover { background-position:-416px -104px;}
.icontool16-tool16_arrow_8:hover { background-position: 0 -130px;}
.icontool16-tool16_close_2:hover{ background-position: -26px -130px;}
.icontool16-tool16_prohibited:hover { background-position: -52px -130px;}
.icontool16-tool16_symbol_question:hover { background-position: -78px -130px;}
.icontool16-tool16_symbol_alert:hover { background-position: -104px -52px;}
.icontool16-tool16_symbol_exclamation:hover { background-position: -130px -130px;}
.icontool16-tool16_symbol_ok:hover { background-position: -156px -130px;}
.icontool16-tool16_symbol_delete:hover { background-position: -182px -130px;}
.icontool16-tool16_question:hover { background-position: -208px -130px;}
.icontool16-tool16_print:hover { background-position: -234px -130px;}
.icontool16-tool16_send_movile:hover { background-position: -260px -130px;}
.icontool16-tool16_qrcode:hover { background-position: -286px -130px;}
.icontool16-tool16_spam:hover { background-position: -312px -130px;}
.icontool16-tool16_embed:hover { background-position: -338px -130px;}
.icontool16-tool16_ramification:hover { background-position: -364px -130px;}
.icontool16-tool16_html:hover { background-position: -390px -130px;}
.icontool16-tool16_rss:hover { background-position: -416px -130px;}

.icontool16-tool16_followers { background-position: 0px -156px;}
.icontool16-tool16_followers:hover { background-position: -52px -156px;}
.icontool16-tool16_my {background-position: -26px -156px;}
.icontool16-tool16_my:hover { background-position: -78px -156px;}
.icontool16-tool16_star {background-position: -104px -156px;}
.icontool16-tool16_star2 {background-position: -130px -156px;}
.icontool16-tool16_star:hover { background-position: -260px -156px;}
.icontool16-tool16_star2:hover { background-position: -286px -156px;}
.icontool16-tool16_mashme {background-position: -156px -156px;}
.icontool16-tool16_mashme:hover { background-position: -182px -156px;}
.icontool16-tool16_mashmered {background-position: -208px -156px;}
.icontool16-tool16_mashmewhite {background-position: -234px -156px;}
