<%= image_tag 'step_2.png' %>

<section class="new_app">
<h4>Set the application's logo</h4>

<%= render partial: 'avatars/form',
           object: @client,
           as: :avatarable %>

<%= link_to "Next", edit_site_client_path(@client, step: 3) %>
</section>
