<%= image_tag 'step_3.png' %>

<section class="new_app">
  <h4>Manage roles and permissions</h4>

  <section class="site_client_roles">
    <%= render partial: 'relation/customs/index',
               locals: { subject: resource } %>
    <%= link_to 'Finish', resource, class: "next-step" %>
  </section>
</section>