<%= image_tag 'step_3.png' %>

<h4>Manage roles and permissions</h4>

<section class="site_client_roles">
  <%= render partial: 'relation/customs/index',
             locals: { subject: resource } %>
</section>

<%= link_to 'Finish', resource %>
