<%= image_tag 'step_2.png' %>

<section class="create_logo_app">
  <h4>Set the application's logo</h4>

  <%= render partial: 'avatars/form',
             object: resource.actor,
             as: :avatarable %>

  <%= link_to "Next", polymorphic_path(resource, action: 'edit', step: 3), class: "next-step" %>
</section>
