<div id="new_site_client-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new_site_client-modal-title" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="new_site_client-modal-title"><%= t 'site.client.new.title' %></h3>
  </div>
  <div class="modal-body">
    <%= render partial: 'form' %>
  </div>
</div>
