<article class="left">
  <div class="pull-left">
    <%= image_tag client.logo.url(:small) %>
  </div>

  <h2>
    <%= client.name %>
  </h2>

  <div class="description">
    <%= client.description %>
  </div>
</article>
