<section id="new_site_client">
  <%= render partial: 'toolbar/home' %>

  <section class="new_site_client">
    <%= image_tag 'step_1.png' %>

    <article class="new_app">
      <%= render partial: 'form' %>
    </article>
  </section>
</section>

