<section id="new_site_client">
  <%= render partial: 'toolbar/home' %>

  <section class="new_site_client">
    <h1><%= t 'site.client.new.title' %></h1>

    <%= render partial: 'form' %>
  </section>
</section>

