<h1><%= @client.name %></h1>



<section>
  <article  class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" alt="market" style="width: 64px; height: 64px;" src="/user.png">
    </a>
    <div class="media-body">
      <h3 class="media-heading">
        nombre del generic
      </h3>
      <div class="url">
        <span class="title">
        </span>
        url de generic...
      </div>
      <div class="callback">
        <span class="title">
        </span>
        callback de generic...
      </div><div class="description">
        <span class="title">
        </span>
        Descripción de generic...
      </div>
    </div>
  </article>
</section>
