$(function(){
  var cheesecakeData = {
    container: {
      id: "contacts_cheesecake",
      width: 440,
      height: 440
    },
    grid: {
        id: "contacts_grid",
        divIdPrefix: "actor_",
        maxOpacity: 0.8
    },
    colors : {
      normalSector : {
        background : "#DEEFF8",
        border : "#1F4A75",
        font : "#1F4A75",
        click : "#BDC7D8",
        mouseover : "#D4E4EA",
        mouseup : "#DEEFF8",
        mouseout : "#DEEFF8"
      },
      extraSector : {
        background : "#879EB5",
        border : "#1F4A75",
        font : "#1F4A75",
        click : "#97AEC5",
        mouseover : "#97AEC5",
        mouseup : "#879EB5",
        mouseout : "#879EB5"
      }
    },
    rMax : 200,
    center: {x : 220, y : 220}
  };
  cheesecakeData.sectors = <%= raw(current_subject.cheesecake_json) %>.sectors;
  var cheese = new socialCheesecake.Cheesecake(cheesecakeData);
  cheese.syncSectorFocusCallbacks = false;
  cheese.onSectorFocusBegin = function(cheesecake,callback){
    if((cheese.highlightedSector)&&(cheese.highlightedSector.auxiliar)){
      $("#sector_editor").data("prepare")(cheese);
      $("#sector_editor").data("show")();
    }else{
      $("#contacts_grid_available").fadeOut("fast", callback);      
    }
  };
  cheese.onSectorFocusEnd = function(cheesecake){
    if((cheese.highlightedSector)&&(cheese.highlightedSector.auxiliar)){
      
    }else{
      $("#contacts_grid_available").fadeIn("fast");
      $("#edit_sector_button").on("click.edit", cheese, $("#edit_sector_button").data("edit_sector_click"));
      $("#edit_sector_button").fadeIn("fast");
    }
  };
  cheese.onSectorUnfocusBegin = function(cheesecake,callback){
    if((cheese.highlightedSector)&&(cheese.highlightedSector.auxiliar)){
      
    }else{
      $("#contacts_grid_available").fadeOut("fast", callback);
      $("#edit_sector_button").off("click");
      $("#edit_sector_button").fadeOut("fast");
    }
  };
  cheese.onSectorUnfocusEnd = function(cheesecake){
    if((cheese.highlightedSector)&&(cheese.highlightedSector.auxiliar)){
      
    }else{
      $("#contacts_grid_available").fadeIn("fast");      
    }
    if($("#sector_editor").width() > 0){
      $("#edit_sector_button").html("<%= escape_javascript image_tag "btn/cheese_edit.png" %>");
      $("#sector_editor").data("hide")();
    }
  };
  cheese.onSubsectorAdded = function(subsector){
    $("#sector_editor").data("prepare")(subsector.getCheesecake(),subsector);
  };
  $("#contacts_filter_input").keyup(function(){
    cheese.searchEngine.filter($("#contacts_filter_input").val());
    //TODO: Make users unfiltered visible again
  });
  cheese.onChange = function(cheesecake){
    var initial = cheesecake.getInitialState();
    var changes = cheesecake.getChanges();
    if((changes.actors)&&(changes.actors.length==0)&&(changes.sectors)&&(changes.sectors.length==0)&&(changes.subsectors)&&(changes.subsectors.length==0)){
      $("#contacts_changes_button").hide();
      $("#contacts_save").hide();
    }else{
      $("#contacts_changes_button").show();
      $("#contacts_save").show();
      var total = 0;
      if(changes.actors)
          total += changes.actors.length;
      if(changes.sectors)
          total += changes.sectors.length;
      if(changes.subsectors)
          total += changes.subsectors.length;
      $("#contacts_changes_button_total").html(total);
    }
    var changes_html = "";
    var actors = changes.actors;
    $("#contacts_save_changes").val(JSON.stringify(changes));
    for(var i in actors){
      actor = actors[i];
      if(actor.justAdded){
        var new_subsectors = actor.subsectors;
        var new_subsectors_string = "";
        for(var i in new_subsectors){
          if(i > 0) new_subsectors_string += ", ";
          new_subsectors_string += cheesecake.getSubsectorById(new_subsectors[i]).label;
        }
        changes_html += "<div class=\"change_added\">" + actor.name + " has been removed from " + old_subsectors_string + "</div>";
      }else if(actor.subsectors.length==0){
        var old_subsectors = [];
        var old_subsectors_string = "";
        for(var i in initial.actors){
          if(actor.id==initial.actors[i].id){
            old_subsectors = initial.actors[i].subsectors;
            break;
          }
        }
        for(var i in old_subsectors){
          if(i > 0) old_subsectors_string += ", ";
          old_subsectors_string += cheesecake.getSubsectorById(old_subsectors[i]).label;
        }
        changes_html += "<div class=\"change_deleted\">" + actor.name + " has been removed from " + old_subsectors_string + "</div>";
      }else{
        var old_subsectors = [];
        var new_subsectors = actor.subsectors;
        var left_subsectors = "";
        var joined_subsectors = "";
        for(var i in initial.actors){
          if(actor.id==initial.actors[i].id){
            old_subsectors = initial.actors[i].subsectors;
            break;
          }
        }
        for(var i in old_subsectors){
          if(new_subsectors.indexOf(old_subsectors[i])==-1){
            if(left_subsectors.length!=0){
              left_subsectors += ", ";
            }
            left_subsectors += cheesecake.getSubsectorById(old_subsectors[i]).label;
          }
        }
        for(var i in new_subsectors){
          if(old_subsectors.indexOf(new_subsectors[i])==-1){
            if(joined_subsectors.length!=0){
              joined_subsectors += ", ";
            }
            joined_subsectors += cheesecake.getSubsectorById(new_subsectors[i]).label;
          }
        }
        if((joined_subsectors.length!=0)&&(left_subsectors.length!=0)){
          changes_html += "<div class=\"change_modified\">" + actor.name + " has been removed from " + left_subsectors + " and added to " + joined_subsectors + "</div>";
        }else if(joined_subsectors.length!=0){
          changes_html += "<div class=\"change_added\">" + actor.name + " has been added to " + joined_subsectors + "</div>";
        }else{
          changes_html += "<div class=\"change_deleted\">" + actor.name + " has been removed from " + left_subsectors + "</div>";  
        }
      }
    }
    $("#contacts_changes_details").html(changes_html);
  }
  $('#contacts_changes_button').tipsy({
    delayIn: 0,
    delayOut: 0,
    gravity: 'se',
    opacity: 1,
    trigger: 'manual',
    className: 'contacts_changes_tipsy_menu',
    html: true,
    hoverable: true,
    title: function(){
      return $('#contacts_changes').html();
    }
  });
  $("#contacts_save_changes").val(JSON.stringify(cheese.getChanges()));
  $("#contacts_save_form").off("submit.disable");
  $("#contacts_save_form").on("submit.disable",function(){
    
    if($(".contacts_changes_tipsy_menu").length != 0){
      $("#contacts_changes_button").tipsy("hide");
    }
    $("#contacts_grid_saving").show();
    cheese.disable();
    $("#contacts_save_button").val("<%= t('cheesecake.changes.saving') %>").attr("disabled","true");
  });
});      