<% content_for :title do%>
  <%= t('contact.other')%>
<%end%>

<% toolbar :home, :option => :contacts %>

<% location link_to(t("contact.other"),contacts_path) %>
<div id="cheesecake">
<%= render :partial => "index"%>
</div>

<div class="space_center"></div>
