<ul class="sf-menu" >
  <li class="current" id="account">
    <a href="#" class="sf-with-ul" id="btn_menu_config"><%= t('account.one') %><span class="sf-sub-indicator"> »</span></a>
    <ul>
      <li>
        <%= link_to 'Configurations', '#' %>
      </li>
      <li>
        <%= link_to 'Notifications', '#' %>
      </li>
      <li class="current">
        <%= link_to 'Privacy', '#' %>
      </li>
    </ul>
  </li>
</ul>
