<div id="footerFront">
	<div id="footer">
	  <ul>
    <li id="w3c_css"><%= link_to ( image_tag('w3c_xhtml.gif', :size=>'56x20'), 'http://validator.w3.org/check?uri=referer') %></li>
    <li id="w3c_xhtml"><%= link_to (image_tag('w3c_css.gif', :size=>'56x20'),'http://jigsaw.w3.org/css-validator/check/referer') %></li>
		<li>2010 © </li>
		<li id="trade_mark"><%= link_to t('socialstream'), 'http://social-stream.dit.upm.es/' %></li>
	  </ul>
	</div>
</div>



