<div id="footerFront">
	<div id="footer">
	  <ul>
		<li>2011 © </li>
		<li id="trade_mark"><%= link_to t('socialstream'), 'http://social-stream.dit.upm.es/' %></li>
	  </ul>
    <div class="row">
      <%= link_to(image_tag('w3c_xhtml.png'), 'http://validator.w3.org/check?uri=referer') %> -
      <%= link_to(image_tag('w3c_css.png'),'http://jigsaw.w3.org/css-validator/check/referer') %>
    </div>
	</div>
</div>



