<div id="header_search">      
  <form action="#" method="post">
    <input id="global_search_input" name="search" type="text" autocomplete="off" />
  </form>
  <div id="global_search_display">
    <%= image_tag('loading.gif', :class => :loading) %>
  </div>
</div>
<%= javascript_tag do %>
$(document).ready(function() {
  var last_search = "";
  
  $(document).click(function() {
    $("#global_search_display").hide();
  });
  $('#global_search_input').click(function(e) {
    e.stopPropagation();
  });
  $('#global_search_display').click(function(e) {
    e.stopPropagation();
  });
  
  $("#global_search_input").Watermark("Search");

  $("#global_search_input").keyup(function() {
    var searchstring = $(this).val();
    if((searchstring=="")){
      $("#global_search_display").hide();
    }
    else if(searchstring.length < 2) {
      $("#global_search_display").hide();
    } else {
      if (last_search!=searchstring){
        last_search=searchstring;
        $("#global_search_display").html("<%= escape_javascript(image_tag('loading.gif', :class => :loading)) %>").show();
        $.ajax({
          type : "GET",
          url : "<%= search_url %>?id=" + searchstring + "&mode=header_search",
          success : function(html) {      
            if ($("#global_search_input").val()==searchstring){ //Only show if input value is still the same
              $("#global_search_display").html(html);
            }          
          },
          error: function(){
            $("#global_search_display").html("Something went wrong with search engine");
         }
        });
      }
    }
    return false;
  });  
})
<% end %>